<header class="zc-header px-3">
  <div class="zc-header-left">
    <!-- <a class="zc-logo"><img alt="Logo" src="{{ly.siteConfig.cdnUrl}}/apollo_cms/themes/apollo_cms/images/head-logo.png"></a> -->
    <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
      <img alt="Logo" src="https://cdn.v35.dev.zeroco.de/apollocms/themes/apollo_assets//images/login-logo-clr.png">
    </a>
  </div>
  <div class="zc-header-meddile" *ngIf="ly.userDetails && ly.userDetails.rootUser">
    <p><span>You are logged in as </span><span class="zc-user-name"> {{ ly.userDetails.name }}</span></p>
    <!-- <span class="zc-switch-back">Click here to <a href="#">Switch Back</a></span> -->
  </div>

</header>

<div class="blank-layout">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>