/* custom table styles */
.closure-table {
  width: auto;
}
.closure-table th,
.closure-table td {
  padding: 6px;
}
.closure-table thead tr th:first-child {
  /* width: 150px; */
  text-align: left;
}
.closure-table tbody tr td {
  background-color: #fff;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
  font-weight: 500;
}
.closure-table tbody tr:first-child td {
  border-top: 1px solid #dfdfdf;
}
.closure-table tbody tr td:first-child,
.closure-table tfoot tr td:first-child {
  text-align: left;
  font-weight: bold;
}
.closure-table tbody tr td:last-child,
.closure-table tfoot tr td:last-child {
  border-right: 1px solid #dfdfdf;
}
.closure-table tbody tr {
  background-color: #fff;
  border: 1px solid #dfdfdf;
}
.closure-table tfoot tr td {
  background-color: #ffe0c1;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
  font-weight: bold;
}
/* custom table styles end*/