<!-- <div class="top-header hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="social-top">
          <ul class="top-social">
            <li><a href="javascript:;">Skip to Navigation</a></li>
            <li><a href="javascript:;">Skip to Content</a></li>
            <li><a href="javascript:;">A-</a></li>
            <li><a href="javascript:;">A</a></li>
            <li><a href="javascript:;">A+</a></li>
            <li class="black-css"><a href="javascript:;">A</a></li>
            <li class="white-css"><a href="javascript:;">A</a></li>
            <li>
              <select class="form-control">
                <option>English</option>
                <option>Hindi</option>
                <option>Marathi</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="pull-right" style="display:flex;">
          <div class="top-phone mr10">
            <input type="search" id="Search" name="q" placeholder="Search the site..." class="form-control" />
          </div>
          <a *ngIf="!ly.userDetails?.name"
            style="background: #fff;color: #000;border-radius: 5px;padding: 10px 10px; text-decoration:none;margin-left: 15px;"
            href="#/zcbase/account/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="top-header hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="social-top">
          <ul class="top-social" id="topcontent">
            <li><a href="javascript:void(0);">Skip to Navigation</a></li>
            <li><a href="javascript:void(0);" title="textsizedecrease" onclick="decreaseFontSize()">-A</a></li>
            <li><a href="javascript:void(0);" title="default" onclick="defaultFontSize()">A</a></li>
            <li><a href="javascript:void(0);" title="textsizeincrease" onclick="increaseFontSize()">+A</a></li>
            <li class="black-css"><a href="javascript:void(0);">A</a></li>
            <li class="white-css"><a href="javascript:void(0);">A</a></li>
            <li>
              <select class="form-control form-control-text">
                <option>English</option>
                <option>Hindi</option>
                <option>Marathi</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="pull-right">
            <div class="top-phone mr10" style="color: #000;" *ngIf="ly.userDetails.email">Logged in as: <b>{{ ly.userDetails.email}}</b></div>
          <div class="top-phone mr10"><input type="search" id="Search" name="q" placeholder="Search the site..."
              class="form-control form-control-text"></div>
          <div class="top-phone top-phone1 mr10" *ngIf="!ly.userDetails?.name"><a href="/#/mfc/account/login" class="home-login">Login</a></div>
          <div class="top-phone top-phone1 mr10" *ngIf="!ly.userDetails?.name"><a href="/#/mfc/account/registration" class="home-login">Sign Up</a></div>
          <div class="top-phone top-phone1 mr10"><a href="sws/faq.html" title="Help"><i
                class="fas fa-info-circle fa-2x i-iconcolor"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="head-color">
  <div class="container">
    <div class="header-middle">
      <div class="col-md-1 col-sm-1 filmcity-logo">
        <a class="logo" *ngIf="ly.siteConfig.clientLogo">
          <img height="50px" [src]="ly.siteConfig.clientLogo" alt="Logo" />
        </a>
        <!-- <a href="https://www.filmcell.maharashtra.gov.in/sws/index.html" target="_blank"><img src="assets/themes/mahait/images/Filmcitylogo.svg" alt="Film City Logo" /></a> -->
      </div>
      <div class="col-md-10 col-sm-10">
        <p class="maharashtra_film_stage">{{ly.siteConfig.siteTitle}}
          <!-- <small class="small-text">Description will come here</small> -->
        </p>
      </div>

      <!-- <div class="col-md-1 col-sm-1 maharashtra-logo">
        <a href="https://www.maharashtra.gov.in/1125/Home" target="_blank"><img src="assets/themes/mahait/images/Seal_of_Maharashtra.png" alt="Maharashtra Logo" /></a>
      </div> -->
    </div>
  </div>
</div>


<!-- <div class="back-groud-image"></div> -->
<div class="login-container">
  <div class="log container">
    <div class="login-two-blocks">
      <div class="login-left">
        <section class="bg-img clearfix">
          <div class="container">
            <div class="row row1">
              <div class="col-md-6 padding-top">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="login-right">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="app-links" *ngIf="ly.appList && ly.appList.length>1">
      <ul class="nav">
        <li class="nav-item" *ngFor="let app of ly.appList">
          <a class="nav-link active" [routerLink]="[ '/'+app.code]">{{app.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer class="clearfix">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2020  All Rights Reserved.</p>

        </div>
        <div class="col-md-6 text-right">
          <div class="flex-display">
            <div>
              <p>Powered by</p>
            </div>
            <a [href]="ly.siteConfig.powerByUrl" target="_blank">
              <!-- <span>{{ly.siteConfig.powerByTitle}}</span> -->
              <img *ngIf="ly.siteConfig.powerByLogo" [src]="ly.siteConfig.powerByLogo" alt="logo" />
            </a>
          </div>
          <!-- <ul>
            <li class="right-border">
              <a href="sws/faq.html">FAQs</a> </li>

            <li class="right-border">
              <a href="sws/Privacy-Policy.html">Privacy Policy</a> </li>

            <li class="right-border">
              <a href="sws/Terms-of-Use.html">Terms of Use</a>
            </li>

            <li>
              <a href="sws/MFC.html">Contact Us</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </section>
</footer>
