

/*form styles*/

#msform {
  position: relative;
  display: flex;
  overflow: hidden;
}

#msform fieldset {
  background: white;
  border: 0 none;
  padding: 0px 30px;
  box-sizing: border-box;
 /*stacking fieldsets above each other*/
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
  display: none;
}


/*inputs*/

#msform input,
#msform textarea,
#msform select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  font-family: "roboto-regular";
  margin-bottom: 10px;
  
}


/*buttons*/

#msform .action-button {
  width: 100px;
  background: #39b549;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "roboto-regular";
  letter-spacing: 1px;
  margin: 0 auto;
    display: inline-block;
    /* margin-top: 40px !important; */
    text-align: center;
    text-decoration: none;
}
#msform .cancel-btn{
  background: #d6d6d6 !important;
 margin-right: 15px !important;
}
#msform .cancel-btn:hover{
  background: #cacaca !important;
}
#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #1aad2d;
}
#msform label{
    margin-bottom: 3px !important;
 }
 #msform label i{
   color: #ababab !important;
 }
/*headings*/


.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
}


/*progressbar*/

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

#progressbar ul {
  padding-left:0px !important;
}

#progressbar li {
  list-style-type: none;
  color: #000;
  font-size: 9px;
  font-size: 16px;
  /* line-height: 37px; */
  color: #000000;
  font-family: "Roboto-regular";
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  line-height: 25px;
  display: block;
  font-size: 14px;
  color: #333;
  background: white;
  border-radius: 3px;
  text-align: center;
  margin-right: 10px;
  /* margin: 0 auto 5px auto; */
}


/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before{
 content: "✔";
  color: #3cb878;
}
#progressbar li.active{
  color: #3cb878;
}

/* switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 23px;
  margin-top: 12px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  position: absolute;
  content: "✔";
  height: 27px;
  width: 27px;
  left: 6px;
  bottom: -1px;
  background-color: #3cb878;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  padding-top: 2px;
  box-shadow: 0 0px 4px 3px #a5e2c3;
  color: #fff;
}
.slider:before {
  position: absolute;
  content: "✖";
  height: 27px;
  width: 27px;
  left: 0px;
  bottom: -1px;
  background-color: #d81b3e;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  padding-top: 3px;
  box-shadow: 0 0px 4px 3px #f7c2c9;
  color: #fff;
}
input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* welcome styles */
.welcome-card{
  display: flex;
    padding: 20px 15px;
    margin-bottom: 10px;
}
.fs-title{
  font-size: 25px;
  color: #000000;
  font-family: "Roboto-Regular";
  margin: 10px 0px 30px;
  font-weight: 400;
  overflow: hidden;
}
.fs-title span{
  color: #007e95;
  font-weight: 600;
  text-transform: uppercase;
}
.right-value{
    float: right;
    color: #000000 !important;
}
.active-clr{
    color: #007e95;
}
.welcome-card p{
  font-size: 15px;
  color: #000000;
  font-family: "Roboto-regular";
  margin: 0;
  line-height: 23px;
}
.custom-psub-form{
    margin-top: 30px;
  }
.welcome-card i{
  font-size: 26px;
  padding: 0px 25px 0px 10px;
}
.welcome-card h4,
.custom-psub-form h4,
.select-question{
  font-size: 16px;
  color: #000000;
  font-family: "Roboto-Regular";
  font-weight: 700;
  margin: 0 0 10px;
}
.select-question{
  padding-top: 25px;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0px 15px 20px;
}
.welcome-card h4 span{
  color: #007e95;
}
.welcome-card .icon-info1{
  color: #ff0000;
}
.welcome-card .icon-users-1,
.link-color{
  color: #00adef;
}
.welcome-card .icon-right-check2{
  color: #3bb778;
}
.bg-pink{
   background-color: #ffe5e5;
}
.bg-gray{
  background-color: #f3f9eb;
}
.bg-skyblue{
  background-color: #e7f7fd;
}
.bg-red{
  background-color: #ef1313;
  color: #fff;
  padding: 2px 4px;
}
.bg-cayan{
  background-color: #fdf7e3;
}
.error-color{
  color: #ff342f !important;
}
.mt-40{
  margin-top: 40px !important;
}
.required-star{
  color: #ff342f !important;
}
.received-text{
  font-size: 16px !important;
  color: #3cb878 !important;
  font-family: "Roboto-Regular" !important;
  font-weight: 700 !important;
}
.registration-complate{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.registration-complate img{
  padding-right: 30px;
}
.registration-complate-card{
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 15px;
}
.registration-complate-card h5{
  font-size: 16px;
  color: #ef1313;
  font-family: "Roboto-Regular";
  font-weight: 700;
  margin: 0px 0px 8px;
}
.registration-complate-card p{
  font-size: 14px;
  color: #000;
  margin: 0px 0px 5px;
  line-height: 22px;
}
.registration-complate-card h4{
  font-size: 16px;
  color: #000000;
  margin: 5px 0px 10px;
  font-family: "Roboto-Regular";
  font-weight: 700;
}
.registration-complate-card i{
  font-size: 20px;
}
.pr-25{
  padding-right: 25px;
}
.add-dea-btn{
    background-color: #1d6b99 !important;
  }
  .add-dea-btn:hover{
    background-color: #075d90 !important;
  }
  .print-btn{
    font-size: 26px !important;
    line-height: 22px !important;
    padding: 8px 10px !important;
    background: #00adef;
    border: none !important;
    border-radius: 50px !important;
    margin-right: 15px;
  }
  #msform .modal {
    background-color: rgba(17, 73, 107, 0.3);
  }
  .modal-radio{
    display: flex;
    align-items: center;
  }
  .modal-radio input{
    width: 20px !important;
  }
  .modal-header{
    background: none;
      border: none !important;
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      padding: 30px 30px 20px 30px !important;
  }
  .modal-header h4{
    font-size: 21px;
    line-height: 20px;
    color: #282f5b !important;
    font-family: "Roboto";
    font-weight: 700;
  }
  .add-dea-btn{
    font-size: 15px;
    font-family: "roboto-regular";
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    font-weight: 600;
    border-radius: 50px;
}
.register-finish .action-button{
    margin-top: 0px !important;
    margin: initial !important;
   
}
.register-finish{
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-head{
  text-align: center;
}
.preview-div {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 20px 40px;
  border: 2px solid #ccc;
  margin-top: 30px;
}
.preview-header-cls{
  margin-bottom: 0;
  margin-top: 35px;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 15px;
}
.profile-info{
  border-spacing: 0;
  width: 70%;
}
.profile-info th{
  text-align: left;
  padding: 5px 0;
  font-weight: normal;
}
.profile-info td{
  text-align: left;
  padding: 5px 0;
  font-weight: bold;
}
.custom-table-with-border {
  width: 100%;
  border-spacing: 0;
}
.custom-table-with-border th {
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
.custom-table-with-border td {
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}


.popover_wrapper {
  position: relative;
}
.popover_content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0px;
  transform: translate(0, 10px);
  background-color: #ffe5e5;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover_content:before {
  position: absolute;
  z-index: -1;
  content: "";
  left: 85px;
  top: -7px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffe5e5 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover_wrapper .info-tag:hover + .popover_content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

@media screen and(max-width: 900px){
    #progressbar{
        width: 250px;
        min-width: 250px;
    }
}

@media screen and (max-width:767px){
    #msform{
        display: block;
        position: relative;
        padding-top: 40px;
    }
    #progressbar{
        flex-direction: row;
    }
    
    #progressbar {
        margin-bottom: 0px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        width: auto;
        display: table;
    }
    #msform fieldset{
        padding: 0;
    }
    .fs-title{
        padding-right: 40px;
        font-size: 20px;
    }
    .right-value {
        float: unset;
        color: #000000 !important;
        position: absolute;
        right: 0;
        top: 10px;
    }
    #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 14%;
        float: left;
        position: relative;
        letter-spacing: 1px;
        display: table-cell;
    }
    
    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 24px;
        height: 24px;
        line-height: 26px;
        display: block;
        font-size: 12px;
        background: #cacaca;
        color: #FFF;
        border-radius: 25px;
        margin: 0 auto 0px auto;
    }
    
    /*progressbar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 21px;
        z-index: -1; /*put it behind the numbers*/
    }
    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none; 
    }
    #progressbar li.active:before,  #progressbar li.active:after{
        background: #27AE60;
        color: white;
    }
    #progressbar li.active {
        content: none;
        color: #FFF;
    }

    ul#progressbar {
      position: fixed;
      width: 100%;
      z-index: 99;
      top: 70px;
      left: 0;
      background: #FFF;
      height: 40px;
  }
  #progressbar li{
    padding: 10px 0 0 0;
  }
  #progressbar li span{
    display: none;
  }


}
@media screen and (max-width: 599px){
    .main-content {
        padding-top: 0;
    }
    .registration-complate {
        display: block;
    }
    .registration-complate div:first-child{
        margin-bottom: 15px;
    }
    .preview-head {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .preview-header-cls{
        margin-top: 15px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .profile-info{
        width: 100%;
    }
    .profile-info td{
        padding: 0px 0;
        font-weight: bold;
        font-size: 12px;
    }
    .custom-table-with-border th,
    .custom-table-with-border td{
        font-size: 12px;
    }
    #msform label{
        font-size: 13px;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .add-dea-btn{
        font-size: 12px;
        padding: 5px 14px;
    }
    #msform .action-button{
        padding: 6px 4px;
    }
}
@media screen and (max-width: 359px){
    #progressbar li{
        width: 12%;
    }
}



.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.popover{
  background-color: #ffe5e6 !important;
    border: none !important;
    border-radius: 0 !important;
}
.bs-popover-right>.arrow::after {
  border-right-color: #ffe5e6 !important;
}
.bs-popover-right>.arrow::before {
  border-right-color: #ffe5e6 !important;
}