@charset "UTF-8";

@font-face {
  font-family: "tssfont-2";
  src:url("../fonts/tssfont-2/tssfont-2.eot");
  src:url("../fonts/tssfont-2/tssfont-2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tssfont-2/tssfont-2.woff") format("woff"),
    url("../fonts/tssfont-2/tssfont-2.ttf") format("truetype"),
    url("../fonts/tssfont-2/tssfont-2.svg#tssfont-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tssfont-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tss-"]:before,
[class*=" tss-"]:before {
  font-family: "tssfont-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tss-accounting:before {
  content: "\61";
}
.tss-add-user:before {
  content: "\62";
}
.tss-bell:before {
  content: "\63";
}
.tss-binoculars:before {
  content: "\64";
}
.tss-buildings:before {
  content: "\65";
}
.tss-bulleted-list:before {
  content: "\66";
}
.tss-calculator:before {
  content: "\67";
}
.tss-calendar:before {
  content: "\68";
}
.tss-check-mark:before {
  content: "\69";
}
.tss-checked:before {
  content: "\6a";
}
.tss-clock-circular-outline:before {
  content: "\6b";
}
.tss-coding:before {
  content: "\6c";
}
.tss-company:before {
  content: "\6d";
}
.tss-conference:before {
  content: "\6e";
}
.tss-contacts:before {
  content: "\6f";
}
.tss-contract:before {
  content: "\70";
}
.tss-down-arrow:before {
  content: "\71";
}
.tss-download:before {
  content: "\72";
}
.tss-download-arrow:before {
  content: "\73";
}
.tss-excel:before {
  content: "\74";
}
.tss-filter:before {
  content: "\75";
}
.tss-floppy-disk-save-button:before {
  content: "\76";
}
.tss-id-card:before {
  content: "\77";
}
.tss-junction:before {
  content: "\78";
}
.tss-left-arrow-angle:before {
  content: "\79";
}
.tss-magnifier:before {
  content: "\7a";
}
.tss-mathsoperators:before {
  content: "\41";
}
.tss-message-closed-envelope:before {
  content: "\42";
}
.tss-money-bag:before {
  content: "\43";
}
.tss-notification:before {
  content: "\44";
}
.tss-paperclip:before {
  content: "\45";
}
.tss-plus:before {
  content: "\46";
}
.tss-plus-symbol:before {
  content: "\47";
}
.tss-pptx-file-format:before {
  content: "\48";
}
.tss-question:before {
  content: "\49";
}
.tss-recycling-bin:before {
  content: "\4a";
}
.tss-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet:before {
  content: "\4b";
}
.tss-right-arrow:before {
  content: "\4c";
}
.tss-settings:before {
  content: "\4d";
}
.tss-share:before {
  content: "\4e";
}
.tss-skycraper:before {
  content: "\4f";
}
.tss-sort-up-and-down-arrows-couple:before {
  content: "\50";
}
.tss-speech-bubble-with-text-lines:before {
  content: "\51";
}
.tss-student-card:before {
  content: "\52";
}
.tss-survey:before {
  content: "\53";
}
.tss-team:before {
  content: "\54";
}
.tss-test:before {
  content: "\55";
}
.tss-three-horizontal-rods:before {
  content: "\56";
}
.tss-three-small-arrows:before {
  content: "\57";
}
.tss-video-conference:before {
  content: "\58";
}
.tss-web-camera:before {
  content: "\59";
}
.tss-writing:before {
  content: "\5a";
}
.tss-xlsx-file-format-extension:before {
  content: "\30";
}
.icon-bell:before {
  content: '\63';
  font-family: "tssfont-2" !important;
}
.icon-search-logo:before {
  content: "\7a";
  font-family: "tssfont-2" !important;
}