<div class="zc-edition-header zc-no-side-menu">
	<a class="sidebar-toggle" href="javascript:;" id="nav-toggle" mattooltip="Click to toggle Menu" mattooltipposition="right">
		<img alt="" src="assets/themes/abn/images/menu_bars.png" />
	</a>
	<a class="btn zc-backbtn" *ngIf="zc.config.platform=='mobile'" routerLink="/t/{{zc.params.app}}/{{zc.params.module}}/{{((zc.queryParams.s) ? '/'+zc.queryParams.s : '')}}"> <i class="fa fa-angle-left"></i> 
	</a>
	<div class="zc-edition-header-left">
		<a [routerLink]="['/']" class="zc-logo">
			<img src="assets/themes/abn/images/logo.png" alt="Logo" />
			<p id="date" class="zc-date"></p>
		</a>
	</div>
	<div class="zc-edition-header-right">
		<ul>
			<li (click)="zc.zc_modal_2410.open()" class="edition-selector" id="divEditionSelector" style="display: flex;"> <span id="editionSelector"> {{zc.editionTitle || zc.params.module | uppercase}} </span ><span class="icon-angle-down"></span>
			</li>
			<li class="edition-date-selector">
				<div class="dropdown keep-inside-clicks-open" id="divDateSelector">
					<a class="btn dropdown-toggle1 date-text" (click)="zc.showDatePicker = !zc.showDatePicker" onClick="loadDates();"> <span id="formatedDate"> {{zc.params.page.split('-')[2]+'-'+zc.params.page.split('-')[1]+'-'+zc.params.page.split('-')[0] | date:'EEE,d MMM yy'}}</span> 
					</a>
				</div>
			</li>
		</ul>
		<div class="zc-social-media-block"> <a *ngIf="zc.user" class="editions-link" routerLink="/epa/editions/editions">Editions</a ><div class="social-icons"> <a href="https://www.facebook.com/abntelugutv" target="_blank" class="icon-facebook" ></a> 
			<a href="https://twitter.com/abntelugutv" target="_blank" class="icon-twitter"></a>
		</div>
		<a href="javascript:;" class="email-link">
			<input type="mail" class="form-control" id="subscribeEmail" placeholder="Email" />
		</a> <a href="javascript:;" class="subscribe-link" id="subscribe">Subscribe</a>
	</div>
</div>
<div class="date-picker-container" [ngClass]="(zc.showDatePicker)?'d-block':'d-none'">
	<ul>
		<li class="weeks-list" id="lastWeekDaysList">Loading...</li>
		<li>
			<div id="datepicker"></div>
		</li>
	</ul>
</div>
</div>