<div class="edition-mobile-slider">
    <!-- <a *ngFor="let slide of zc.editions_data" routerLink="/t/{{slide.uid_actual}}/{{(slide.sub_sub_category.code || slide.sub_category.code)}}" class="zc-edition-card">
        <div class="slider-img"><img [src]="zc.config.E_PAPER_S3_URL + slide.edition_info.basePath + slide.edition_info.thumbnailSmallWebp"/></div>
       <p> 
           <span *ngIf="slide.sub_sub_category.name">{{slide.sub_sub_category.name}}</span>
           <span *ngIf="!slide.sub_sub_category.name">{{slide.sub_category.name}}</span>
        </p>
     </a> -->
</div>