.zc-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 7px;
}

.zc-horizontal-card {
    padding: 0 !important;
}

.zc-horizontal-card .zc-card-left {
    margin-right: 15px;
}

.zc-horizontal-card .zc-card-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    padding: 15px 15px 5px 15px;
}

.zc-horizontal-card .zc-card-img {
    height: 60px;
    width: 60px;
    min-width: 60px;
}

.zc-horizontal-card .zc-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.zc-horizontal-card .zc-card-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.zc-horizontal-card .zc-card-item {
    width: 25%;
    flex-grow: 1;
    padding-right: 15px !important;
}

.zc-horizontal-card .zc-card-item>span {
    margin-bottom: 7px;
    display: block;
    line-height: 19px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.zc-horizontal-card .zc-card-item .field label>span,
.zc-horizontal-card .zc-card-item .field label span {
    margin-bottom: 7px;
    display: block;
}

.zc-horizontal-card .zc-card-item label .field-label {
    margin: 0;
}

.zc-horizontal-card .zc-card-item>label,
.zc-horizontal-card .zc-card-item label .field-label {
    display: block;
    color: #a1a1a1 !important;
    font-weight: normal !important;
}

.zc-horizontal-card .zc-form-add-btn {
    float: inherit;
}

.zc-horizontal-card .zc-card-footer {
    border-top: 1px solid #ccc;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.zc-horizontal-card .zc-card-footer .zc-card-item {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px !important;
}

.zc-horizontal-card .zc-card-footer .zc-card-item label {
    color: #a1a1a1;
}

.zc-horizontal-card .zc-card-footer .zc-card-item span {
    display: inline-block;
    margin: 0;
}

.zc-horizontal-card .zc-card-footer button span {
    color: #fff;
    padding-bottom: 0 !important;
    font-weight: 600;
    padding: 0 !important;
}

.zc-horizontal-card .zc-card-footer button {
    margin-left: 5px;
    border-radius: 13px !important;
    font-family: 'Poppins', sans-serif !important;
}

.zc-horizontal-flex-card .zc-card-item label {
    display: block;
    line-height: 14px;
}

.zc-horizontal-card .zc-card-item span,
.zc-horizontal-card .zc-card-item .field label {
    color: #000;
    font-weight: 500;
}

.zc-horizontal-card .zc-card-status span,
.zc-horizontal-card .zc-card-status label {
    padding-right: 0 !important;
}

.zc-horizontal-card .zc-card-status {
    text-align: right;
}

.zc-horizontal-card .zc-card-status label {
    margin-right: 0 !important;
}

.zc-horizontal-card .zc-card-actions .zc-form-add-btn .row {
    margin: 0;
}

.ui-clickable.dropdown-toggle {
    font-size: 15px !important;
}

.zc-horizontal-card.zc-horizontal-img-card .zc-card-right {
    width: calc(100% - 60px);
}

.catalog-item {
    background-color: white;
    text-align: center;
}

.catalog-item-link {
    padding: 40px 30px;
    display: block;
}

.catalog-item-img-wrap {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

.catalog-item-img {
    height: 100%;
    width: auto;
}

.catalog-item-info {
    position: relative;
}

.catalog-item-title {
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.catalog-item-description {
    margin: 0;
    color: #8c8c8c;
    line-height: 17px;
}

.catalog-item-price {
    margin: 0;
    line-height: 36px;
    font-size: 36px;
    font-weight: 400;
}

.catalog-item-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}