.zc-defualt-tab .mat-ink-bar,
.zc-defualt-tabs-bordered-top .mat-ink-bar,
.zc-tabs-justify .mat-ink-bar,
.zc-tabs-justify-bordered-top .mat-ink-bar {
    height: 0px;
}

.zc-defualt-tab .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-defualt-tab .mat-tab-list .mat-tab-labels .mat-tab-label-active:focus,
.zc-defualt-tab .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover,
.zc-defualt-tabs-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-defualt-tabs-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:focus,
.zc-defualt-tabs-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover,
.zc-tabs-justify .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-tabs-justify .mat-tab-list .mat-tab-labels .mat-tab-label-active:focus,
.zc-tabs-justify .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover,
.zc-tabs-justify-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-tabs-justify-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:focus,
.zc-tabs-justify-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 0.25rem 0.2rem 0 0;
    border-bottom: none;
}

.zc-defualt-tabs-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-defualt-tabs-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:focus,
.zc-defualt-tabs-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover,
.zc-tabs-justify-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-tabs-justify-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:focus,
.zc-tabs-justify-bordered-top .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover {
    border-radius: 0;
    border-top: 2px solid #4ce1b6;
}

.zc-tabs-justify .mat-tab-label,
.zc-tabs-justify-bordered-top .mat-tab-label,
.zc-tabs-justify-bordered-bottom .mat-tab-label {
    width: 100%;
}

.zc-tabs-justify-bordered-bottom .mat-tab-group.mat-primary .mat-ink-bar,
.zc-tabs-bordered-bottom .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #4ce1b6;
}

.zc-tabs-pills .mat-tab-header {
    border-bottom: none !important;
}

.zc-tabs-pills .mat-tab-group.mat-primary .mat-ink-bar {
    background: none;
}

.zc-tabs-pills .mat-tab-list .mat-tab-labels .mat-tab-label-active,
.zc-tabs-pills .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover {
    background-color: #70bbfd;
    color: #fff;
    border-radius: 5px;
}

/********************************************************************************
*************************** Tabs styles start here *********************
********************************************************************************/
.mat-tab-group {
    font-family: 'Fira Sans', sans-serif !important;
}

.mat-tab-list {
    background: #fff;
}

.mat-tab-list .mat-tab-labels {
    align-items: center;
}

.zc-tab-content {
    padding: 15px;
}

.mat-tab-body-content .zc-tab-content {
    padding: 0 !important;
}

.mat-tab-list .mat-tab-labels .mat-tab-label {
    font-family: 'Fira Sans';
    min-width: unset;
    font-weight: normal;
    outline: 0;
    color: #888c9b;
    opacity: 1;
}

.mat-tab-list .mat-tab-labels .mat-tab-label:hover {
    border-color: #e6e8ed #e6e8ed rgba(34, 34, 48, .1);
    color: #000;
}

.mat-ink-bar {
    height: 3px;
}

.tabs-padding-none .zc-tabs .zc-tab-content {
    padding: 0;
}

.mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #000;
}

/********************************************************************************
  *************************** Tabs styles end here *********************
  ********************************************************************************/
/********************************************************************************
*************************** Vertical tabs styles start here *********************
********************************************************************************/
.zc-vertical-tabs {
    background-color: #fff;
}

.zc-vertical-tabs .mat-tab-labels,
.zc-vertical-tabs-pills .mat-tab-labels {
    flex-wrap: wrap;
    width: 100%;
}

.zc-vertical-tabs .mat-tab-label,
.zc-vertical-tabs-pills .mat-tab-label {
    min-width: auto;
    width: 100%;
    align-items: initial;
    justify-content: flex-start;
    padding: .85rem 1.5rem;
    border-color: rgba(24, 28, 33, .03) !important;
    border-bottom: 1px solid;
}

.zc-vertical-tabs-pills .mat-tab-label {
    border-bottom: none;
}

.zc-vertical-tabs .mat-ink-bar,
.zc-vertical-tabs-pills .mat-ink-bar {
    display: none;
}

.zc-vertical-tabs .mat-tab-group,
.zc-vertical-tabs-pills .mat-tab-group {
    flex-direction: row;
}

.zc-vertical-tabs-pills .mat-tab-header {
    width: 25%;
    border: none;
}

.zc-vertical-tabs-pills .mat-tab-body-wrapper {
    width: 75%;
    border: none;
}

.zc-vertical-tabs .mat-tab-header {
    width: 25%;
    border: 1px solid #e8e8e9;
}

.zc-vertical-tabs .mat-tab-body-wrapper {
    width: 75%;
    border: 1px solid #e8e8e9;
    border-left: none;
}

.zc-vertical-tabs .mat-tab-label-active {
    color: #000 !important;
    opacity: 1;
    position: relative;
}

.zc-vertical-tabs .zc-tab-content zc-form {
    padding: 15px !important;
    border: none !important;
}

.zc-vertical-tabs .mat-tab-body-content .zc-tab-content {
    padding: 15px !important;
}

.zc-vertical-tabs .mat-tab-list .mat-tab-labels .mat-tab-label-active::after {
    content: '';
    position: absolute;
    right: 0;
    left: auto;
    height: 48px;
    width: 2px;
    background-color: #4ce1b6;
    top: 0;
    z-index: 9;
}

.zc-vertical-tabs-pills .mat-tab-list .mat-tab-labels .mat-tab-label {
    background: #c5c7cf;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-right: 15px;
    color: #fff;
}

.zc-vertical-tabs-pills .mat-tab-list .mat-tab-labels .mat-tab-label:hover {
    background: #888c9b;
}

.zc-vertical-tabs-pills .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    background-color: #70bbfd;
    color: #fff;
}

.zc-vertical-tabs-pills .mat-tab-list .mat-tab-labels .mat-tab-label-active:hover {
    background-color: #70bbfd;
}



/********************************************************************************
  *************************** Vertical tabs styles end here *********************
  ********************************************************************************/