@import "tssfont-2.css";
@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/RoboNunitoto-Regular.ttf") format("truetype"),
    url("../fonts/Nunito-Regular.svg#Nunito-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype"),
    url("../fonts/Nunito-Bold.svg#Nunito-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nunito-Medium.woff") format("woff"), url("../fonts/Nunito-Medium.ttf") format("truetype"),
    url("../fonts/Nunito-Medium.svg#Nunito-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype"),
    url("../fonts/Nunito-SemiBold.svg#Nunito-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Overpass-Regular";
  src: url("../fonts/Overpass-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Overpass-Regular.woff") format("woff"), url("../fonts/Overpass-Regular.ttf") format("truetype"),
    url("../fonts/Overpass-Regular.svg#Overpass-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Overpass-Bold";
  src: url("../fonts/Overpass-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Overpass-Bold.woff") format("woff"), url("../fonts/Overpass-Bold.ttf") format("truetype"),
    url("../fonts/Overpass-Bold.svg#Overpass-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Overpass-SemiBold";
  src: url("../fonts/Overpass-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Overpass-SemiBold.woff") format("woff"), url("../fonts/Overpass-SemiBold.ttf") format("truetype"),
    url("../fonts/Overpass-SemiBold.svg#Overpass-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nunito-Regular" !important;
  font-size: 0.6875rem;
  background-color: #f1f5f8;
  color: #313131;
}
* {
  outline: none !important;
}
/* title and headings style start here */
h1{
  font-family: "Overpass-Bold";
  font-size: 1.25rem !important;
}
h2{
  font-family: "Nunito-Bold";
  font-size: 1rem !important;

}
h3{
  font-family: "Nunito-SemiBold";
  font-size: 0.9375rem !important;
}
h4{
  font-family: "Nunito-SemiBold";
  font-size: 0.875rem !important;
}
h5{
  font-family: "Nunito-Bold";
  font-size: 0.8125rem !important;
}
/* title and headings style end here */
/* button styles start here */
.btn-primary{
  background-color: #5784e1;
  color: #fff;
  border-color: #5784e1;
  border-radius: 0.125rem;
}
.btn-primary:hover{
  background-color: #163b67;
  color: #fff;
  border-color: #163b67;
}
.btn-primary:active{
  background-color: #163b67;
  color: #fff;
  border-color: #333333;
}
.btn-default{
  background-color: #f5f5f5;
  color: #000;
  border-color: #414143 !important;
  border-radius: 0.125rem;
}
.btn-default:hover{
  background-color: #414143;
  color: #fff;
  border-color: #414143;
}
.btn-default:active{
  background-color: #313131;
  color: #fff;
  border-color: #313131 !important;
}
.btn.btn-primary,
.btn.btn-default {
  padding: 0.5rem 0.75rem 0.313rem !important;
  font-size: 0.8125rem;
  font-family: "Nunito-bold";
  text-transform: uppercase;
}
.btn-lightblue{
  background-color: #c4d3f2 !important;
  color: #333 !important;
  border-color: #c4d3f2 !important;
}
.btn-lightblue:hover{
  background-color: #a7bce6 !important;
  color: #333 !important;
  border-color: #a7bce6 !important;
}
/* .btn-lg{
  height: 34px;
  width: 249px;
  padding: 0 !important;
}
.btn-md{
  height: 34px;
  width: 133px;
  padding: 0 !important;
}
.btn-sm{
  height: 34px;
  width: 73px;
  padding: 0 !important;
} */
/* button styles end here */
/* layout styles start here */
ul.zc-menu li.nav-item a.nav-link {
  color: #000;
}
ul.zc-menu li.nav-item{
  border-bottom: 0.063rem solid #f1f5f8;
}
ul.zc-menu li.nav-item.nav-dropdown.open {
  background-color: transparent;
}
ul.zc-menu li.nav-item a.nav-link:hover,
ul.zc-menu li.nav-item:hover {
  background-color: transparent;
}
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items {
  background-color: #e6eff7  !important;
}
ul.zc-menu li.nav-item a.nav-link.active,
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items .nav-item .nav-link:hover {
  color: #000;
  background-color: transparent;
}
.side-menu div .zc-menu .nav-item .nav-link.active::before,
.side-menu div .zc-menu .nav-item .nav-link:hover::before  {
  background: #ed1c24 none repeat scroll 0 0;
  content: "";
  height: 75%;
  left: 0;
  position: absolute;
  width: 0.25rem;
  top: 0.313rem;
}
/* .side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link.active::before {
  background: #ed1c24 none repeat scroll 0 0;
  content: "";
  height: 75%;
  left: 0;
  position: absolute;
  top: 5;
  width: 4px;
} */

ul.zc-menu li.nav-item .nav-dropdown-items a.nav-link:hover{
  background-color: #f1f5f8;
}
.side-menu .header-rightside ul li .user-details:hover .dropdown-menu {
  top: auto !important;
  bottom: 0;
  /* box-shadow: 0px 0px 4px 0.125rem #dceaf5; */
  border: 0.063rem solid #dceaf5;
}

.side-menu {
  background-color: #f1f5f8;
  top: 3.75rem;
  width: 5.625rem;
}
ul.zc-menu li.nav-item {
  border-bottom: none;
  height: auto !important;
  position: relative;
}
ul.zc-menu li.nav-item a.nav-link i{
  width: 100%;
}
ul.zc-menu li.nav-item a.nav-link .nav-link-text{
  display: none;
}
ul.zc-menu li.nav-item a.nav-link {
    display: flex;
    padding: 0.313rem 0;
    position: relative;
    height: auto;
    outline: none !important;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 2.1875rem;
}
ul.zc-menu li.nav-item:hover .nav-dropdown-items {
  opacity: 1;
  display: block;
  left: 5.313rem;
  height: auto;
  top: 0;
  width: 5rem;
  background-color: #f1f5f8 !important;
}
ul.zc-menu li.nav-item .dp-arrow,
ul.zc-menu li.nav-item.nav-dropdown.open .dp-arrow {
  transform: rotate(-90deg);
}
ul.zc-menu li.nav-item .nav-dropdown-items {
  opacity: 0;
  position: absolute;
  display: none;
}
ul.zc-menu li.nav-item a.nav-link i {
  position: relative !important;
  line-height: inherit;
}

.zc-notifications:hover .dropdown-menu,
.zc-notifications:hover .dropdown-menu.show{
  top: -1.875rem !important;
  padding: 0;
  margin-top: 1.875rem;
  min-width: 18.75rem;
  visibility: visible !important;
  display: block !important;
  opacity: 1 !important;
  transition: none !important;
  left: 5.625rem !important;
  /* box-shadow: 0px 0px 4px 0.125rem #dceaf5; */
  border: 0.063rem solid #dceaf5;
}
.zc-notifications a.see-all{
  padding: 0.625rem;
}
.zc-notifications .dropdown-menu,
.user-details .dropdown-menu{
  transition: none !important;
}
.zc-notifications .dropdown-menu.show,
.user-details .dropdown-menu.show{
  transition: none !important;
  visibility: hidden !important;
}
.user-details:hover .dropdown-menu{
  top: -1.875rem !important;
  padding: 0;
  margin-top: 1.875rem;
  min-width: 12.5rem;
  visibility: visible !important;
  display: block !important;
  opacity: 1 !important;
  transition: none !important;
  left: 5.625rem !important;
}
.user-details img{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.user-details, .zc-notifications{
  padding: 0.625rem 0 0;
}
.user-details .dropdown-toggle::after{
  margin-bottom: 1.125rem;
  margin-left: 0;
  color: #aaa;
  font-size: 1rem;
}
.zc-notifications .dropdown-menu:after,
.zc-notifications .dropdown-menu:before{
   display: none;
}
.zc-notifications .dropdown-menu,
.user-details .dropdown-menu{
  border-radius: 0;
    background: #f1f5f8;
    border: none;
}
.zc-notifications .dropdown-menu h4{
  background-color: #dceaf5 !important;
}
.user-details .dropdown-menu ul li:first-child{
  background-color: #dceaf5;
  padding: 0.5rem;
}
.user-details .dropdown-menu ul li button{
  padding: 0.5rem 0.625rem;
 cursor: pointer;
}
.user-details .dropdown-menu ul li:hover{
  background-color: #dceaf5;
}
.user-details .dropdown-item:hover, .user-details .dropdown-item:focus {
  background-color: #dceaf5;
}
ul.zc-menu {
  padding-left: 0;
  overflow-y: visible;
  overflow-x: visible;
  margin: 0;
}
.header-logo{
  width: 5.625rem;
  text-align: center;
}

.header-rightside zc-notifications .dropdown{
  padding: 0.9375rem 0 0.313rem;
  text-align: center;
}
.header-rightside zc-notifications .dropdown a.icon-bell{
  font-size: 1.625rem !important;
  color: #000 !important;
}
.header-rightside a span.zc-number{
  background-color: #5c88e3 !important;
  top: -0.75rem !important;
  right: -0.5rem !important;
  color: #fff;
}
ul.zc-menu .nav-dropdown-items {
  padding: 0;
  max-height: inherit !important;
}

.breadcrumb-widget {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  top: 0 !important;
  padding: 0.625rem 1.25rem 0.625rem 0;
  background-color: #f1f5f8;
  color: #000;
}

.breadcrumb-widget .breadcrumb-left {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex: 1 1 0%;
  padding-left: 1.25rem;
}
.main-content {
  min-height: calc(100vh - 0px);
  padding-top: 3.75rem;
  padding-left: 0;
  transition: all 0.3s;
  background-color: #f1f5f8;
}
.show-menu .main-content{
  margin-left: 5.625rem;
}
.main-content .p-contain {
  padding: 0 1.25rem 1.25rem;
}
.breadcrumb-widget h1{
  padding-left: 1.25rem;
}
ul.zc-menu {
  padding-left: 0;
  height: calc(100vh - 12.5rem);
  /* overflow-y: auto;
  overflow-x: hidden; */
  margin: 0;
}
.header-rightside{
  background-color: #f1f5f8;
  position: fixed;
  width: 5.625rem;
  height: 8.75rem;
}
ul.zc-menu::-webkit-scrollbar {
  width: 0.5em;
}
ul.zc-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
}
ul.zc-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.063rem solid slategrey;
}
ul.zc-menu .nav-item .nav-link .nav-link-text {
  font-size: 0.875rem;
}
ul.zc-menu .nav-dropdown-toggle .nav-item .nav-link .nav-link-text {
  font-size: 0.875rem;
}
ul.zc-menu .nav-dropdown-items {
  padding: 0;
}
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items{
  max-height: inherit;
}
ul.zc-menu .nav-dropdown-items .nav-item .nav-link span {
  display: none !important;
}
/* layout styles end here */
/* tabs styles start here */
.mat-tab-label {
  padding: 0 1.875rem 0 0;
  min-width: auto;
  height: 1.875rem;
  justify-content: left;
}
.mat-ink-bar{
  background-color: #ed1c24 !important;
  height: 0.188rem;
}
/* .mat-ink-bar{
  background-color: transparent !important;
}
.mat-tab-label-active:after{
  content: '';
  display: block;
  height: 3px;
  width: 30px;
  background-color: #ff0000;
  margin-top: 0.8125rem;
  position: absolute;
  left: 15%;
} */
/* .mat-tab-labels .mat-tab-label:first-child{
  padding: 0;
} */
.mat-ink-bar:before,
  .mat-ink-bar:after {
      content: "";
      height: 0.188rem;
      min-width: 22%;
      background-color: #f1f5f8;
      position: absolute;
      left: 0;
  }
  .mat-ink-bar:after {
      left: initial;
      right: 0;
      min-width: 53%;
  }
  .mat-tab-label{
    font-size: 1rem;
    font-family: "Nunito-Regular";
    color: #333333;
    opacity: 1;
  }
  .mat-tab-label.mat-tab-label-active{
  font-family: "Nunito-Bold";
  }
  .mat-tab-body .zc-tab-content{
    padding: 0;
  }
  .mat-tab-body-content{
    overflow: hidden;
  }
  .mat-ripple-element{
    background: none !important;
  }
  /* card-tabs styles start here */
  .white-bg{
    background-color: #fff;
  }
  .card-tabs .mat-tab-label{
    height: auto;
    padding: 0.313rem;
    font-size: 0.75rem !important;
    font-family: "Nunito-Bold";
    min-width: 4.063rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.063rem solid #e1e1e1;
    margin: 0.313rem 0.22rem;
    border-radius: 0.25rem;
    background-color: #fbfcfd;
  }

  .card-tabs .mat-tab-label i{
    display: block;
    font-size: 1.375rem;
    line-height: 1rem;
    padding-right: 0 !important;
  }
  .card-tabs .mat-tab-label.mat-tab-label-active {
    font-family: "Nunito-Bold";
    background-color: #5783e0;
    border: 0.063rem solid #5783e0;
    color: #fff;
  }
  .card-tabs .mat-ink-bar{
    display: none;
  }
  .card-tabs .mat-tab-header{
   padding-bottom: 0.313rem;
}
/* card-tabs styles end here */
/* block-tabs styles start here */
.block-tabs .mat-tab-label{
  margin: 0.313rem;
  padding: 0.5rem 0.625rem;
  min-width: 11.25rem;
  background-color: #fff;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.063rem solid #e2e2e2;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 1.25rem;
}
.block-tabs .mat-tab-label.mat-tab-label-active {
  border-top: 0.313rem solid #5783e0;

}
.block-tabs .mat-tab-header{
  border-bottom: 0rem solid rgba(0,0,0,.12);
}
.block-tabs .mat-ink-bar{
  display: none;
}
/* block-tabs styles end here */
/* custom-width-tabs styles start here */
.custom-width-tabs .mat-tab-label{
  margin: 0.313rem;
  padding: 0.5rem 0.625rem;
  min-width: 10rem;
  background-color: #fff;
  height: auto;
  width: 100%;
  display: table-cell;
  align-items: center;
  justify-content: center;
  border-bottom: 0.063rem solid #e2e2e2;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 1.25rem;
}
.custom-width-tabs .mat-tab-label:first-child,
.custom-width-tabs .mat-tab-label:last-child{
 width: auto;
}
.custom-width-tabs .mat-tab-label.mat-tab-label-active {
  border-top: 0.313rem solid #5783e0;

}
.custom-width-tabs .mat-tab-header{
  border-bottom: 0rem solid rgba(0,0,0,.12);
}
.custom-width-tabs .mat-ink-bar{
  display: none;
}
/* custom-width-tabs styles end here */
/* custom-icon-tabs styles start here */
.custom-icon-tabs{
  background-color: #fff;
  padding: 0.625rem !important;
}
.custom-icon-tabs .mat-ink-bar:before, .custom-icon-tabs .mat-ink-bar:after{
  background-color: #fff;
}
.custom-icon-tabs .mat-tab-label-content div{
  display: flex;
  align-items: center;
}
.custom-icon-tabs .mat-tab-label-content i{
  display: flex;
  font-size: 20px;
  padding-right: 5px !important;
  align-items: center;
}
/* custom-icon-tabs styles start here */
/* tabs styles end here */
/* card template styles start */
.dashboard-task-card .col-3.task-right{
  min-height: 100%;
  max-width: 6.25rem;
  padding: 0;
  flex: 0;
}
.dashboard-task-card .task-left{
  min-height: 100%;
}
.tasks-card.dashboard-task-card{
  align-items: inherit;
}
.dashboard-task-card .task-right .task-action-icon{
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.dashboard-task-card .task-left-checkbox{
  align-items: center;
  display: flex;
  justify-content: end;
}
.dashboard-task-card .todo-action{
  padding: 0;
}
.dashboard-task-card .checkmark{
  top: 1.125rem;
}
.custom-card{
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0.625rem 0.938rem;
}
.custom-card .text-truncate{
  font-family: "Nunito-Bold";
  font-size: 0.8125rem;
}
.custom-card .card-right-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5.25rem;
}
.custom-card .activity-txt{
  font-family: "Nunito-SemiBold";
  font-size: 0.8125rem;
  line-height: 1rem;
}
.custom-card .activity-hours {
  font-family: "Nunito-Regular";
  font-size: 0.625rem !important;
  padding-left: 0.313rem;
}
.custom-card .action-icon span {
  font-size: 1rem;
  color: #818181;
}

.custom-card .list-status {
  padding: 0.125rem 0.5rem;
  font-family: "Nunito-Bold" !important;
}
.tasks-card{
  background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.375rem !important;
    border-radius: 0.313rem;
}
.task-left{
  padding: 0.313rem;
}
.task-left span{
  padding: 0.75rem 0.313rem;
  font-family: "Nunito-Regular" !important;
    font-size: 0.875rem !important;
}
#todo-chk:checked span{
text-decoration: line-through;
}
.task-right,
.task-left{
  display: flex;
    align-items: center;
    justify-content: center;
}
.task-right .task-actions{
  padding-right: 0.313rem;
}
.task-right .task-actions .dropdown-toggle::after{
  display: none;
}
.task-actions .zc-form-add-btn{
  margin-bottom: 0;
}
.task-right .task-actions i.btn{
  padding: 0.313rem !important;
  align-items: center;
    justify-content: center;
    display: flex;
}
.task-right .task-action-icon{
  padding: 1.125rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  background: #ccdaf5;
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
  width: 3.125rem;
    text-align: center;
}
.task-left span.font-weight-bold{
  font-family: "Nunito-Bold" !important;
}

.card-list .zc-widget-data-list .ui-table{
  box-shadow: none !important;
}
.card-list .zc-table-body{
  padding: 0.625rem 0.313rem;
  background: #fff;
  border-radius: 0.25rem;
}
.card-list .list-status{
  font-size: 0.625rem !important;
  min-width: 3.563rem;
}
.card-list-activity .zc-widget-data-list .ui-table{
  box-shadow: none !important;
}
.card-list-activity .zc-table-body{
  padding: 0.625rem 0.313rem;
  background: #fff;
  border-radius: 0.25rem;
}
.card-list-activity .custom-card{
  padding: 0.313rem 0.5rem;
}
/* card template styles end*/

/* form styles start here */
.custom-form .form-header{
  display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.063rem solid #d8dde0;
}
.custom-form .form-header:after {
  content: '';
  display: block;
  height: 0.188rem;
  width: 1.563rem;
  background: #ed1e26;
  position: absolute;
  top: 1.5rem;
  left: 2.813rem;
}
.custom-form .form-header-right.form-icons a {
  font-size: 1rem;
  padding: 0 0.8125rem 0 0;
}
.custom-form .form-header h2{
  margin: 0 0 0.313rem;
}
.custom-form .form-header-right a{
  font-size: 1.375rem;
  color: #333;
  padding: 0 0.5rem 0 0;
}
.custom-form .form-control{
  border: 0.063rem solid #fff !important;
  font-size: 0.875rem;
  font-family: "Nunito-semibold" !important;
  border-radius: 0.25rem !important;
  color: #5783e0 !important;
}

.custom-form .select-field{
  border: 0.063rem solid #fff !important;
  font-size: 0.875rem;
  font-family: "Nunito-semibold" !important;
  border-radius: 0.25rem !important;
  color: #313131 !important;
}
.custom-form.mt-12{
  margin-top: -0.75rem;
}
.custom-form .ui-state-default {
  border-color: #fff !important;
  border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.custom-form .ui-state-default.ui-state-focus{
  border-color: #5783e0 !important;
}
zc-form form .form-group .field .form-control:focus {
  box-shadow: none;
  border: 0.063rem solid #5783e0 !important;
}
zc-form form .form-group .field .form-control:focus + .icon-calendar {
  border-color: #5783e0 !important;
}
.custom-form .ui-state-default.ui-dropdown-open,
.ui-dropdown-open {
  border-color:#5783e0 !important;
}

.custom-form .form-group{
  margin-bottom: 0.9375rem !important;
}
.custom_radioinput .field-radio{
  display: flex;
  align-items: center;
}
.custom_radioinput .field-radio .radio{
  width: 50%;
  padding: 0px 0.9375rem;
}
.custom_radioinput .custom-radio .custom-control-label::before,
.custom_radioinput .custom-radio .custom-control-label::after{
  top: 0.188rem;
  width: 1.125rem;
  height: 1.125rem;
}
.custom_radioinput .field-radio .radio .custom-control{
  background: #fff;
  padding: 0.5rem 0.625rem 0.5rem 2.188rem;
  border-radius: 0.25rem;
}
.custom_radioinput .form-group-label span{
  padding-left: 0.9375rem;
}
.custom_radioinput.input-btn-radio .field-radio .radio {
  width: 25%;
  padding: 0px 0.9375rem;
}
.input-btn-radio .field-radio{
  margin-top: 0.313rem;
}
input::placeholder,
.form-control::placeholder {
  color: #999da5 !important;
}
.ui-placeholder {
  color: #898989 !important;
}
.image-container.no-img.profile {
  text-align: center;
}
.zc-field-image .profile.no-img .custom-file {
  min-height: 6.813rem;
    width: 12.5rem;
}
.zc-field-image .profile.no-img .custom-file .custom-file-input {
  min-height: 7.688rem;
}
.zc-field-image .profile.no-img .custom-file .custom-file-label {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.add-picture .profile{
  background: #fff;
    padding: 0.313rem;
    border-radius: 0.313rem;
}
.add-picture .no-img .custom-file {
  display: inline-block !important;
  background-image: url(../../prezero/images/add-user.png) !important;
  border: 0.063rem solid #e0e0e0 !important;
  text-align: center;
  background-size: auto !important;
}

.add-picture .no-img .custom-file-input {
  height: calc(2.25rem + 3.438rem) !important;
}

.add-picture .custom-file-label {
  line-height: 1 !important;
}

.add-picture .custom-file input:focus {
  outline: none !important;
}


.pr-05{
  padding-right: 0.375rem !important;
}
.pl-05{
  padding-left: 0.375rem !important;
}

.custom-form .ui-dropdown{
  height: calc(2.25rem + 0.125rem);
}
.custom-form .ui-dropdown-label{
  line-height: 1.8;
  padding: 0.375rem 0.75rem !important;
}
.custom-form .ui-dropdown-trigger-icon{
   top: 0.8125rem !important;
 }
 .custom-form .ui-autocomplete-multiple-container {
  height: calc(2.25rem + 0.125rem);
  line-height: 1.5 !important;
  padding: 0.375rem 0.75rem !important;
 }
 .custom-form p-autocomplete ul li input{
   color: #313131;
   font-family: "Nunito-Regular" !important;
   font-size: 0.875rem !important;

 }
 .custom-form textarea.form-control {
  resize: none;
  padding: 0.375rem 0.75rem !important;
}
.custom-form .required-star{
  color: #5783e0 !important;
}
.custom-form .custom_radioinputs zc-radio .field-radio{
  display: flex;
  align-items: center;
}
.custom-form .custom_radioinputs zc-radio .field-radio div{
  padding-right: 1.563rem;
}
.custom-form .custom-checkbox .custom-control-label::before,
.custom-form .custom-radio .custom-control-label::before,
.custom-form .custom-checkbox .custom-control-label::after,
.custom-form .custom-radio .custom-control-label::after {
  top: 0rem;
  width: 1.125rem;
  height: 1.125rem;
  left: -1.5rem;
}
.custom-form .ui-calendar-timeonly,
.custom-form .zc-field-datetime span.ui-calendar{
  width: 100%;
}
.custom-form .ui-calendar-timeonly button,
.custom-form .zc-field-datetime button{
  height: calc(2.25rem + 0.094rem);
}
.custom-form ul.ui-inputtext .ui-chips-input-token input{
  height: calc(1.5rem + 0.125rem);
  width: auto;
}
.custom-form .ui-calendar-timeonly button .icon-time-clock,
.custom-form .zc-field-datetime button .icon-calendar{
 font-size: 1.25rem;
}
.custom-form .ui-calendar.ui-calendar-w-btn .ui-inputtext{
  font-size: 0.875rem;
  font-family: "Nunito-semibold" !important;
  color: #5783e0 !important;
}
.custom-form .ui-state-default,
.custom-form .ui-calendar-button.ui-widget.ui-button,
.custom-form zc-autocomplete .autocomplete-icon{
  color: #7f7f7f;
}
.custom-form .ui-calendar-timeonly input,
.custom-form .zc-field-datetime span.ui-calendar input{
  width: calc(100% - 3em);
  height: calc(2.25rem + 0.125rem);
}
.custom-form .checkbox-group .form-group{
  margin-bottom: 0.313rem !important;
}
.custom-form .form-group label span{
  /* font-size: 0.6875rem; */
  font-size: 0.8125rem;
  font-family: "Nunito-Regular";
  color: #616161;
}
.zc-field-autocomplete .autocomplete-icon {
  position: absolute;
  top: 1.875rem;
  right: 0.5rem;
  font-size: 1rem;
  color: #333;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border-color: #ed1c24!important;
}
.invalid-feedback {
  font-size: 0.75rem !important;
  color: #ed1c24;
  font-family: "Nunito-Regular";
}
/* .addphoto-default-image .no-img .custom-file {
  display: inline-block !important;
  background-image: url(../../incor/images/images-add-icon.png) !important;
  border: 0.063rem solid #e0e0e0 !important;
  text-align: center;
  background-size: auto !important;
  background-position: center;
  background-repeat: no-repeat;
}
.addphoto-default-image{
  background: #fff;
  border-radius: 4px;
  padding: 0.625rem;
  min-height: 190px;
} */
/* .form-group{
  background-color: #fff;
}
.form-group:focus-within label,
.form-group:not(:focus-within) label{
  top: -0.625rem;
  bottom: 0.625rem;
  left: 1.25rem;
  font-size: 0.75rem;
  opacity: 1;
}
label{
  position: absolute;
  pointer-events: none;
  left: 1.25rem;
  top: 5px;
  transition: 0.2s ease all;
  color: #666666;
  font-size: 0.875rem;
} */
/* form styles end here */
.table-header h2{
  font-family: "Nunito-regular";
  font-size: 1rem !important;
  font-weight: normal !important;
  margin-bottom: 0.625rem;
    padding-left: 0 !important;
}

.custom-top-dropdown{
  position: fixed !important;
  top: 0.6875rem;
  z-index: 9;
  right: 0;
  padding-left: 1.688rem !important;
  width: 25%;
  padding-right: 1.25rem;
}
.custom-top-dropdown button{
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
/* .custom-top-dropdown button{
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  position: fixed !important;
  top: 0.6875rem;
  z-index: 9;
  width: 250px;
  right: 0;
  margin-right: 1.25rem !important;
} */
.custom-top-dropdown button span{
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}
.custom-top-dropdown .dropdown-toggle::after{
  font-size: 1rem;
    position: absolute;
    right: 0.5rem;
}
.custom-top-dropdown .dropdown-menu{
  width: 100%;
}
.custom-top-dropdown .ui-dropdown .ui-dropdown-trigger {
  line-height: 1em;
  font-size: 0.75rem;
}


/* Contact dashboard styles */
.contact-dsb-head p {
  font-size: 0.8125rem;
}
.contact-dsb-head .list-status,
.lead-dsb-head .list-status {
  padding: 0.25rem 0.625rem;
  color: #fff;
  text-align: center;
  border-radius: 0.188rem;
  font-size: 0.6875rem;
}
.custom-edit{
 text-align: right;
}
.contact-dsb-head .ui-paginator-bottom.ui-paginator {
  display: none !important;
}

.action-icon span {
  font-size: 1.25rem;
}
.list-icon {
  font-size: 1.5625rem;
}

.list-action {
  /* background-color: blue; */
  color: #fff;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border-radius: 3.125rem;
}
.list-action:hover {
  color: #fff;
}

.cnct-dsh-grid .zc-widget-data-list .ui-table-tbody > tr > td:last-child {
  width: 1.25rem !important;
}

.document {
  background-color: #fbfcfe;
  padding: 0.75rem;
  border-radius: 0.188rem;
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
}
.ducument-filter a{
  font-size: 0.875rem;
  color: #000;
}
.ducument-filter a:last-child span{
  font-size: 0.875rem;
  color: #000;
  background-color: #567dd0;
  padding: 0.188rem 0.313rem;
  border-radius: 0.25rem;
  color: #fff;
}

/* leed dashboard header */

.lead-dsb-head p {
  font-size: 0.8125rem;
  white-space: nowrap;
}
.lead-dsb-head .list-status {
  padding: 0.25rem  0.625rem;
  color: #fff;
  text-align: center;
  border-radius: 0.188rem;
  font-size: 0.6875rem;
}
.lead-dsb-head i{
  font-size: 1.5625rem;
  line-height: 1.563rem;
}
.lead-dsb-head .ui-paginator-bottom.ui-paginator {
  display: none !important;
}
.lead-device a{
  color: #333 !important;
}
.lead-device a i{
  font-size: 2.5rem;
  line-height: 0.625rem;
}
.lead-dsb-head h2{
  font-family: "Overpass-Bold";
  font-size: 0.875rem !important;
  white-space: nowrap;
}
.contact-document .upload-files-list ul,
.lead-document .upload-files-list ul{
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}
.contact-document .upload-files-list ul li,
.lead-document .upload-files-list ul li{
  width: 23%;
  background-color: #fbfcfd !important;
  margin-top: 0.9375rem !important;
  margin-right: 0.9375rem;
  font-family: "Nunito-SemiBold";
  font-size: 0.8125rem;
}
/* checkbox styles */
.task-left-checkbox {
  display: block;
  position: relative;
  /* cursor: pointer; */
  padding: 0.75rem 0.313rem 0.75rem 1.4375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task-left-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  border: 0.063rem solid #ccc;
  width: 0.9375rem;
  height: 0.9375rem;
  top: 0.875rem;
  left: 0.5rem;
  border-radius: 0.125rem;
}
.todo-action{
  padding: 0.75rem 0.313rem;
  font-family: "Nunito-Regular" !important;
  font-size: 0.875rem !important;
}
.task-left-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
  border-color: #2196F3;
}
.task-left-checkbox span{
  padding: 0 !important;
}
.task-left-checkbox input:checked ~ .checkmark + .todo-action{
text-decoration: line-through !important;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.task-left-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* checkbox styles end*/
/* Grid Styles start By Virenda*/
.zc-widget-data-list .ui-table-tbody > tr > td{
  font-family: "Nunito-regular" !important;
}
.zc-widget-data-list .ui-table-thead > tr > th {
  padding: 1.15em 0.5em !important;
  color: #333333 !important;
  font-size: 0.875rem;
}
.zc-widget-data-list .ui-table-thead > tr > th {
  color: #333333 !important;
  font-size: 0.875rem !important;
  font-family: "Nunito-SemiBold";
}
.ui-table .ui-table-thead > tr > th {
  border: 0rem solid #c8c8c8 !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:first-child{
  padding-left: 0.75rem !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:last-child a span{
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .pre-filters .icon-angle-down-1:before{
  content: "\50";
  font-family: "tssfont-2" !important;
} */
.zc-widget-data-list .ui-table-thead > tr > th {
  background-color: transparent !important;
  padding: 0.2em !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td {
  padding: 0.2em !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:first-child{
  font-family: "Nunito-Bold";
  font-size: 0.8125rem;
}
.zc-widget-data-list .ui-table-tbody > tr > td .list-icon span{
  font-size: 1.5rem;
  text-align: center;
}
.lead-time i{
  font-size: 0.9375rem;
}
.lead-time{
  align-items: center;
  padding-left: 0.313rem;
}
.zc-widget-data-list .ui-table-tbody > tr > td span{
  font-family: "Nunito-regular";
  font-size: 0.8125rem;
}
.zc-widget-data-list .ui-table-tbody > tr > td .list-status {
  font-family: "Nunito-Bold";
  font-size: 0.75rem;
  padding: 0 0.5rem;
  width: auto !important;
  display: inline-block;
  text-overflow: initial;
  overflow: initial;
  white-space: normal;
}
.ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: 0rem solid #c8c8c8 !important;
 font-size: 0.8125rem !important;
}
.ui-table .ui-table-tbody > tr:hover td {
  background-color: #D3DEF2 !important;
  border: 0rem solid #D3DEF2 !important;
}
.user-name {
  display: flex;
  align-items: center;
}
.user-name img {
  width: 30px;
  margin-right: 0.625rem;
}
.ui-table .table-view{
  border-collapse: inherit !important;
  border-spacing: 0 0.438rem !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:first-child {
  border-top-left-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
}
.zc-widget-data-list .ui-table-tbody > tr > td:last-child {
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}
.user-grid .zc-widget-data-list .ui-table-tbody > tr > td:last-child {
  text-align: center !important;
  background-color: #CCDAF5 !important;
}
.user-grid .zc-widget-data-list .ui-table-tbody > tr > td:last-child:hover {
  background-color: #B0C3EE !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:last-child a{
  color: #333333;
  font-size: 0.875rem;
}
.zc-form-add-btn .ui-clickable .icon-ellipsis-v:after{
  display: none;
}
.zc-form-add-btn .ui-clickable .icon-ellipsis-v{
  padding: 0.625rem 0.313rem 0px 0px !important;
}
.ui-paginator-bottom.ui-paginator{
  display: flex;
  background: transparent !important;
}
.ui-paginator-element.ui-state-default {
  border: 0rem solid #e0e0e0 !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  border-radius: 0.313rem !important;
  background-color: #5683E0 !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page {
  height: 2em !important;
  min-width: 2em !important;
  line-height: 2em !important;
}
.ui-paginator-left-content{
  text-align: left;
  width: 40%;
}
.list-status{
  padding: 0 0.625rem;
  color: #fff;
  text-align: center  ;
  border-radius: 0.313rem;
  font-size: 0.6875rem;
}

.bg-brown{
  background-color: #8E6138;
}
.bg-gold{
  background-color: #FBB03A;
}
.bg-green{
  background-color: #8DC548;
}
.bg-blue{
  background-color: #567DD0;
}
.bg-pink{
  background-color: #D91056;
}
.list-filter{
  font-size: 0.9375rem;
    position: absolute;
    right: 0;
    top: 0.375rem;
}
.custom-list .ui-table .table-view{
  border-spacing: 0px !important;
  background: #fff;
  padding-bottom: 0.625rem;
  margin: 0.9375rem 0px 0px;

}
.custom-list .ui-table-tbody{
  background-color: #fff;
  padding: 0.625rem 0px;
}
.custom-list .zc-widget-data-list .ui-table-tbody > tr > td:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 0.625rem !important;
}
.custom-list .zc-widget-data-list .ui-table-tbody > tr > td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.hide-pagination .ui-paginator-bottom.ui-paginator{
  display: none;
}
.activity-list .zc-widget-data-list .ui-table-tbody > tr > td {
  line-height: 1.25rem !important;
}
.activity-list .zc-widget-data-list .ui-table-tbody > tr > td span {
  display: initial;
  width: 99%;
  text-overflow: initial;
  overflow: initial;
  white-space: normal;
}
.activity-list .zc-widget-data-list .ui-table-tbody > tr > td span span{
  line-height: 1.0625rem;
  font-family: "Nunito-regular";
  padding-left: 0.313rem;
}
.activity-list .zc-widget-data-list .ui-table-tbody > tr > td span{
  font-family: "Nunito-SemiBold";
}

.activity-hours{
  font-family: "Nunito-Regular";
  font-size: 0.75rem !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td .font-weight-bold{
  font-family: "Nunito-Bold";
}
.zc-widget-data-list th .dropdown-menu.show {
  margin-top: 0 !important;
}
/* Grid Styles End*/
.contact-dsb-head,
.lead-dsb-head{
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-color: #fff;
    padding: 0;
    border-radius: 0.188rem;
}
.contact-dsb-head .list-status,
.lead-dsb-head .list-status{
  border: none;

}
.contact-dsb-head .form-group,
.lead-dsb-head .form-group{
  margin-bottom: 0 !important;
}
.contact-dsb-text{
  white-space: nowrap;
}
.contact-dsb-menuicon{
  max-width: 1.563rem !important;
  top: 0.625rem;
}
.contact-dsb-head .social-icons{
  display: flex;
  align-items: center;
}
.add-new-requipment{
  background-color: #f1f5f8;
}
#todochk:checked + .todo-action{
  text-decoration: line-through;
}

.form-view-blue{
  background: #5784e1;
    margin-top: 0.9375rem;
    border-radius: 0.313rem;
    padding: 0.5rem 1.563rem 0;
}
.form-view-blue .form-group-label,
.form-view-blue label{
  color: #fff;
    font-size: 0.875rem;
    font-family: "Nunito-Semibold" !important;
}
.form-view-blue .field h1{
  color: #fff;
  margin: 0.625rem 0 0;
  line-height: 1.25rem;
  font-size: 1.6875rem !important;
  font-family: "Overpass-Bold" !important;
}
.form-view-blue .field h2{
  color: #fff;
  margin: 0.313rem 0 0;
  line-height: 1.25rem;
  font-size: 1.1875rem !important;
  font-family: "Overpass-Bold" !important;
}
.form-view-blue .form-group{
  margin-bottom: 0.625rem;
}
.form-view-blue label i{
  font-size: 2.813rem;
  color: #dddd;
}
.msg-block {
  background-color: #fff;
  border-radius: 0.188rem;
  height: 100%;
}
.incomming-msg{
  display: flex;
  height: 100%;
}
.incoming-chat{
  background-color: #A9BFEE;
  padding: 0.625rem;
  border-radius: 0.625rem;
  width: 85%;
  margin-bottom: 1.25rem;
  position: relative;
}
.incoming-chat:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0.9375rem;
  border-right: 0;
  border-left: 0.625rem;
  border-style: solid;
  border-color: #A9BFEE #a9bfee00 transparent transparent;
  top: 100%;
  left: 0.75rem;
}

.chat-block{
  border-bottom: 0.063rem solid #DFE0E1;
  padding: 0.9375rem;
}
.btn-send{
  padding: 0.625rem 0.9375rem;
}
.sent-msg .send-chat{
  background-color: #EEEEEE;
  padding: 0.625rem;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  margin-left: 15%;
  position: relative;
}
.sent-msg .send-chat:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0.9375rem;
  border-right: 0.625rem;
  border-left: 0rem;
  border-top: 0rem;
  border-style: solid;
  border-color: transparent transparent #EEEEEE #EEEEEE;
  top: -0.875rem;
  left: right;
  right: 0.75rem;
}

.chat-header{
  padding: 0.625rem 0.9375rem 0;
}

/* accordion style start here */
.custom-accordion .ui-accordion .ui-accordion-header{
  border: none !important;
}
.custom-accordion .ui-accordion .ui-accordion-header a{
  border: none !important;
  background: transparent;
  padding: 0.5rem 0 !important;
}
.custom-accordion .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  padding-right: 0.313rem;
}
.custom-accordion .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: transparent !important;
  color: #848484 !important;
  border-bottom: 0.063rem solid #d4d7da !important;
}
.custom-accordion .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon{
  color: #848484 !important;
}
.custom-accordion{
  margin: 0.625rem 0;
}
.custom-accordion .ui-accordion .ui-accordion-content {
  border: 0rem solid #c8c8c8;
  background-color: transparent;
  padding: 0.313rem 0;
}
.custom-accordion .mat-tab-label {
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.875rem;
  margin-right: 0.625rem;
}
.custom-accordion .mat-tab-label.mat-tab-label-active {
  font-family: "Nunito-Bold";
  background: #5784e1 !important;
  color: #fff !important;
  border-radius: 0.313rem;
}
.custom-accordion .mat-ink-bar{
  display: none;
}
.custom-accordion .mat-tab-header{
  padding: 0.313rem 0 0.625rem 0;
}
.custom-accordion .ui-accordion-content .col-lg-12{
  padding: 0 !important;
}
.custom-form-list .ui-table .ui-table-thead > tr > th {
  background-color: transparent !important;
  border-bottom: 0.063rem solid #d4d7da !important;
}
.custom-accordion .custom-form-list .table-group-action,
.custom-form-list .ui-table .ui-table-thead > tr > th:last-child,
.custom-form-list .ui-table .ui-table-tbody > tr > td:last-child{
  display: none;
}
.custom-form-list table{
  margin-top: -1rem;
}
.custom-form-list .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #fff !important;
}
.custom-form-list .ui-table table{
  border-collapse: inherit !important;
  border-spacing: 0 0.438rem !important;
}
.custom-form-list .ui-table table tr td{
  text-align: center;
  background: #fbfcfd;
}
.custom-form-list .ui-table table tr td:first-child{
  text-align: left;
  font-family: "Nunito-Bold" !important;
  font-size: 0.875rem !important;
}
.custom-form-list .ui-table table tr th{
  font-family: "Nunito-Bold" !important;
}
.custom-form-list input[type='radio']:after {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.9375rem;
  top: -0.125rem;
  left: -0.063rem;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.063rem solid #989898;

}

.custom-form-list input[type='radio']:checked:after {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 0.9375rem;
  top: -0.125rem;
  left: -0.063rem;
  position: relative;
  background-color: #5783df;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 0.063rem solid #5783df;

}
.btn-status{
    border: none;
    font-size: 0.8125rem;
    line-height: 0.75rem;
    border-radius: 1.25rem !important;
    min-width: 8.125rem;
    padding: 0.375rem 0.75rem !important;
}
.user-text{
  font-family: "Nunito-regular" !important;
  font-weight: normal !important;
  font-size: 0.75rem !important;
  line-height: 0.8125rem;
}
.activity-table .ui-table-virtual-table{
  position: relative;
}
.activity-table .ui-table-scrollable-body{
  overflow: hidden;
}
.activity-table .ui-table-virtual-scroller{
 height: auto !important;
}
/* accordion style end here */
.chart-card div:first-child{
  background: #fff;
  padding: 0.063rem 0rem;
  border-radius: 0.313rem;
}
.chart-card h2{
  margin: 0;
  padding: 0.5rem 0.625rem 0.313rem;
}
body .ui-chips > ul.ui-inputtext .ui-chips-input-token {
  padding: 0;
}
.reference-list .table-group-action,
.reference-list .ui-table .ui-table-thead > tr > th,
.reference-list .ui-table tr > td.actions a.icon-edit{
  display: none;
}
.reference-list tr td.actions a{
  color: #333;
  position: absolute;
  right: 0.5rem;
  top: 0.75rem;
  font-size: 0.875rem;
}
.reference-list .ui-table .ui-table-tbody > tr{
  background-color: #f9fafc;
    color: #333333;
    display: block;
    padding: 0.938rem 2rem 0.938rem 0.938rem;
    border: 0.063rem dashed #ccc;
    border-radius: 0.313rem;
}
.reference-list .ui-table .ui-table-tbody > tr > td{
  display: contents;
  font-size: 0.813rem;
  font-family: "Nunito-Regular";
}
.reference-list .ui-table .ui-table-tbody > tr > td:nth-child(2){
  font-family: "Nunito-Bold";
}
.reference-list .ui-table .ui-table-tbody > tr > td span{
  padding-right: 0.063rem;
}
.reference-list .icon-delete:before{
  content: "\4a";
  font-family: "tssfont-2" !important;
}
.reference-list .ui-table .ui-table-tbody > tr > td:first-child {
  color: #5784e1;
  font-family: "Nunito-Bold";
}

/* lead-dashboard styles start here */
.estimate-tab-content .zc-table-header{
  border-bottom: 1px solid #ddd;
}
.estimate-tab-content h2{
  font-family: "Nunito-bold" !important;
  margin-bottom: 0px;
  margin-top: 0.2rem;
}
.estimate-tab-content .zc-form-add-btn .btn-primary{
  background: transparent !important;
  color: #333 !important;
  font-size: 1.5rem;
  border: none;
  padding: 8px 10px 0px 0px !important;
}
.estimate-tab-content .ui-table-thead > tr > th{
  border-bottom: 1px solid #ddd !important;
  padding: 6px 0px 10px !important;
}
.estimate-tab-content .ui-table-tbody > tr > td,
.estimate-tab-content .ui-table-tbody > tr > td span{
  font-family: "Nunito-semibold" !important;
  font-size: 14px !important;
}
.estimate-tab-content .ui-table-tbody > tr > td span.checkmark{
  width: 15px !important;
  margin-left: -8px !important;
}
.estimate-tab-content .custom-form{
  background-color: #f1f5f8;
}
.estimate-tab-content .custom-form h3{
  margin-top: 0px;
  font-family: "Nunito-bold" !important;
  font-size: 1rem !important;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}
.estimate-tab-content .custom-form h3:after{
  content: '';
    display: block;
    height: 0.188rem;
    width: 1.563rem;
    background: #ed1e26;
    position: absolute;
    top: 1.66rem;
    left: 2.813rem;
}
.estimate-tab-content .custom-form .form-text-view{
  margin-bottom: 0.9375rem !important;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  min-height: 55px;
}
.estimate-tab-content .form-text-view p{
  font-size: 12px;
    color: #666666;
    line-height: 18px;
}
.estimate-tab-content .form-text-view h2{
  color: #5783e0;
    font-size: 14px !important;
}
.estimate-tab-content .form-text-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.estimate-tab-content .ui-table .ui-table-tfoot > tr > td:last-child{
  font-family: "Nunito-SemiBold";
  font-size: 0.875rem !important;
  background: transparent;
  border: none;
  padding-left: 0;
  padding-top: 25px;
}
/* Lead Dashboard Document Tab Design */
.lead-doc {
  padding: 20px 0;
}
.lead-doc ul {
  display: flex;
}
.lead-doc ul li {
  margin-right: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  font-size: 13px;
}
.lead-doc ul li:last-child {
  margin-right: 0px !important;
}
.doc {
  /*     background: #fff;
    padding: 15px;
    text-align: center;
    position: relative;
    border-radius: 3px; */
  width: 138px;
  margin: 0 auto;
  height: 175px;
  border-radius: 3px;
}
.doc img {
  /* width: 135px; */
  /* height: 175px; */
  width: 100%;
  height: 100%;
}
.add-doc {
  background-color: #d2def2 !important;
}
.add-doc .doc {
  background-color: #d2def2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-doc .doc p {
  font-family: "Nunito-Bold";
  font-size: 16px;
}
.add-doc .doc span {
  position: relative !important;
  bottom: unset;
  right: unset;
  font-size: 20px;
  color: #000000;
}
.doc span {
  position: absolute;
  bottom: 18px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
  color: #7f7f80;
}
.doc span:hover {
  color: #f00;
}
.doc-name {
  position: relative;
  bottom: -50px;
  color: #333333;
  font-size: 13px;
  font-family: "Nunito-SemiBold";
}
.doc-preview{
  border: 1px solid #ebebeb;
  padding: 40px;
  background-color: #fff;
  /* padding: 20px; */
  color: #000000;
  font-family: "Nunito-SemiBold";
}
.preview-container .ui-table {
  box-shadow: none !important;
}
.preview-container .ui-paginator-bottom.ui-paginator {
  background: #ebebeb !important;
}
/* .zc-widget-data-list .ui-table {
  font-size: 16px !important;
  font-weight: normal !important;
  box-shadow: none;
} */
.doc-preview-inn h3{
  font-family: "Nunito-Bold";
}
.preview-container .list-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  margin-top: 15px;
}
.doc-preview-inn ul{
  list-style-type: disc;
  padding-left: 35px;
}
.doc-preview-inn ul li{
  padding-bottom: 5px;
}
.doc-preview-inn ul li:last-child{
  padding-bottom: 0px;
}
/* Lead Dashboard Document Tab Design */
@media (max-width: 1400px) {
  .main-content {
    padding-top: 3.75rem;
  }
  .side-menu {
    top: 3.75rem !important;
  }
}

@media (max-width: 991px) {
.breadcrumb-widget h1 {
  padding-left: 0;
}
.list-action {
  padding: 0.188rem 0.375rem;
    font-size: 0.6875rem;
}
.header-logo {
  width: 3.125rem;
  text-align: right;
  margin-right: 0.625rem;
}
.breadcrumb-widget h1 {
  font-size: 1.125rem !important;
}
.dropdown .btn.btn-primary{
  padding: 0.125rem 0.375rem 0.25rem !important;
  font-size: 0.75rem;
}
.custom-top-dropdown{
  padding-left: 0 !important;
}
}
@media (max-width: 800px) {
.btn {
 font-size: 0.75rem !important;
}
}
@media (max-width: 767px) {
  .custom_radioinput.input-btn-radio .field-radio .radio {
    width: 50%;
    padding: 0.313rem 0.9375rem;
}
.custom_radioinput .field-radio {
  flex-wrap: wrap;
}
  .custom-top-dropdown{
    width: 35%;
  }
.contact-dsb-head .social-icons{
  justify-content: left;
}
.contact-dsb-head .col{
  padding: 0.313rem;
}
.contact-dsb-head,
.lead-dsb-head{
  display: block;
}
.cnct-dsb-header.pt-3{
  padding-top: 0.313rem !important;
}
.breadcrumb-widget {
  height: 3.125rem;
}
.contact-dsb-menuicon{
position: absolute;
    right: 0;
    top: 0.9375rem;
}
.breadcrumb-widget {
  padding: 0.625rem 1.25rem 0.25rem 0px;
}
.main-content {
  padding-top: 3.125rem;
}
.m-pr-0{
  padding-right: 0px !important;
}
.m-pl-0{
  padding-left: 0px !important;
}
}
@media (max-width: 640px) {
  .dashboard-task-card .checkmark {
    top: 0.75rem;
  }
  .lead-dsb-head p,
  .lead-dsb-head h2 {
  white-space: normal;
  }
  .lead-dsb-head .custom-edit button{
    position: absolute;
    top: -17.813rem;
    right: -0.313rem;
  }
  .contact-dsb-head .custom-edit button{
    position: absolute;
    top: -18.438rem;
    right: -0.313rem;
  }
  .custom-edit{
    margin-top: -0.625rem;
  }
  .activity-table .task-right .task-actions{
    margin-top: -2.063rem;
  }
  .btn-status {
    min-width: auto;
    padding: 0.188rem 0.75rem !important;
  }
  .lead-device a i {
    font-size: 1.875rem;
  }
  .dashboard-task-card .todo-action {
    padding: 0 0 0 0.75rem;
    font-size: 0.75rem !important;
  }
  .dashboard-task-card .task-right .task-action-icon{
    padding: 0.75rem;
  }
  .btn.btn-primary, .btn.btn-default {
    padding: 0.375rem 0.5rem 0.25rem !important;
  }
  .custom-form .form-header:after{
    top: 1.375rem;
  }
  .zc-widget-data-list .ui-table-tbody > tr > td span{
    font-size: 0.75rem;
  }
  .mat-tab-label {
    padding: 0 0.9375rem 0 0;
  }
  .custom-list .ui-table .table-view{
    padding-bottom: 0;
  }

  .custom-top-dropdown {
    position: relative !important;
  }
  .custom-top-dropdown .dropdown-menu {
    width: 15.625rem;
 }
 .lead-dsb-head{
   padding: 0;
 }
 .custom-filter{
   top: 0.75rem !important;
 }
 .custom-form-list .ui-table table tr td:first-child {
  font-size: 0.75rem !important;
  line-height: 0.8125rem;
}
.custom-form-list .ui-table .ui-table-thead > tr > th:first-child{
  width: auto !important;
}
.custom-form-list .ui-table .ui-table-thead > tr > th{
  width: 4.375rem;
  font-size: 0.75rem;
  padding: 0.313rem 0;
}
 /* .contact-dsb-head formly-group{
   display: block !important;
 } */
 .contact-dsb-head .col,
 .lead-dsb-head .col{
  padding: 0.313rem 0.6875rem;
  flex-basis: auto !important;
}
.lead-dsb-head h2 {
  font-size: 0.8125rem !important;
}
 .custom-top-dropdown {
  width: 100%;
}
.custom-top-dropdown button{
  width: 100%;
  text-align: left;
  padding: 0.25rem 0.625rem !important;
  display: flex;
  align-items: center;
  position: fixed !important;
  top: 2.875rem;
  z-index: 9;
  width: 15.625rem;
  right: auto;
  margin-right: 0 !important;
  margin-left: 0.625rem;
}
.main-content {
    padding-top: 5.313rem;
}
.custom-top-dropdown .dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-form .custom_radioinputs zc-radio .field-radio{
  flex-wrap: wrap;
}
.breadcrumb-widget h1 {
  font-size: 1rem !important;
}
h5 {
  font-size: 0.75rem !important;
}
.contact-dsb-head p {
  font-size: 0.75rem;
}
h2 {
  font-size: 0.875rem !important;
}
.breadcrumb-widget {
  height: 5.625rem;
  padding: 0.9375rem 1.25rem 0.25rem 0;
  align-items: end;
}
.list-filter {
  position: relative;
  right: 0;
  top: 0;
  text-align: right;
}
.list-filter .text-pimary{
 padding-right: 0 !important;
}
.ui-table.ui-table-responsive .ui-table-tbody > tr > td{
  flex: 1 1 100%;
  width: 100% !important;
  padding: 0.5rem 0.625rem !important;
}
.ui-table.ui-table-responsive .ui-table-tbody > tr > td:last-child{
  position: absolute;
  right: -0.75rem;
    width: 0.625rem !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:last-child {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.task-check-div .task-left-checkbox span {
  padding-left: 0.875rem !important;
}
.task-check-box .task-left-checkbox span {
  padding-left: 0.875rem !important;
}
.task-check-box .tasks-card{
 flex-wrap: initial;
}
.task-check-box .tasks-card .task-right {
  justify-content: flex-end;
  width: auto;
}
.task-check-box .task-right .task-actions {
  position: relative;
  right: 0;
  margin-top: 0;
}
.task-check-box .tasks-card .task-right{
  padding: 0 !important;
}
.custom-radio .custom-control-label {
  font-size: 0.8125rem !important;
}
.checkmark{
  top: 0.5rem;
}
.user-grid .ui-table.ui-table-responsive .ui-table-tbody > tr > td:last-child{
  position: relative;
  right: 0;
}
.user-grid .ui-table.ui-table-responsive .ui-table-tbody > tr > td:nth-last-child(2){
  position: absolute;
  right: -0.75rem;
  width: 0.625rem !important;
}
.zc-widget-data-list .ui-table-responsive .ui-table-tbody > tr {
  border-top: 0rem solid #d5d5d5 !important;
  border-bottom: 0.438rem solid #f1f5f8 !important;
}
.zc-form-add-btn .ui-clickable .icon-ellipsis-v {
  padding: 0rem 0.313rem 0rem 0rem !important;
}
.zc-widget-data-list .ui-table-tbody > tr > td:first-child {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.zc-widget-data-list .ui-table-tbody > tr > td .list-icon span{
  text-align: left;
}
.mat-tab-label {
  font-size: 0.875rem;
}
.zc-widget-data-list .ui-paginator-bottom{
  padding: 0.625rem 0rem !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page {
  height: 1.375rem !important;
  min-width: 1.375rem !important;
  line-height: 1.375rem !important;
  font-size: 0.75rem;
}
body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
  height: 1.25rem;
  min-width: 1.25rem;
}
.lead-time {
  padding-left: 0rem;
}
.ui-table .ui-table-tbody > tr > td {
  font-size: 0.75rem !important;
}
.list-action {
  padding: 0.188rem 0.625rem;
}
.zc-widget-data-list .ui-table-tbody > tr > td .list-status {
  font-size: 0.6875rem;
}
.m-pt-10{
  padding-top: 0.625rem;
}
.add-new-requipment{
  padding-top: 0.313rem !important;
}
.custom-top-dropdown .dropdown-item{
  padding-left: 0.625rem !important;
  font-size: 0.8125rem !important;
}
.tasks-card{
  flex-wrap: wrap;
}
.tasks-card .task-right, .tasks-card .task-left {
  align-items: left;
  justify-content: left;
  width: 100%;
  padding: 0.5rem 0.313rem 0.313rem 0.625rem;
}
.tasks-card .task-right{
  padding-bottom: 0.625rem;
}
.task-left span {
  font-size: 0.75rem !important;
}
.zc-widget-data-list .ui-table {
  font-size: 0.75rem !important;
}
.task-right .task-actions {
  position: absolute;
  right: 0;
  margin-top: -1.688rem;
}
.text-truncate {
  white-space: normal;
  line-height: 0.9375rem;
}
.contact-document .upload-files-list ul li, .lead-document .upload-files-list ul li {
  width: 100%;
  margin-top: 0.625rem !important;
  margin-right: 0rem;
  font-size: 0.75rem;
}
.custom-file{
  margin-bottom: 0.5rem;
}
.lead-dsb-head p {
  font-size: 0.75rem;
}
.custom-accordion .form-group{
  margin-bottom: 0 !important;
}
.custom-accordion .ui-accordion .ui-accordion-content {
  padding: 0.313rem 0 0;
}
}
@media (max-width: 480px) {
  .custom_radioinput .field-radio .radio {
    width: 100%;
    padding: 0.313rem 0.9375rem;
  }
}
@media (max-width: 425px) {
.custom-form-list .ui-table .ui-table-thead > tr > th {
    width: 3.125rem;
}
.custom_radioinput.input-btn-radio .field-radio .radio {
  width: 100%;
}

}
