<div class="blank-layout">
    <!-- <zc-com-render type="html"
        [options]="{template:' ',js:[ {name:'intercomeWidget',src:' https://widget.intercom.io/widget/adrta055 '},{name:'intercome',src:'assets/themes/efc/layouts/intercom.js'}]}">
    </zc-com-render> -->
    <header class="zc-header">
        <div class="header-leftside zc-header-left">
            <!-- <div class="col-1 sidebar-toggle">
      <a  fxHide fxShow.lt-sm class="icon-bars " (click)="ly.toggleMenu();"></a>
    </div> -->
            <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
                <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
            </a>
            <!-- <i class="tss-error"></i> -->
        </div>
        <!--
    <div class="col-4">
        <zc-com-render type='app-selection' [options]="{type:'dropdown'}"></zc-com-render>
    </div>
  -->

        <div class="zc-header-right">
            <ul class="zc-header-right-list">
                <!-- <li class="zc-notifications">
        <zc-com-render
          type="notifications"
          [options]="ly.siteConfig"
        ></zc-com-render>
      </li> -->
                <!-- <li>
          <zc-com-render  type="app-selection" [options]="{ type:'dropdown' }"></zc-com-render>
      </li> -->
                <!-- <li *ngIf="ly.siteConfig" class="download-apk">
        <a class="icon-mobile" title="Download Android App" href="{{ly.siteConfig.mobile_apk}}"></a>
      </li> -->
                <li>
                    <div ngbDropdown class="zc-profile-dp d-md-flex d-none" placement="bottom-right" container="body">
                        <a class="zc-profile-dp-link" id="userdroupdown" ngbDropdownToggle>
                            <span class="welcome-widget">
                                <span class="welcome">Welcome </span>
                                <div class="welcome-user" title="{{ ly.userDetails.name }}"> {{ ly.userDetails.name }}
                                </div>
                            </span>
                            <span class="welcome-user-pic"
                                *ngIf="!(ly.userDetails.addInfo && ly.userDetails.addInfo.pic && ly.userDetails.addInfo.pic.length > 0)">
                                <img src="assets/themes/efc/images/user.png" alt="logo" />
                            </span>
                            <span class="welcome-user-pic"
                                *ngIf="(ly.userDetails.addInfo && ly.userDetails.addInfo.pic && ly.userDetails.addInfo.pic.length > 0)">
                                <img [src]="ly.siteConfig.fileServer + 'get/' +ly.userDetails.addInfo.pic[0]['path']"
                                    alt="logo" />
                            </span>

                        </a>

                        <div ngbDropdownMenu aria-labelledby="userdroupdown" class="zc-profile-dp-menu">
                            <ul class="zc-profile-dp-menu-list">
                                <li>
                                    <div class="zc-user-info">
                                        <label *ngIf="ly.userDetails.role?.name">{{
                                            ly.userDetails.role.name
                                            }}</label>
                                        <label *ngIf="ly.userDetails.addInfo?.branch">{{
                                            ly.userDetails.addInfo.branch?.label
                                            }}</label>
                                        <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode
                                            }}-{{
                                            ly.userDetails.phone?.value
                                            }}
                                        </label>
                                    </div>
                                </li>
                                <ng-container *ngIf="ly.siteConfig && ly.siteConfig.profileLinks.length > 0">
                                    <li *ngFor="let link of ly.siteConfig.profileLinks">
                                        <ng-container [ngSwitch]="link.type">
                                            <!--
                      <a *ngSwitchCase="external" [href]="link.url" class="dropdown-item" target="link.target">{{link.title}}</a>
                    -->
                                            <a *ngSwitchDefault [routerLink]="['/' + link.url]" class="dropdown-item"
                                                [target]="link.target">{{
                                                link.title }}</a>
                                        </ng-container>
                                    </li>
                                </ng-container>
                                <!-- <li>
                <a class="dropdown-item" title="Download Android App" href="{{ly.siteConfig.mobile_apk}}">Download
                  Android App</a>
              </li> -->
                                <li>
                                    <button class="dropdown-item" routerLink="/zcbase/account/profile">Profile</button>
                                </li>
                                <li *ngIf="ly.userDetails.role.code === 'Admin'">
                                    <button class="dropdown-item" routerLink="/zcbase/account/app-selection">App
                                        Selection</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" routerLink="/zcbase/account/change-password">Change
                                        Password</button>
                                </li>
                                <li>
                                    <button id="logout" class="dropdown-item" (click)="ly.logout()">
                                        Logout
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div class="breadcrumb-widget" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex class="breadcrumb-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <i *ngIf="ly.backBtn" class="icon-long-left-arrow back-btn" (click)="ly.backClicked()"></i>
            <span>{{ly.pageTitle}}</span>
        </div>
        <div fxFlex class="breadcrumb-right" style="height: 40px;" fxLayout="row" fxLayoutAlign="end center"
            fxLayoutGap="20px">
        </div>
    </div>

    <div>
        <div class="main-content position-relative" [ngClass]="ly.menuState" (click)="ly.onOutsideClick();">
            <router-outlet></router-outlet>
            <footer>
                <div class="leftnav-logo">
                    <a href="http://zeroco.de/" target="_blank">
                        <div class="d-flex align-items-center">
                            <span class="d-block pr-2">{{ly.siteConfig.powerByTitle}}</span>
                            <img *ngIf="ly.siteConfig.powerByLogo" [src]="ly.siteConfig.powerByLogo" alt="logo" />
                        </div>
                    </a>
                </div>
            </footer>
        </div>
        <!-- <footer>
    <div class="right-footer">
    </div>
    <div class="leftnav-logo">
      <a href="http://zeroco.de/" target="_blank">
        <div class="d-flex align-items-center">
          <span class="d-block pr-2">{{ly.siteConfig.powerByTitle}}</span>
          <img *ngIf="ly.siteConfig.powerByLogo" [src]="ly.siteConfig.powerByLogo" alt="logo" />
        </div>
      </a>
    </div>
  </footer> -->
    </div>
    <!-- <zc-com-render type='html' [options]="{type:'page',pageUrl: '/zcbase/account/login-popup',id:'html_login_model'}">
</zc-com-render> -->
    <!-- <router-outlet></router-outlet> -->
</div>