<div class="guest-layout">
    <header class="zc-header">
        <div class="zc-header-left">
            <!-- <a class="zc-logo"><img alt="Logo" src="assets/themes/default/images/head-logo.png"></a> -->
            <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
                <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
            </a>
        </div>
        <div class="zc-header-middle col">
            <h4 class="zc-transport-title">TRANSPORT DEPARTMENT, GOVERNMENT OF NCT OF DELHI</h4>
        </div>
        <div class="zc-header-right">
            <a href="/" class="header-icon icon-home-1" *ngIf="ly.siteConfig.page != 'home'"></a>
            <a href="/dsl/dsl-app/dsl-app-list" class="header-icon icon-list-ul"
                *ngIf="ly.siteConfig.page == 'home' && ly.userDetails && ly.userDetails.pic"></a>
            <a href="/zcbase/account/login" class="header-icon icon-sign-in"></a>
        </div>
    </header>
    <div class="zc-icons-menu">
        <div class="main-content" [ngClass]="ly.menuState">
            <router-outlet></router-outlet>
        </div>
        <footer>
            <div class="copyright"> Copyright © <span>{{ ly.today | date : 'y'}}</span>. All right reserved. </div>
        </footer>
    </div>
</div>