@charset "UTF-8";

@font-face {
  font-family: "zcfonts";
  src:url("../fonts/icon-fonts/zcfonts.eot");
  src:url("../fonts/icon-fonts/zcfonts.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-fonts/zcfonts.woff") format("woff"),
    url("../fonts/icon-fonts/zcfonts.ttf") format("truetype"),
    url("../fonts/icon-fonts/zcfonts.svg#zcfonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "zcfonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="tss-"],
[class^="tss-"]:before,
[class*=" tss-"]:before {
  font-family: "zcfonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tss-account-circle:before {
  content: "\61";
}
.tss-add-business:before {
  content: "\62";
}
.tss-add-location:before {
  content: "\63";
}
.tss-all-inbox:before {
  content: "\64";
}
.tss-app-settings:before {
  content: "\65";
}
.tss-attach-file:before {
  content: "\66";
}
.tss-calculate:before {
  content: "\67";
}
.tss-cancel:before {
  content: "\68";
}
.tss-check-box:before {
  content: "\69";
}
.tss-check-box-outline:before {
  content: "\6a";
}
.tss-cloud-done:before {
  content: "\6b";
}
.tss-cloud-download:before {
  content: "\6c";
}
.tss-cloud-upload:before {
  content: "\6d";
}
.tss-create:before {
  content: "\6e";
}
.tss-create-new-folder:before {
  content: "\6f";
}
.tss-error:before {
  content: "\70";
}
.tss-feedback:before {
  content: "\71";
}
.tss-folder:before {
  content: "\72";
}
.tss-grading:before {
  content: "\73";
}
.tss-group-add:before {
  content: "\74";
}
.tss-leaderboard:before {
  content: "\75";
}
.tss-location-disabled:before {
  content: "\76";
}
.tss-location-searching:before {
  content: "\77";
}
.tss-miscellaneous-services:before {
  content: "\78";
}
.tss-not-interested:before {
  content: "\79";
}
.tss-people:before {
  content: "\7a";
}
.tss-person:before {
  content: "\41";
}
.tss-person-add:before {
  content: "\42";
}
.tss-photo-camera:before {
  content: "\43";
}
.tss-print:before {
  content: "\44";
}
.tss-room:before {
  content: "\45";
}
.tss-save:before {
  content: "\46";
}
.tss-send:before {
  content: "\47";
}
.tss-supervisor-account:before {
  content: "\48";
}
.tss-support:before {
  content: "\49";
}
.tss-toggle-off:before {
  content: "\4a";
}
.tss-toggle-on:before {
  content: "\4b";
}
.tss-warning:before {
  content: "\4c";
}
.tss-check-circle-outline:before {
  content: "\4d";
}
.tss-chevron-left:before {
  content: "\4e";
}
.tss-chevron-right:before {
  content: "\4f";
}
.tss-group-work:before {
  content: "\50";
}
.tss-history:before {
  content: "\51";
}
.tss-info:before {
  content: "\52";
}
.tss-question-answer:before {
  content: "\53";
}
.tss-radio-button-checked:before {
  content: "\54";
}
.tss-radio-button-unchecked:before {
  content: "\55";
}
