<div class="guest-layout">

  <header class="zc-header">
    <div class="zc-header-left">
      <a href="javascript:;" class="icon-bars sidebar-toggle" (click)="ly.toggleMenu()"
        matTooltip="Click to toggle Menu" matTooltipPosition="right"></a>
      <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
        <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
      </a>
    </div>

    <div class="zc-header-right col">
      <ul class="zc-header-right-list ml-auto">
        <li class="zc-profile-dp-list">
          <div ngbDropdown class="zc-profile-dp" placement="bottom-right">
            <a class="zc-profile-dp-link" id="userdroupdown" ngbDropdownToggle>
              <span class="welcome-widget"><label class="welcome-user">Themes</label></span>
            </a>

            <div ngbDropdownMenu aria-labelledby="userdroupdown" class="zc-profile-dp-menu">
              <ul class="zc-profile-dp-menu-list">
                <li>
                  <button class="dropdown-item" routerLink="">
                    Classic Theme</button>
                </li>
                <li>
                  <button class="dropdown-item" routerLink="">
                    Basic Theme</button>
                </li>
                <li>
                  <button class="dropdown-item" routerLink="">
                    Default Theme</button>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>

  <div class="zc-icons-menu zc-menu-advanced">
    <div id="myCanvasNav" class="menu-overlay" (click)="ly.toggleMenu()"></div>
    <div class="side-menu" [ngClass]="ly.menuState">
      <zc-com-render type="menu" [options]="{ app: ly.currentApp, hideTooltip:true  }"></zc-com-render>
    </div>
    <div [ngClass]="{'breadcrumb-contain': (ly.breadcrumb && ly.breadcrumb.length > 0)?true:false}">
      <div class="main-content" [ngClass]="ly.menuState">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>