<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264407310063-6jgkjua462pq7p7rgk4a1h9qsclal2p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264407310063-6jgkjua462pq7p7rgk4a1h9qsclal2p5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264407310063-9cn3u8ljal28ugg4vkk1rj3l5vnlrift.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3MjXid3nbDX-l6fzCDdvTA5PwoLXvYJY</string>
	<key>GCM_SENDER_ID</key>
	<string>264407310063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dexter-Labs.ABNAndhraJyothi</string>
	<key>PROJECT_ID</key>
	<string>abn-andhrajyothy-ebeta</string>
	<key>STORAGE_BUCKET</key>
	<string>abn-andhrajyothy-ebeta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264407310063:ios:30052ff4091904a75c451a</string>
</dict>
</plist>