<header class="col-12 main-sticky-header">
  <div class="header-leftside col-4 row">
    <a class="logo" *ngIf="ly.siteConfig.clientLogo">
      <img  [src]="ly.siteConfig.clientLogo" alt="Logo" />
    </a>
  </div>
  <div class="zc-header-meddile" *ngIf="ly.userDetails && ly.userDetails.rootUser"> 
    <p><span>You are logged in as </span><span class="zc-user-name"> {{ ly.userDetails.name }}</span></p>
    <!-- <span class="zc-switch-back">Click here to <a href="#">Switch Back</a></span> -->
  </div>
  <div class="header-rightside">
    <ul>
        <!-- <li class="zc-notifications">
            <zc-com-render type="notifications" [options]="ly.siteConfig"></zc-com-render>
        </li> -->
        <li class="zc-notifications" *ngIf="!ly.userDetails.passwordExpired">
          <zc-com-render type="notifications" [options]="{allUrl:'/brd/notifications/notifications',notificationUrl:'/brd/notifications/notification-view/'}"></zc-com-render>
        </li>
      <!-- <li style="position: absolute;left:20px">
        <zc-com-render
          type="notifications"
          [options]="{ app: ly.currentApp }"
        ></zc-com-render>
      </li> -->
      <li>
        <div ngbDropdown class="user-details" placement="bottom-right">
          <a class="" id="dropdownBasic1" ngbDropdownToggle>
            <span class="welcome pr-1">Welcome </span>
            <span class="welcome-user sky-blue">
              {{ ly.userDetails.name }}</span>
            <!-- <span class="welcome-user-pic">
              <img
                src="assets/themes/qlana/images/default-img.png"
                alt="logo"
              />
            </span> -->
            <span class="welcome-user-pic"
            *ngIf="!(ly.userDetails.addInfo && ly.userDetails.addInfo.pic && ly.userDetails.addInfo.pic.length > 0)">
            <img src="assets/themes/brd/images/user.png" alt="logo" />
          </span>
          <span class="welcome-user-pic"
            *ngIf="(ly.userDetails.addInfo && ly.userDetails.addInfo.pic && ly.userDetails.addInfo.pic.length > 0)">
            <img [src]="ly.siteConfig.fileServer + 'get/' +ly.userDetails.addInfo.pic[0]['path']" alt="logo" />
          </span>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="user-menu">
            <ul>
              <li>
                <div class="user-info">
                  <label *ngIf="ly.userDetails.role?.label">
                    {{ly.userDetails.role.label}}</label>
                  <label *ngIf="ly.userDetails.addInfo?.branch">                   
                    {{ly.userDetails.addInfo.branch?.label}}</label>
                  <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{ly.userDetails.phone?.value}}</label>
                </div>
              </li>
              <ng-container *ngIf="ly.siteConfig && ly.siteConfig.profileLinks.length > 0">
                <li *ngFor="let link of ly.siteConfig.profileLinks">
                  <ng-container [ngSwitch]="link.type">
                    <a *ngSwitchDefault [routerLink]="['/' + link.url]" class="dropdown-item" [target]="link.target">{{ link.title }}</a>
                  </ng-container>
                </li>
              </ng-container>
              <ng-container *ngIf="ly.siteConfig && ly.siteConfig.profileLinks.length === 0">
                <li *ngIf="!ly.userDetails.passwordExpired"> <a [routerLink]="['/zcbase/account/profile']" class="dropdown-item" > Profile </a> </li>
                <li *ngIf="!ly.userDetails.passwordExpired"> <a [routerLink]="['/zcbase/account/change-password']" class="dropdown-item" > Change Password </a> </li>
              </ng-container>
              <li *ngIf="ly.userDetails && ly.userDetails.apps && ly.userDetails.apps.length > 0">
                <button class="dropdown-item" routerLink="/zcbase/account/app-selection">App Selection</button>
              </li>
              <!-- <li>
                <button class="dropdown-item" routerLink="/zcbase/account/delegation-creation">Delegation Creation</button>
              </li> 
              <li>
                <button class="dropdown-item" routerLink="/zcbase/account/delegation-received">Delegation Received</button>
              </li>  -->
              <li> <button class="dropdown-item" (click)="ly.logout()"> Logout </button></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</header>
<div class="breadcrumb-widget" fxLayout="row" fxLayoutAlign="space-between center">
  <a *ngIf="!ly.userDetails.passwordExpired" href="javascript:;" fxHide fxShow.gt-xs class="icon-bars sidebar-toggle" (click)="ly.toggleMenu()" matTooltip="Click to toggle Menu" matTooltipPosition="right"></a>
  <div fxFlex class="breadcrumb-left" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <i *ngIf="ly.backBtn" class="icon-close2 back-btn" title="Back" (click)="ly.backClicked()"></i>
    <!-- Breadcrumb Start -->
    <ul *ngIf="ly.breadcrumb && ly.breadcrumb.length > 0">
      <li *ngFor="let item of ly.breadcrumb; let _inx = index">
        <span *ngIf="_inx">{{ ' > ' }}</span>
        <span *ngIf="!item.url">
          <span zcBreadcrumb [breadcrumb]="item"></span>
        </span>
        <span *ngIf="item.url" class="bredcrumb-item" [routerLink]="[item.url]" routerLinkActive="router-link-active">
          <span zcBreadcrumb [breadcrumb]="item"></span>
        </span>
      </li>
    </ul>
    <!-- Breadcrumb Ends -->
  </div>
  <div fxFlex class="breadcrumb-right" style="height: 40px;" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px"></div>
</div>

<div class="side-menu" [ngClass]="ly.menuState" *ngIf="!ly.userDetails.passwordExpired">
  <zc-com-render type="menu" [options]="{ app: ly.currentApp }"></zc-com-render>
  <!-- <div class="zc-side-nav-footer">
    <a href="javascript:void(0);">
      <img *ngIf="ly.siteConfig.powerByLogo" [src]="ly.siteConfig.powerByLogo" alt="logo" />
  </a> 
</div> -->
</div>

<div>
  <div class="main-content" [ngClass]="ly.pageTitle">
    <router-outlet></router-outlet>
  
  </div>

</div>
