.excutive-sale-info,
.executive-vs-sales {
  width: auto;
  border-spacing: 0 5px;
}
.tfoot-cls td {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-right: 0 solid #cccccc;
}
.excutive-sale-info > tbody > tr > td,
.executive-vs-sales > tbody > tr > td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  border-right: 0;
}
.excutive-sale-info > tbody > tr > td:last-child,
.executive-vs-sales > tbody > tr > td:last-child {
  border-right: 0px !important;
}
.excutive-sale-info tr td table td,
.executive-vs-sales tr td table td {
  border: 1px solid #ccc;
  height: 38px;
  width: 36px;
  min-width: 36px;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}
tfoot.executiveSale tr td {
  text-align: center;
  font-weight: bold;
  background-color: #ffe0c1;
  padding: 5px;
}
.excutive-sale-info > tbody > tr > td:first-child,
.executive-vs-sales > tbody > tr > td:first-child {
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.excutive-sale-info thead tr > th,
.executive-vs-sales thead tr > th {
  padding: 5px;
  font-weight: normal;
}
.excutive-sale-info thead tr > th:last-child,
.executive-vs-sales thead tr > th:last-child {
  border-right: 0px !important;
}
.excutive-sale-info thead tr > th.self,
.executive-vs-sales thead tr > th.self {
  background-color: #ae8c4c;
  color: #fff;
}

.excutive-sale-info tr td a,
.executive-vs-sales tr td a {
  color: #000;
}

/* responsive styles */
.periodH {
  margin: 0 0 5px 0;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-weight: normal;
}
.channels,
.executives > div {
  display: flex;
  margin-bottom: 2px;
}
.channels span,
.executives > div span {
  flex: 1 1 auto;
  text-align: center;
  width: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 2px;
}
/* responsive styles end*/
