<div class="blank-layout" [ngClass]="ly.pageTitle">
  <div class="blank-layout-content">
    <router-outlet></router-outlet>
  </div>
   
  <footer>
      <!-- <div class="right-footer">
        
      </div>
      <div class="leftnav-logo">
        <a href="http://zeroco.de/" target="_blank">
          <div class="d-flex align-items-center">
            <span class="d-block pr-2">{{ly.siteConfig.powerByTitle}}</span>
            <img *ngIf="ly.siteConfig.powerByLogo" [src]="ly.siteConfig.powerByLogo" alt="logo" />
          </div>
        </a>
      </div> -->
    <div class="left-footer">
      <p class="copy-right">© Copyrights 2018 - All rights reserved. Powered by <a href="https://www.zeroco.de/" target="_blank">zeroco.de</a></p>
    </div>
    <div class="right-footer">
      <!-- <ul class="download-apps">
        <li>
          <p class="download-text">Download Our APP</p>
          <a href="https://itunes.apple.com/in/app/abn-andhrajyothy/id582664798?mt=8" target="_blank" ><img src="assets/themes/abn/images/app-store.png" alt=""></a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.abn.jyothy&hl=en" target="_blank"><img src="assets/themes/abn/images/google-play.png" alt=""></a>
        </li>
      </ul> -->
      <div class="social-icons">
        <a href="https://www.facebook.com/abntelugutv" target="_blank" >
          <i class="icon-facebook"></i>
        </a>
        <a href="https://twitter.com/abntelugutv" target="_blank">
          <i class="icon-twitter"></i>
        </a>
        <a href="http://www.youtube.com/user/abntelugutv?sub_confirmation=1" target="_blank">
          <i class="icon-youtube"></i>
        </a>
      </div>
    </div>
    </footer>
</div>