<header class="zc-header">
    <div class="zc-header-left">


        <!-- <a class="zc-logo"><img alt="Logo" src="assets/themes/default/images/head-logo.png"></a> -->
        <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
            <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
        </a>
    </div>
    <!--
      <div class="col-4">
          <zc-com-render type='app-selection' [options]="{type:'dropdown'}"></zc-com-render>
      </div>
    -->
    <div class="zc-header-meddile" *ngIf="ly.userDetails && ly.userDetails.rootUser">
        <p><span>You are logged in as </span><span class="zc-user-name"> {{ ly.userDetails.name }}</span></p>
        <!-- <span class="zc-switch-back">Click here to <a href="#">Switch Back</a></span> -->
    </div>

    <div class="zc-header-right col">


        <ul class="zc-header-right-list ml-auto">

            <li class="zc-notifications">
                <!-- <zc-com-render
            type="notifications"
            [options]="ly.siteConfig"
          ></zc-com-render> -->
                <zc-com-render type="notifications"
                    [options]="{allUrl:'/apollo/notifications/notifications',notificationUrl:'/apollo/notifications/notification-view/'}">
                </zc-com-render>
            </li>
            <!-- <li>
            <zc-com-render  type="app-selection" [options]="{ type:'dropdown' }"></zc-com-render>
        </li> -->
            <li class="zc-profile-dp-list d-md-flex d-none">
                <div ngbDropdown class="zc-profile-dp" placement="bottom-right">
                    <a class="zc-profile-dp-link" id="userdroupdown" ngbDropdownToggle>
                        <span class="welcome-user-pic"
                            *ngIf="!(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                            <img src="assets/themes/default/images/user.png" alt="logo" />
                        </span>
                        <span class="welcome-user-pic"
                            *ngIf="(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                            <img [src]="ly.siteConfig.fileServer + 'get/' +ly.userDetails.pic[0]['path']" alt="logo" />
                        </span>
                        <span class="welcome-widget">
                            <!-- <span class="welcome">Welcome </span> -->
                            <div class="welcome-user"
                                title="{{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}">
                                {{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}</div>
                            <div class="zc-user-info">
                                <label *ngIf="ly.userDetails.role?.name">{{
                                    ly.userDetails.role.name
                                    }}</label>
                                <label *ngIf="ly.userDetails.addInfo?.branch">{{
                                    ly.userDetails.addInfo.branch?.label
                                    }}</label>
                                <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                                    ly.userDetails.phone?.value
                                    }}
                                </label>
                            </div>
                        </span>
                    </a>

                    <div ngbDropdownMenu aria-labelledby="userdroupdown" class="zc-profile-dp-menu">
                        <ul class="zc-profile-dp-menu-list">
                            <li>
                                <!-- <div class="zc-user-info">
                    <label *ngIf="ly.userDetails.role?.label">{{
                      ly.userDetails.role.label
                    }}</label>
                    <label *ngIf="ly.userDetails.addInfo?.branch">{{
                      ly.userDetails.addInfo.branch?.label
                    }}</label>
                    <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                        ly.userDetails.phone?.value
                      }}
                    </label>
                  </div> -->
                                <span class="welcome-widget d-lg-none">
                                    <!-- <span class="welcome">Welcome </span> -->
                                    <div class="welcome-user"
                                        title="{{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}">
                                        {{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}</div>
                                    <div class="zc-user-info">
                                        <label *ngIf="ly.userDetails.role?.name">{{
                                            ly.userDetails.role.name
                                            }}</label>
                                        <label *ngIf="ly.userDetails.addInfo?.branch">{{
                                            ly.userDetails.addInfo.branch?.label
                                            }}</label>
                                        <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode
                                            }}-{{
                                            ly.userDetails.phone?.value
                                            }}
                                        </label>
                                    </div>
                                </span>
                            </li>
                            <ng-container *ngIf="ly.siteConfig && ly.siteConfig.profileLinks.length > 0">
                                <li *ngFor="let link of ly.siteConfig.profileLinks">
                                    <ng-container [ngSwitch]="link.type">
                                        <!--
                        <a *ngSwitchCase="external" [href]="link.url" class="dropdown-item" target="link.target">{{link.title}}</a>
                      -->
                                        <a *ngSwitchDefault [routerLink]="['/' + link.url]" class="dropdown-item"
                                            [target]="link.target">{{
                                            link.title }}</a>
                                    </ng-container>
                                </li>
                            </ng-container>
                            <li>
                                <button class="dropdown-item" routerLink="/zcbase/account/profile"><span
                                        class="icon-user"></span>
                                    Profile</button>
                            </li>
                            <li>
                                <button class="dropdown-item" routerLink="/zcbase/account/change-password"><span
                                        class="icon-lock-2"></span>Change Password</button>
                            </li>
                            <li *ngIf="ly.userDetails && ly.userDetails['multiple-apps']">
                                <button class="dropdown-item" routerLink="/zcbase/account/app-selection"><span
                                        class="icon-server"></span>App Selection</button>
                            </li>
                            <!-- <li>
                  <button class="dropdown-item" routerLink="/zcbase/account/delegation-creation">Delegation Creation</button>
                </li> 
                <li>
                  <button class="dropdown-item" routerLink="/zcbase/account/delegation-received">Delegation Received</button>
                </li>  -->
                            <li>
                                <button id="logout" class="dropdown-item" (click)="ly.logout()">
                                    <span class="icon-sign-out"></span>Logout
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>

<!-- Main content layout-->
<div class="main-content" [ngClass]="ly.menuState">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="copyright"> Copyright © <span>{{ ly.today | date : 'y'}}</span>. All right reserved. </div>
</footer>