@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"),
    url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f8f8f8;
  font-family: "Raleway-Regular" !important;
  font-size: 14px;
}
a {
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-primary {
  background-color: #1585ff !important;
  border-color: #1585ff !important;
}
.btn-primary:hover {
  background-color: #0d6cd1 !important;
  border-color: #0d6cd1 !important;
}
.btn-secondary {
  background-color: #b9c4d3 !important;
  border-color: #b9c4d3 !important;
  padding: 10px 25px !important;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0px 10px 20px #e2e2e2;
}
.btn-secondary:hover {
  background-color: #97a2b1 !important;
  border-color: #97a2b1 !important;
}
.btn-curve {
  border-radius: 30px !important;
}
.btn-dark {
  font-size: 12px;
  padding: 10px 25px !important;
  box-shadow: 0px 10px 20px #e2e2e2;
}
textarea,
.zc-data-list-filters,
.ui-inputgroup input,
.mat-stepper-horizontal,
.mat-stepper-vertical,
.mat-tab-group,
.mat-tab-label,
.mat-tab-link,
.ui-widget,
.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-family: "Raleway-Regular" !important;
}
/*Header styels*/
header {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: fixed !important;
  padding: 0 0px 0 25px;
  width: 100%;
  height: 60px;
  z-index: 99;
}
header .header-rightside ul li .user-details a .welcome-user {
  color: #d6241e;
  padding-left: 5px;
}
header .header-leftside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 177px;
}
header .header-leftside .logo img {
  width: auto;
  height: 34px;
}
header .header-rightside {
  flex: 1 1 auto !important;
  box-shadow: 3px 0px 6px #ccc;
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
header .header-rightside ul {
  padding-left: 0;
  margin: 0;
}
header .header-rightside-right ul.profile {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.global-search {
  display: flex;
  align-items: center;
}
.global-search .form-control {
  border: none;
}
.global-search .form-control:focus {
  box-shadow: none;
}
header .header-rightside ul li .user-details .user-menu ul li a {
  /* background-color: #ef008c; */
  border-radius: 0;
}
/* header .header-rightside ul li .user-details .user-menu ul li a:hover {
  background-color: #4d1336;
 } */
header .header-rightside ul li .user-details .user-menu ul li button {
  /* background-color: #ef008c; */
  border-radius: 0;
}
/* header .header-rightside ul li .user-details .user-menu ul li button:hover {
  background-color: #4d1336;
 } */
header .header-rightside ul li .user-details .dropdown-toggle {
  display: flex;
  padding: 7px;
  align-items: center;
}
header .header-rightside ul li .user-details .dropdown-toggle:before {
  content: "";
  top: 26px !important;
}
header .header-rightside ul li .user-details .dropdown-toggle:after {
  content: "";
  top: 27px !important;
}
.welcome-user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.welcome-user-pic img {
  width: 100%;
  border: 2px solid #b0cff6;
  border-radius: 50%;
}
.alerts {
  display: flex;
  border-left: 1px solid #e5e8ee;
  border-right: 1px solid #e5e8ee;
  padding-right: 20px !important;
}
.alerts div {
  padding-right: 20px;
  position: relative;
}
.alerts a {
  background-color: #f4f4f4;
  border-radius: 50%;
  color: #91969f;
}
.alerts span {
  position: absolute;
  top: -5px;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  text-align: center;
  right: 12px;
}
.alerts .notifications span {
  background-color: #ff7473;
}
.alerts .messages span {
  background-color: #1585ff;
}
.breadcrumb-widget {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  /* width: calc(100% - 65px); */
  min-height: 60px;
  background-color: #fff;
  color: #76797e;
  padding: 5px 20px;
  left: 0;
  width: 100%;
  padding-left: 85px;
  transition: all 0.3s;
  box-shadow: 0px 0px 6px #efefef;
}
.show-menu .breadcrumb-widget {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  /* width: calc(100% - 200px); */
  padding-left: 220px;
  transition: all 0.3s;
}
.login-logo .logo,
.forgot-password-widget h2 img {
  width: 100%;
  height: auto;
}
@media (max-width: 1400px) {
  .breadcrumb-widget {
    top: 60px !important;
  }
}
.back-groud-image {
  background-image: url("../images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background: #f8f8f8;
}
.back-groud-image:before {
  content: "";
  background: #f8f8f8;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.8;
  bottom: 0;
}
.show-menu .menu-head {
  padding: 20px 25px 5px;
  color: #acb1b9;
  font-size: 14px;
  text-align: left;
}
.menu-head {
  padding: 20px 0px 5px;
  color: #acb1b9;
  font-size: 14px;
  text-align: center;
}
.side-menu {
  background-color: #fff;
  top: 60px !important;
  box-shadow: 0px 0px 6px #ccc;
  transform: translateX(0%) !important;
  width: 65px !important;
}
.show-menu .side-menu {
  width: 200px !important;
}
ul.zc-menu {
  height: calc(100vh - 60px) !important;
}
ul.zc-menu li.nav-item {
  border-bottom: 0px !important;
}
ul.zc-menu li.nav-item:hover {
  background-color: #f2f4f7 !important;
}
ul.zc-menu li.nav-item a.nav-link {
  border-left: 4px solid transparent;
  color: #76797e !important;
}
ul.zc-menu li.nav-item a.nav-link:hover {
  background-color: #f2f4f7 !important;
}
ul.zc-menu li.nav-item a.nav-link.active {
  color: #76797e !important;
  background-color: #f2f4f7 !important;
  border-left: 4px solid #1585ff;
}
ul.zc-menu li.nav-item.nav-dropdown.open {
  background-color: #e6e6e6 !important;
}
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items {
  background-color: #e6e6e6 !important;
}
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items .nav-item .nav-link:hover {
  background-color: #f2f4f7 !important;
  border-left: 4px solid #1585ff;
}
ul.zc-menu li.nav-item a.nav-link .nav-link-text {
  margin-left: 61px !important;
}
ul.zc-menu li.nav-item .dp-arrow {
  transform: rotate(-90deg) !important;
}
ul.zc-menu li.nav-item.nav-dropdown.open .dp-arrow {
  transform: rotate(0deg) !important;
}
/* @media (max-width: 1400px) {
  .side-menu {
  top: 50px !important;
  }
 } */
.toast-center-center {
  top: 12px !important;
  right: 12px !important;
  left: inherit !important;
  transform: none !important;
}
/* .login-container .block h2 {
  color: #ec008c;
 }
 .login-container .was-validated .form-control:invalid,
 .login-container .block app-com-render .zc-login form .form-group input.form-control.is-invalid,
 .login-container .was-validated .custom-select:invalid,
 .login-container .custom-select.is-invalid {
  border-color: #dc3545;
 }
 .login-container .block app-com-render .zc-login form .form-group button {
  background-color: #ec008c;
  border: 1px solid #ec008c;
 }
 .login-container .block app-com-render .zc-login form .form-group button:hover {
  background-color: #4d1336 !important;
  border: 1px solid #4d1336 !important;
 }
 .login-container .block app-com-render .zc-login form .form-group.forgot-password-link a,
 .login-container .block app-com-render .zc-login form .form-group.forgot-password a {
  color: #8d0556;
 } */
/* .login-container .block app-com-render .zc-login form .form-group.forgot-password-link a:hover,
 .login-container .block app-com-render .zc-login form .form-group.forgot-password a:hover {
  border-color: #ec008c !important;
 } */
/* .login-container .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before,
 .login-container .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
 .login-container .custom-control-input:checked ~ .custom-control-label::before,
 .login-container .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #ec008c !important;
 } */
/* Dashboard */
.dashboard-page .block.col-lg-6.pl-xl-5 {
  display: flex;
}
.dashboard-page .block.col-lg-6.pl-xl-5 app-com-render {
  display: flex;
  flex: 1 1 auto;
}
.dashboard-page .block.col-lg-6.pl-xl-5 app-com-render > div {
  display: flex;
  flex: 1 1 auto;
}
.dashboard-page .block.col-lg-6.pl-xl-5 app-com-render > div zc-widget-charts {
  display: flex;
  flex: 1 1 auto;
}
.dashboard-page .zc-widget-data-list.temp-2 {
  box-shadow: 0px 0px 6px #dedede;
}
.dashboard-page .zc-widget-data-list.temp-2 .ui-widget-header,
.dashboard-page .zc-widget-data-list.temp-2 .ui-widget-content {
  border: 0px;
  border-radius: 5px;
}
/*Top 5 Appraisals*/
.top-5-appraisals {
  display: flex;
  flex: 1 1 auto;
}
.top-5-appraisals app-com-render {
  display: flex;
  flex: 1 1 auto;
}
.top-5-appraisals app-com-render > div {
  display: flex;
  flex: 1 1 auto;
}
.top-5-appraisals app-com-render zc-widget-data-list {
  display: flex;
  flex: 1 1 auto;
}
.top-5-appraisals app-com-render zc-widget-data-list .zc-widget-data-list.temp-2 {
  display: flex;
  flex: 1 1 auto;
}
.top-5-appraisals app-com-render zc-widget-data-list .zc-widget-data-list.temp-2 p-datascroller {
  display: flex;
  flex: 1 1 auto;
}
.top-5-appraisals app-com-render zc-widget-data-list .zc-widget-data-list.temp-2 p-datascroller .ui-datascroller {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
}
.top-5-appraisals
  app-com-render
  zc-widget-data-list
  .zc-widget-data-list.temp-2
  p-datascroller
  .ui-datascroller
  .ui-datascroller-content {
  display: flex;
  flex: 1 1 auto;
  flex: 1 1 auto;
}
.stage-view-body .no-label .form-control-label {
  visibility: hidden !important;
}
.p-contain .row1 {
  display: none;
}
.sidebar-toggle {
  cursor: pointer;
  color: #9a9fa7 !important;
}
/* .sidebar-toggle:hover {
  color: #fff;
  } */
.zc-data-list-title {
  margin: 0;
}

/* @media (max-width: 1400px) {
  header {
  height: 50px;
  }
 } */

/* @media (max-width: 1400px) {
  .breadcrumb-widget {
  top: 50px !important;
  }
 } */
.breadcrumb-widget .breadcrumb-left {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex: 1 1 0%;
}
.main-content {
  min-height: calc(100vh - 46px);
  padding-top: 120px;
  padding-left: 0px;
  transition: all 0.3s;
  background: #f8f8f8 !important;
  margin-left: 65px;
}
/* @media (max-width: 1400px) {
  .main-content {
  padding-top: 95px;
  }
 } */
.main-content .p-contain {
  padding: 0px;
}
ul.zc-menu {
  padding-left: 0px;
  height: calc(100vh - 170px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
@media (max-width: 1240px) {
  ul.zc-menu {
    height: calc(100vh - 105px) !important;
  }
}
ul.zc-menu::-webkit-scrollbar {
  width: 0.5em;
}
ul.zc-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
ul.zc-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
ul.zc-menu .nav-item .nav-link .nav-link-text {
  font-size: 14px;
}
ul.zc-menu .nav-dropdown-toggle .nav-item .nav-link .nav-link-text {
  font-size: 14px;
}
ul.zc-menu .nav-dropdown-items {
  padding: 0;
  max-height: inherit !important;
}
ul.zc-menu .nav-dropdown-items .nav-item .nav-link span {
  padding-left: 60px !important;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95%;
  display: block !important;
  overflow: hidden;
}
.col-12.filter-position-top {
  flex: 0 0 100%;
  max-width: 100%;
}
.filter-position-top .zc-data-list-filters {
  /* background: #fff !important;
  padding: 10px 7px; */
  display: flex;
  padding: 0 0 0 7px;
  /* align-items: center;
  flex-wrap: wrap;
  border-radius: 3px;
  margin-top: 10px; */
}
.col-12.filter-position-top .zc-data-list-filters .ui-g-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-12.filter-position-top .zc-data-list-filters .ui-fluid-filters-div {
  /* width: 50%; */
  width: 100%;
  border-bottom: none !important;
}
.col-12.filter-position-top .zc-data-list-filters .ui-fluid-filters-div .ng-star-inserted {
  flex: 1 1 100%;
}
.col-12.filter-position-top input {
  height: 40px;
  color: #232c36;
  padding: 0.5rem !important;
  line-height: 2;
  border-radius: 0.2rem !important;
  border: 1px solid #e0e0e0;
  width: 100%;
}
.col-12.filter-position-top .ui-dropdown.ui-widget {
  width: 100%;
  height: 40px;
  color: #232c36;
  line-height: 2;
  border-radius: 0.2rem !important;
}
.filter-position-top .filter-footer {
  /* width: 100%; */
  background-color: transparent;
}
.filter-position-top .filter-footer .p-2 {
  padding-bottom: 0 !important;
}
.filter-position-top .filter-footer .p-2 .justify-content-md-center {
  padding: 0 !important;
}

.ui-g-12 .ui-inputgroup .ui-button {
  background: #fff !important;
  color: #757575 !important;
}
.filter-position-top .zc-data-list-filters .ui-dropdown-label {
  /* color: #495057 !important; */
  font-weight: 400 !important;
  font-size: 12px !important;
  padding-bottom: 0px !important;
  padding: 0.5rem !important;
  height: 38px;
  line-height: 1.5;
}
/* label {
  color: #757576 !important;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
 } */
.form-control,
input {
  border-radius: 4px !important;
}
.form-control::placeholder,
input::placeholder {
  font-size: 12px;
  color: #949494 !important;
  font-family: "Raleway-Regular";
}
.ui-placeholder,
.ui-multiselect-label {
  font-size: 12px;
  color: #1d2025 !important;
  font-family: "Raleway-Regular";
}
.ui-calendar-button.ui-widget.ui-button {
  padding: 7.5px;
}
.custom-checkbox .custom-control-label,
.custom-radio .custom-control-label {
  font-weight: 200;
}
/* .block.col-4.grid-list-right form label {
  margin-top: 5px !important;
 } */
/* .block.col-4.grid-list-right .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
  margin-top: -0.9em;
 } */
.ui-dropdown-label {
  height: calc(2.25rem + 0px);
  line-height: calc(2.25rem - 10px);
  font-size: 12px !important;
}
#wdDeptRegForm .ui-corner-right .ui-dropdown-trigger-icon,
#wdDepartmentSearchForm .ui-corner-right .ui-dropdown-trigger-icon,
#wdLocationSearchForm .ui-corner-right .ui-dropdown-trigger-icon {
  margin-top: -0.8rem !important;
}
@media (max-width: 1440px) {
  label {
    font-size: 14px !important;
  }
  .ui-dropdown-label {
    font-size: 12px !important;
  }
}
.grid-list-right {
  padding-left: 20px;
  padding-right: 0;
}
.grid-list-right zc-com-render {
  display: block;
  height: 100%;
  border-radius: 4px;
}
/* .block.col-4.grid-list-right .ui-dropdown-label {
  padding: 0.429em !important;
  height: 28px;
  line-height: 1;
  margin-top: 0px !important;
 } */
.grid-list-right zc-form {
  background: #fff !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.grid-list-right zc-form {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #efefef;
}
.grid-list-right zc-form form {
  padding: 10px 15px;
}
/* .block.col-4.grid-list-right form label {
  font-size: 16px;
  margin-top: 0px;
  font-weight: 600 !important;
  padding-top: 0 !important;
  color: #757576 !important;
 } */
.block.col-4.grid-list-right form .ui-g-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.block.col-4.grid-list-right form .ui-fluid-filters-div {
  width: 50%;
  border-bottom: none !important;
}
.block.col-4.grid-list-right form .ui-fluid-filters-div .ng-star-inserted {
  flex: 1 1 100%;
}
/* .block.col-4.grid-list-right .ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  height: 30px;
 } */
/* .block.col-4.grid-list-right formly-wrapper-form-field .form-group .field input {
  height: 30px;
 } */
/* zc-actions .zc-form-add-btn .btn {
  padding: 5px 30px !important;
} */
.col-12.filter-position-top {
  padding: 0px;
}
zc-block-tree-node.block h3 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.801);
}
.form-group label {
  font-size: 16px;
  color: #757576;
  font-weight: 600;
  font-size: 14px;
}
.form-group .field input {
  padding: 0.6em;
  /* height: 40px; */
  /* border-radius: 0 !important; */
  border-color: #e0e0e0 !important;
  background-color: #fff !important;
  font-size: 14px;
}
zc-block-tree-node.block .ui-datepicker-trigger.ui-button {
  height: 40px;
}
zc-block-tree-node.block .ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  height: 40px;
}
zc-block-tree-node.block .ui-dropdown.ui-widget.ui-state-default.ui-corner-all label {
  font-weight: 100 !important;
}
zc-block-tree-node.block formly-field.col-6 {
  /* width: 7%; */
  flex: 1 0 50%;
  max-width: 100%;
}
zc-block-tree-node.block formly-field.col-2.from-time.ng-star-inserted {
  flex: 0 0 25%;
  max-width: 25%;
}
zc-block-tree-node.block zc-checkbox {
  display: flex;
  padding: 10px;
}
zc-block-tree-node.block zc-checkbox .checkbox.ng-star-inserted {
  padding-right: 25px;
}
zc-block-tree-node.block zc-checkbox .checkbox.ng-star-inserted .custom-control-label {
  font-size: 14px;
  font-weight: 100;
}
zc-block-tree-node.block zc-radio .ng-star-inserted {
  display: flex;
  padding: 5px;
}
zc-block-tree-node.block zc-radio .radio {
  padding-right: 25px;
}
zc-block-tree-node.block zc-radio .radio .custom-control-label {
  font-size: 14px;
  font-weight: 100;
}
textarea {
  resize: none;
  font-size: 14px;
}
span.ng-tns-c16-4.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly {
  width: 100%;
}
span.ng-tns-c16-4.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly input.ng-tns-c16-4.ui-inputtext.ui-widget {
  width: 90%;
}
span.ng-tns-c16-4.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly button.ui-datepicker-trigger.ui-calendar-button {
  width: 10% !important;
}
zc-block-tree-node.block .zc-com-render div {
  background: #fff;
  padding: 25px;
}
span.ng-tns-c16-5.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly {
  width: 100% !important;
}
span.ng-tns-c16-5.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly
  input.ng-tns-c16-5.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ng-star-inserted {
  width: 90% !important;
}
span.ng-tns-c16-5.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly
  button.ui-datepicker-trigger.ui-calendar-button.ng-tns-c16-5.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ng-star-inserted {
  width: 10% !important;
}
span.ng-tns-c13-16.ui-calendar.ui-calendar-w-btn.ui-calendar-timeonly {
  width: 100% !important;
}
.modal-body {
  padding: 30px !important;
  max-height: calc(100vh - 40px);
  overflow: auto;
}
.main-content .p-contain {
  margin: 20px 20px;
}
.main-content .p-contain.whiteBg-form {
  background: #fff;
  padding: 20px;
}
.main-content {
  background: #efefef;
}
.ui-table .ui-table-tbody tr td {
  padding: 5px !important;
}
td .zc-form-add-btn {
  margin-bottom: 0px !important;
}
td zc-actions .zc-form-add-btn .btn {
  padding: 0px 30px !important;
}
.ui-table {
  box-shadow: none !important;
}
.ui-table table {
  border: none;
}
.ui-table table .ui-table-thead tr th {
  background-color: #efefef !important;
  color: #757575 !important;
  font-size: 16px;
}
.ui-table table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #9f9f9f;
}
.ui-table table tbody.ui-table-tbody {
  transition: all 0.5s ease-in-out 0s;
}
.ui-table table tbody.ui-table-tbody .table-list-view {
  border-collapse: separate;
  border-spacing: 0px 4px;
}
.ui-table table tbody.ui-table-tbody tr td {
  border-bottom: 1px solid #d0d4d5;
  border-right: none;
  border-left: none;
  border-top: none;
  vertical-align: middle;
}
.ui-table table tbody.ui-table-tbody tr td:first-child {
  padding-left: 20px !important;
}
.ui-table table tbody.ui-table-tbody tr:hover > td {
  background-color: #f8f8f8 !important;
}
.main-content .p-contain {
  margin: 20px 20px;
}
.main-content .p-contain .whiteBg-form {
  background: #fff;
}
zc-actions .zc-form-add-btn {
  display: inline-flex;
}
zc-actions .zc-form-add-btn i.btn.fa.fa-pencil {
  width: 50% !important;
}
zc-actions .zc-form-add-btn .i.btn.fa.fa-trash {
  width: 50% !important;
}
.icon-angle-down-1.dropdown-toggle::before {
  display: inline-block;
  width: auto !important;
  height: auto !important;
  vertical-align: 0 !important;
  content: "\e1d4" !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 0 !important;
  border-left: none !important;
  position: initial !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1;
}
.zc-widget-data-list th.dropdown .dropdown-toggle {
  top: 0;
}
.zc-widget-data-list th .dropdown-menu .dropdown-item.ui-state-highlight .ui-sortable-column-icon:before {
  color: #424242 !important;
}
/*Footer styles*/
footer {
  background-color: #f0f0f0;
  padding-left: 65px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #a2a7af;
}
.powerBy {
  display: flex;
  align-items: center;
}
.powerBy img {
  padding-left: 20px;
}
@media (max-width: 1440px) {
  .ui-table-thead tr th {
    font-size: 14px;
  }
  tbody.ui-table-tbody tr td {
    font-size: 14px;
  }
}

/*Tabs Styles*/
.mat-tab-group {
  box-shadow: 0px 0px 6px #efefef;
}
.mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 1px solid #eceff3;
}
.mat-ink-bar {
  top: 0;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1585ff;
}
.mat-tab-label {
  font-weight: 600;
  opacity: 1;
  height: 60px;
}
.mat-tab-label-active {
  color: #1585ff;
  background-color: #f2f4f7;
}
.mat-tab-body {
  padding: 0 20px 0 20px;
}
.mat-tab-body-content {
  height: 100%;
  overflow: inherit !important;
  padding-bottom: 40px;
}
.form-control[readonly] {
  background-color: #f9f9f9 !important;
  border: 1px solid #eceff3 !important;
}
.zc-tab-content formly-field {
  width: 100%;
}
/*Tabs Styles ends*/

/*Class details Styles*/
.class-details h5 {
  margin-top: 0;
  font-size: 12px;
  color: #999da5;
  text-transform: uppercase;
}
.class-details h5 span {
  float: right;
}
.class-details ul.plan-class {
  padding-left: 30px;
  position: relative;
}
.class-details ul.plan-class li,
.class-details .plan-class .class-content {
  position: relative;
  margin-bottom: 30px;
}
.class-details ul.plan-class li::before,
.class-details .plan-class .class-content::before {
  content: "";
  width: 1px;
  height: calc(100% + 30px);
  position: absolute;
  top: 10px;
  left: -23px;
  background-color: #eceff3;
}
.class-details ul.plan-class li:last-child::before,
.class-details .plan-class .class-content:last-child::before {
  display: none;
}
.class-details ul.plan-class li .circle,
.class-details .plan-class .class-content .circle {
  position: absolute;
  left: -30px;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}
.class-details ul.plan-class li .circle.green-circle,
.class-details .plan-class .class-content .circle.green-circle {
  background-color: #0ac51b;
  border: 3px solid #9aeba0;
}
.class-details ul.plan-class li .circle.voilet-circle,
.class-details .plan-class .class-content .circle.voilet-circle {
  background-color: #886aef;
  border: 3px solid #a997e4;
}
.class-details ul li .title-class,
.class-details .plan-class .class-content .title-class {
  color: #1d2025;
  font-weight: 600;
}
.class-details ul li .date-info-class,
.class-details .plan-class .class-content .date-info-class {
  color: #999da5;
  margin-bottom: 0;
}
.class-details ul li .date-info-class a,
.class-details .plan-class .class-content .date-info-class a {
  float: right;
  color: #1585ff;
}
.class-content .user-menu {
  top: 30px !important;
  left: -140px !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 11px !important;
  background-color: #f2f4f7 !important;
  border-radius: 2px !important;
  box-shadow: 0px 0px 6px #b3b3b3;
  border: none;
}
.class-content .user-menu button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}
.class-content .zc-form-add-btn .col {
  padding-right: 0px;
}
.class-content .dropdown-toggle {
  font-size: 21px;
}
.class-content .dropdown-toggle:after {
  display: none;
}
.class-content .dropdown-toggle:before {
  content: "\e071";
}
.class-details .images-class {
  margin-bottom: 35px;
}
.class-details .images-class ul {
  display: flex;
}
.class-details .images-class ul li {
  padding-right: 15px;
}
.class-details .images-class ul li::before {
  display: none;
}
.text-black {
  color: #1d2025;
}
.text-ash {
  color: #76797e;
}
.class-widget .card {
  position: relative;
}
.class-widget .card::before {
  content: "";
  width: 1px;
  height: calc(100% + 30px);
  position: absolute;
  top: 10px;
  left: -23px;
  background-color: #eceff3;
}
.class-widget .card:last-child::before {
  display: none;
}
/* .class-widget .ui-paginator-bottom.ui-paginator {
  display: none;
} */
.class-widget .mat-tab-group {
  box-shadow: none;
}
.class-widget .zc-tab-content {
  padding-right: 0;
}
.class-widget .zc-form-add-btn i {
  padding: 5px !important;
}
/*Class details Styles ends*/

/* wallx library styles */
.wallx-library {
  background-color: #fff;
  padding: 0px 25px;
  border-radius: 4px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 6px #efefef;
}
.wallx-library h1 {
  margin: 0;
  padding: 17px 0;
  font-weight: 600;
  font-size: 22px;
  min-height: 60px;
}
.wallx-library-list h5 {
  margin-top: 0;
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  text-transform: uppercase;
  font-size: 12px;
  color: #76797e;
}
.wallx-library-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.wallx-library-list ul li .sqare-box {
  padding-right: 10px;
}
.wallx-library-list ul li .sqare-box i {
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 21px;
}
.wallx-library-list ul li .library-list-info p {
  padding: 5px 0px;
  margin: 0;
}
.wallx-library-list ul li .library-list-info p.text-black {
  font-weight: 600;
}
.wallx-library-list ul li .sqare-box.blue-box i {
  background-color: #1585ff;
}
.wallx-library-list ul li .sqare-box.green-box i {
  background-color: #0ac51b;
}
.wallx-library-list ul li .sqare-box.voilet-box i {
  background-color: #6b0ac5;
}
.wallx-library-list ul li .sqare-box.orange-box i {
  background-color: #e5b00e;
}
/* wallx library styles ends*/

/* Virendra styles */
.add-class-widget h3 {
  font-size: 14px;
  color: #323232;
  font-weight: 600;
  padding: 22px 20px 22px 20px;
  border-bottom: 1px solid #eceff3;
  margin: 0;
}
.add-class-widget form {
  padding: 0 20px;
}
zc-form > div {
  width: 100%;
}
zc-form form .form-group label {
  font-size: 14px;
  padding-bottom: 3px;
  color: #1d2025 !important;
  font-weight: 600;
  display: block;
}
/* zc-form form .form-group label.ui-placeholder {
  color: #949494 !important;
} */
zc-form form .form-group .select-field .ui-dropdown .ui-dropdown-trigger {
  /* background-color: #f9f9f9; */
  line-height: 0;
}

/* zc-form form .form-group .field {
  padding: 8px 0;
 }
zc-form form .form-group .form-control {
  height: calc(3.5rem + 2px);
  background-color: #f9f9f9;
}
zc-form form .form-group .ui-dropdown-label {
  height: 55px !important;
  line-height: 2.8 !important;
  background-color: #f9f9f9;
}*/
zc-form .form-group.zc-field-table {
  margin-bottom: 0;
}
.icon-time-clock {
  font-size: 21px;
}
.ui-dropdown:focus {
  box-shadow: 0px 23px 20px #e2e2e2 !important;
}
textarea:focus {
  box-shadow: 0px 23px 20px #e2e2e2;
}
p-dropdown:focus {
  box-shadow: 0px 23px 20px #e2e2e2;
}
.ui-inputwrapper-focus {
  box-shadow: 0px 23px 20px #e2e2e2 !important;
}
input:focus {
  box-shadow: 0px 23px 20px #e2e2e2;
}
.form-control:focus {
  box-shadow: 0px 23px 20px #e2e2e2 !important;
}

.zc-field-table .field,
.zc-field-button .field {
  padding: 0 !important;
}
/* .duration .select-field {
  box-shadow: 0px 23px 20px #e2e2e2;
 } */
.table-group-action {
  /* text-align: left !important; */
  padding: 20px 0;
}
.btn-outline-primary {
  color: #1585ff;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #c1defd !important;
  padding: 10px 25px !important;
  box-shadow: 0px 10px 20px #e2e2e2;
}
.grid-list-left {
  border-radius: 4px;
  box-shadow: 0px 0px 6px #efefef;
}
.btn-primary {
  color: #1585ff;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #c1defd !important;
  padding: 10px 25px !important;
  box-shadow: 0px 10px 20px #e2e2e2;
  background-color: #fff !important;
  text-align: right;
}

.form-group .ui-table table .ui-table-thead tr th {
  background-color: transparent !important;
  color: #76797e !important;
  font-size: 14px;
  padding: 17px 0;
  font-weight: 600;
}
.ui-table table tbody.ui-table-tbody tr td {
  border-bottom: 1px solid #d0d4d5;
  border-right: 1px solid #d0d4d5 !important;
  border-left: 1px solid #d0d4d5 !important;
  background-color: transparent !important;
  color: #76797e !important;
  font-weight: 600;
  font-size: 14px;
  padding: 17px 0;
}
.classes-schedule {
  padding-top: 20px;
}
.class-title,
.text-caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
}
.class-title {
  font-size: 14px;
  font-weight: 600;
  color: #1d2025;
}
.text-caption {
  color: #76797e;
}
.text-ash {
  color: #999da5;
  font-weight: normal !important;
}
.library-list-info {
  width: 100%;
}
.ui-calendar {
  width: 100%;
  display: flex;
}
.ui-calendar .ui-inputtext {
  width: calc(100% - 3em);
  height: calc(2.25rem + 2px);
  background-color: #f9f9f9;
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  height: calc(2.25rem + 2px);
  /* background-color: #f9f9f9 !important; */
}
.new-task {
  padding: 20px;
}
.new-task-head h5 {
  font-size: 14px;
  color: #323232;
  font-weight: 600;
  padding: 22px 20px 22px 20px;
  border-bottom: 1px solid #eceff3;
  margin: 0;
}
.circle-o {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #eaebec;
  display: inline-block;
  margin-left: 6px;
}
.todo-list {
  font-weight: 600;
}
.todo-list ul li p {
  margin: 0 !important;
}
.todo-list ul li a {
  font-size: 12px !important;
  color: #fff;
}
.bg-teal {
  background-color: #26c6da;
}
.bg-voiletRed {
  background-color: #fc4b6c;
}
.bg-yellow {
  background-color: #eac328;
}
.bg-green {
  background-color: #2db466;
}
.bg-ash {
  background-color: #eaebec;
}
.todo-list ul li {
  padding: 15px 0 !important;
  border-bottom: 1px solid #efefef !important;
}
.activity-block {
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 15px;
}
.activity-block h3,
.activity-block p {
  margin: 0;
}
.activity {
  padding: 35px 25px;
  position: relative;
}
.user-activity ul li .user-details {
  border-bottom: 1px solid #efefef;
  display: flex;
  padding: 15px 0;
  align-items: center;
}
.user-activity ul li p {
  padding: 5px 0 !important;
}
.activity p {
  padding: 5px 0 !important;
  color: #aec8e4;
}
.user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.new-activity {
  position: absolute;
  right: 25px;
  bottom: -25px;
}
.new-activity span {
  background-color: #fff;
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #c1defd;
  box-shadow: 0px 10px 20px #e2e2e2;
}
.user-circle .small-circle {
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  top: -5px;
  right: 5px;
  border: 2px solid #fff;
}
.new-activity span:hover {
  background-color: #17578b;
  color: #fff;
}
.user-activity {
  padding-top: 25px;
}
.user-activity ul li p {
  color: #1d2025;
}
.user-activity ul li a {
  display: block;
  padding: 0 25px;
  border-left: 3px solid transparent;
}
.user-activity ul li:last-child .user-details {
  border-bottom: none !important;
}
.user-activity ul li a:active {
  background-color: #eaebec;
  border-left: 3px solid #1585ff;
}
/* .user-activity ul li a:hover {
  background-color: #eaebec;
  border-left: 3px solid #1585ff;
  } */
.class-activity ul li {
  display: flex;
}
.class-activity ul li p {
  margin: 0;
  padding-bottom: 5px;
  color: #000 !important;
}
.class-task h4 {
  padding-bottom: 10px;
  font-size: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}
.class-task .icon-clock-o {
  font-size: 20px;
}
.date-info-class {
  display: flex;
  align-items: center;
  color: #999da5;
}
.class-activity ul li p .icon-quote-left {
  font-size: 20px;
}
.activities {
  padding: 20px 0;
}
.activities ul li {
  padding-bottom: 20px;
}
.activities ul li:last-child .activity-details {
  border-bottom: none !important;
}
.activities .user-circle {
  font-size: 21px;
  font-weight: 600;
}
.activities img {
  border: 1px solid #1d2025;
}
.text-semibold {
  font-weight: 600;
}
.activity-details {
  border-bottom: 1px solid #e5e5e5;
}

.zc-widget-data-list .ui-table table .ui-table-thead tr th {
  background-color: transparent !important;
  border-top: none !important;
  border-bottom: 1px solid #e5e5e5 !important;
  color: #8492af !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  padding: 5px 5px !important;
}
.zc-form-add-btn i {
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 12px;
}
.ui-paginator-bottom.ui-paginator {
  padding: 7px 0 !important;
  text-align: center !important;
}
/* Virendra styles ends*/

/* Dashboard Styles */
zc-bar-chart .zc-widget-header-title h2 {
  margin: 0;
  padding: 17px 25px;
}
.recommended-comments {
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #efefef;
}
.recommended-comments h3 {
  padding-bottom: 5px;
  margin: 0;
}
.recommended-comments p {
  margin: 0;
}
.recommended-comments ul {
  margin-top: 15px;
}
.recommended-comments ul li {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
}
.recommended-comments ul li:last-child {
  margin-bottom: 0px;
  border-bottom: none !important;
  padding-bottom: 0px;
}
.recommended-comments ul li .circle-box {
  padding-right: 15px;
  padding-top: 15px;
}
.recommended-comments ul li .circle-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.recommended-comments ul li h4 {
  margin: 0 0 5px 0;
}
.recommended-comments ul li h4 span {
  font-weight: normal;
}
.recommended-comments ul li p {
  padding: 5px 0px;
  margin: 0 0 5px 0;
}
.recommended-comments ul li .btn {
  padding: 2px 10px;
}
/* to do list styles*/
.todo-list .btn-curve {
  /* position: absolute;
  right: 25px;
  top: 15px; */
  padding: 10px 20px !important;
}
.todo-list-header {
  display: flex;
  align-items: center;
}
.todo-list-header .head-details {
  width: 95%;
}
.todo-list ul li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.todo-list ul li .todo-check {
  display: flex;
  justify-content: space-between;
}
/* to do list styles ends*/
/* Dashboard Styles ends*/

/* login styles */
#btn-logonBtn .btn-primary {
  color: #1585ff;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #c1defd;
  padding: 18px 40px !important;
  box-shadow: 0px 10px 20px #e2e2e2;
}
#btn-logonBtn .btn-primary:hover {
  background-color: #1585ff;
}
zc-login zc-form form .form-group .form-control {
  height: calc(3.5rem + 2px);
}
zc-login .btn-primary {
  color: #1585ff;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #c1defd;
  padding: 10px 25px !important;
  box-shadow: 0px 10px 20px #e2e2e2;
  background-color: #fff !important;
}
zc-login zc-form {
  display: block;
  padding: 30px;
}
.login-two-blocks {
  padding: 0 !important;
  min-height: auto !important;
}
.login-two-blocks h3 {
  margin: 0;
  padding-bottom: 25px;
}
.login-text {
  position: absolute;
  top: 55px;
  padding: 0px 30px 7px;
  width: 100%;
  border-bottom: 2px solid #ecf0f3;
}
/* login styles ends*/
/* charts styles */
.ngx-charts-outer {
  margin: 0 auto;
}
.chart-legend .legend-title {
  position: static !important;
  padding: inherit;
  margin: auto;
  height: auto;
}
.chart-legend .legend-labels {
  background: #fff;
  padding-bottom: 10px;
}
/* charts styles ends*/

/* chat styles */
.chart-widget ul li {
  display: flex;
  margin-bottom: 30px;
}
.chart-widget ul li .chart-user-image {
  width: 220px;
}
.chart-widget ul li .chart-user-image img {
  width: 60px;
  height: 60px;
}
.chart-widget ul li.chart-user1 .chart-info {
  background-color: #1585ff;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  position: relative;
}
.chart-widget ul li.chart-user1 .chart-info .chart-time {
  color: #cde3fb;
}
.chart-widget ul li.chart-user1 .chart-info::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 25px solid #1585ff;
  left: -20px;
  top: 25px;
}
.chart-widget ul li.chart-user2 .chart-info::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 0px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 25px solid #f2f4f7;
  right: -20px;
  top: 25px;
}
.chart-widget ul li.chart-user2 .chart-user-image {
  order: 2;
  text-align: right;
}
.chart-widget ul li.chart-user2 .chart-info {
  background-color: #f2f4f7;
  padding: 20px;
  color: #76797e;
  border-radius: 5px;
  position: relative;
  text-align: right;
}
.chart-widget ul li.chart-user2 .chart-info .chart-time {
  color: #999da5;
}
.chart-widget ul li.chart-user2 .chart-info .chart-user-name {
  color: #1d2025;
}
/* chat styles ends*/
/* remove steps styles */
.remove-steps form {
  padding: 0;
}
.remove-steps form .mat-tab-header .mat-ink-bar {
  display: none;
}
.remove-steps form .mat-tab-header .mat-tab-label {
  display: none;
}
.remove-steps form .mat-tab-header .mat-tab-label.mat-tab-label-active {
  display: flex;
}
.remove-steps form .btn-primary {
  color: #1585ff;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #c1defd !important;
  padding: 10px 25px !important;
  box-shadow: 0px 10px 20px #e2e2e2;
  background-color: #fff !important;
}
.remove-steps form .btn-primary:hover {
  background-color: #1585ff !important;
  color: #fff;
}
.remove-steps .mat-tab-label-active {
  color: #323232;
  background-color: transparent;
}
/* remove steps styles ends*/
.new-class-btn {
  position: fixed !important;
  top: 55px;
  right: 20px;
  z-index: 9999;
  width: auto;
}
.grid-list-left zc-data-list zc-data-list-table .zc-table-header {
  /* border-bottom: 1px solid #efefef; */
  border-bottom: none;
}
.grid-list-left zc-data-list zc-data-list-table .zc-table-body {
  padding: 0px 15px;
}
.grid-list-left zc-data-list zc-data-list-table .zc-table-header .zc-data-list-title {
  font-size: 16px;
}
.grid-list-right zc-form h3 {
  margin: 0;
  padding: 15px;
  font-size: 16px;
  border-bottom: 1px solid #efefef;
}
.grid-list-left zc-data-list zc-data-list-table .zc-table-header .table-header {
  padding: 15px !important;
}
.grid-list-left.single-search zc-data-list zc-data-list-table .zc-data-list-filters {
  position: absolute;
  right: 0;
  top: -62px;
  background: transparent !important;
}
.grid-list-left.single-search zc-data-list zc-data-list-table .filter-position-top .ui-g.ui-fluid.ui-fluid-filters-div {
  width: 100% !important;
}
.grid-list-left.single-search
  zc-data-list
  zc-data-list-table
  .filter-position-top
  .ui-g.ui-fluid.ui-fluid-filters-div
  label {
  display: none;
}
/* paginator styles */
.ui-paginator-element {
  border-radius: 50% !important;
  line-height: 28px !important;
}
/* paginator styles ends*/

.f21 {
  font-size: 21px;
}
.class-documents .zc-files-list {
  display: flex !important;
}
.class-documents .zc-files-list li {
  padding-right: 5px;
}
.class-documents .zc-file-name {
  display: none !important;
}
.class-documents .icon-download {
  font-size: 21px;
}
.class-documents .zc-files-list li i {
  display: block;
}
.class-documents .icon-download::before {
  content: "\e296";
}
.remove-ellipsis span {
  text-overflow: initial !important;
  overflow: visible !important;
  white-space: inherit !important;
}
.icon-forward-2:before {
  content: "\F101" !important;
  font-family: Flaticon !important;
}
.icon-products:before {
  content: "\F100" !important;
  font-family: Flaticon !important;
}
.icon-user-types:before {
  content: "\f102" !important;
  font-family: Flaticon !important;
}
.icon-gg-circle:before {
  content: "\f103" !important;
  font-family: Flaticon !important;
}
.icon-map-marker:before {
  content: "\f105" !important;
  font-family: Flaticon !important;
}
.icon-fold-1:before {
  content: "\F104" !important;
  font-family: Flaticon !important;
}
.icon-user:before {
  content: "\f107" !important;
  font-family: Flaticon !important;
}
.icon-users-2:before {
  content: "\f106" !important;
  font-family: Flaticon !important;
}
.required-star {
  color: #ff0000;
}
/* .schedule-list {
  display: flex;
  flex-wrap: wrap;
} */
/* .schedule-list .schedule-list-info{
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 6px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
} */
.schedule-list .schedule-list-info i {
  font-size: 21px;
  padding: 10px;
  /* display: block; */
}
.bredcrumb-item {
  color: #d6241e;
  cursor: pointer;
}
.custom-tabs .grid-list-left zc-com-render > div,
.custom-tabs .grid-list-left .zc-tabs,
.custom-tabs .grid-list-left .zc-tabs .mat-tab-group,
.custom-tabs .grid-list-left .zc-tabs .mat-tab-group .mat-tab-body-wrapper {
  height: 100%;
}

/* Faculty Page Style */
.ui-table table tbody.ui-table-tbody .faculty-list table tr td {
  vertical-align: top !important;
  border-left: none !important;
  border-right: none !important;
}
.ui-table table .row-expand-icon {
  color: #76797e !important;
  font-size: 20px;
}
.faculty-list table tbody tr {
  display: flex !important;
}
.faculty-list table tbody tr td {
  display: flex !important;
  flex: 1 1 25%;
}
.faculty-list table tbody tr td > div {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.faculty-list table tbody tr td:last-child > div {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
/* .icfai-student-list .ui-table-thead tr {
  display: table-cell;
} */
.icfai-student-list .ui-table-thead tr th {
  table-layout: fixed;
  display: table-cell;
  width: 1%;

}
.ui-table table tbody.ui-table-tbody .expanded-table table tr td {
  border-bottom: none !important;
}

.expanded-table table .faculty-contact-row {
  border-bottom: 1px solid #d0d4d5;
  padding: 20px 15px;
}
.expanded-table table .faculty-contact-row .faculty-contact {
  border: 1px solid #d0d4d5;
  padding: 10px 5px;
  background-color: #efefef;
  border-radius: 5px;
  width: 100%;
  font-size: 13px;
}
.expanded-table .details {
  color: #929090;
}
.pi-chevron-down:before {
  content: "\72";
  font-family: "tssfont" !important;
}
body .pi {
  font-size: 14px;
}
.pi-chevron-down:before {
  content: "\72";
  font-family: "tssfont" !important;
}
body .ui-multiselect.ui-widget {
  font-size: 12px;
  line-height: calc(2.25rem - 10px);
}
body .ui-multiselect-panel .ui-multiselect-header .ui-multiselect-filter-container {
  width: calc(100% - 50px);
}
.ui-multiselect-close {
  top: 40% !important;
}
.ui-multiselect-close .pi.pi-times {
  font-size: 24px;
}
.card-view .ui-table-thead{
  position: absolute;
  display: table;
  width: 100%;
  top: 0;
}
.card-view .ui-table-tbody tr:last-child.text-center td {
  border-top: 1px solid #d0d4d5;
}
.card-view .ui-table-tbody div.card:first-child{
  padding-top: 25px;
}
.card-view .ui-table-tbody tr.text-center{
  padding-top: 25px;
    display: block;
    width: 100%;
}
.card-view .ui-table-tbody tr.text-center td{
  width: 100%;
  display: block;
  text-align: center;
}
body .ui-multiselect .ui-multiselect-trigger {
  line-height: 0em;
  font-size: 14px;
}
.custom-file .custom-file-label{
  font-size: 12px !important;
}
.custom-file .max-file-size {
  margin-top: -22px;
}
.zc-filter-undefined .filter-searchclear, .zc-filter-text .filter-searchclear {
  right: 43px !important;
  top: 19px !important;
}