@charset "UTF-8";

@font-face {
  font-family: "moreicons";
  src:url("../fonts/icons/moreicons.eot");
  src:url("../fonts/icons/moreicons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons/moreicons.woff") format("woff"),
    url("../fonts/icons/moreicons.ttf") format("truetype"),
    url("../fonts/icons/moreicons.svg#moreicons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "moreicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="tss-"],
[class^="tss-"]:before,
[class*=" tss-"]:before {
  font-family: "moreicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tss-address:before {
  content: "\e000";
}
.tss-favorites:before {
  content: "\e001";
}
.tss-logout:before {
  content: "\e002";
}
.tss-profile:before {
  content: "\e003";
}
.tss-your-orders:before {
  content: "\e004";
}
