<header class="zc-header zc-blank-layout-header">
    <div class="zc-header-left ml-3">
      <!-- <a class="zc-logo"><img alt="Logo" src="https://cdn.v35.dev.zeroco.de/apollo_rider/themes/apollo_rider/images/head-logo.png"></a> -->
      <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
        <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
      </a>
    </div>
    <div class="zc-header-meddile" > 
      <!-- <p><span>You are logged in as </span><span class="zc-user-name"> {{ ly.userDetails.name }}</span></p> -->
      <!-- <span class="zc-switch-back">Click here to <a href="#">Switch Back</a></span> -->
      <h2>Vivekagam Logistics System</h2>
    </div>
  
    <div class="zc-header-right">
      
      <ul class="zc-header-right-list ml-auto" *ngIf="ly.pageTitle != 'Rider Help'">
        <!-- <li class="zc-notifications zc-records-notification">
          <zc-com-render
            type="notifications"
            [options]="ly.siteConfig"
          ></zc-com-render>
        </li> -->
         <!-- <li class="zc-notifications">
          <zc-com-render
            type="notifications"
            [options]="ly.siteConfig"
          ></zc-com-render>
        </li> -->
        <!-- <li>
            <zc-com-render  type="app-selection" [options]="{ type:'dropdown' }"></zc-com-render>
        </li> -->
        <li class="zc-profile-dp-list d-md-flex d-none">
          <div ngbDropdown class="zc-profile-dp" placement="bottom-right">
            <a class="zc-profile-dp-link" id="userdroupdown" ngbDropdownToggle>
              <span class="welcome-user-pic"
                *ngIf="!(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                <img src="https://cdn.v35.dev.zeroco.de/apollo_rider/themes/apollo_rider/images/user.png" alt="logo" />
              </span>
              <span class="welcome-user-pic"
                *ngIf="(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                <img [src]="ly.siteConfig.fileServer + 'get/' +ly.userDetails.pic[0]['path']" alt="logo" />
              </span>
              <span class="welcome-widget">
                <!-- <span class="welcome">Welcome </span> -->
                <div class="welcome-user" title="{{ ly.userDetails.name }}"> {{ ly.userDetails.name }}<span
                  class="zc-user-role">({{
                  ly.userDetails?.login_unique }})</span></div>
                <div class="zc-user-info">
                  <label *ngIf="ly.userDetails.role?.name">{{
                    ly.userDetails.role.name
                  }}</label>
                  <label *ngIf="ly.userDetails.addInfo?.branch">{{
                    ly.userDetails.addInfo.branch?.label
                  }}</label>
                  <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                      ly.userDetails.phone?.value
                    }}
                  </label>
                </div>
              </span>
            </a>
  
            <div ngbDropdownMenu aria-labelledby="userdroupdown" class="zc-profile-dp-menu">
              <ul class="zc-profile-dp-menu-list">
                <li>
                  <!-- <div class="zc-user-info">
                    <label *ngIf="ly.userDetails.role?.name">{{
                      ly.userDetails.role.name
                    }}</label>
                    <label *ngIf="ly.userDetails.addInfo?.branch">{{
                      ly.userDetails.addInfo.branch?.label
                    }}</label>
                    <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                        ly.userDetails.phone?.value
                      }}
                    </label>
                  </div> -->
                  <span class="welcome-widget d-lg-none">
                    <!-- <span class="welcome">Welcome </span> -->
                    <div class="welcome-user" title="{{ ly.userDetails.name }}"> {{ ly.userDetails.name }}</div>
                    <div class="zc-user-info">
                      <label *ngIf="ly.userDetails.role?.name">{{
                        ly.userDetails.role.name
                      }}</label>
                      <label *ngIf="ly.userDetails.addInfo?.branch">{{
                        ly.userDetails.addInfo.branch?.label
                      }}</label>
                      <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                          ly.userDetails.phone?.value
                        }}
                      </label>
                    </div>
                  </span>
                </li>
                <ng-container *ngIf="ly.siteConfig && ly.siteConfig.profileLinks.length > 0">
                  <li *ngFor="let link of ly.siteConfig.profileLinks">
                    <ng-container [ngSwitch]="link.type">
                      <!--
                        <a *ngSwitchCase="external" [href]="link.url" class="dropdown-item" target="link.target">{{link.title}}</a>
                      -->
                      <a *ngSwitchDefault [routerLink]="['/' + link.url]" class="dropdown-item"
                        [target]="link.target">{{ link.title }}</a>
                    </ng-container>
                  </li>
                </ng-container>
                <li>
                  <button class="dropdown-item" routerLink="/zcbase/account/profile"><span class="icon-user"></span> Profile</button>
                </li>            
                <li>
                  <button class="dropdown-item" routerLink="/zcbase/account/change-password"><span class="icon-lock-2"></span>Change Password</button>
                </li>
                <li *ngIf="ly.userDetails && ly.userDetails['multiple-apps']">
                  <button class="dropdown-item" routerLink="/zcbase/account/app-selection"><span class="icon-server"></span>App Selection</button>
                </li>
                <!-- <li>
                  <button class="dropdown-item" routerLink="/zcbase/account/delegation-creation">Delegation Creation</button>
                </li> 
                <li>
                  <button class="dropdown-item" routerLink="/zcbase/account/delegation-received">Delegation Received</button>
                </li>  -->
                <li>
                  <button id="logout" class="dropdown-item" (click)="ly.logout()">
                    <span class="icon-sign-out"></span>Logout
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
  
  <div class="blank-layout">
    <div class="main-content" [ngClass]="ly.pageTitle">
      <router-outlet></router-outlet>
    </div>
  </div>