@page {
  size: A4 portrait;
  border-left: 13px solid #ffe600;
  margin: 0 0 60px;
  padding: 20px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;

  @top-left {
    content: element(header);
  }

  @bottom-center {
    content: element(footer);
  }
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.mb-3 {
  margin-bottom: 12px;
}

.header {
  width: 100%;
  padding: 15px 0;
  position: running(header);
}

.logo {
  float: right;
}

.footer {
  position: running(footer);
  border-left: 13px solid #ffe600;
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

#pageFooter:after {
  counter-increment: page;
  content: counter(page);
}

table {
  width: 97%;
}

.page-break {
  page-break-inside: avoid;
}

.custom-label {
  color: #787373;
}

table.data_table {
  border-collapse: collapse;
}

table.data_table td,
table.data_table th {
  border: 1px solid #444444;
  padding: 5px;
  width: inherit;
}

table.data_table th {
  background-color: #d9d9d9;
  color: #000;
}

.oddRow {
  background: #FFFFCC;
}

.sample-table tr td {
  vertical-align: top;
}

.custom-heading {
  /*border-bottom: 1px solid #000;*/
  display: inline-block;
  font-size: 16px
}

.custom-sub-heading {
  font-size: 16px;
  /* border-bottom: 1px solid #000;*/
  display: inline-block;
}

th {
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0;
}

td {
  padding: 5px 0;
  font-size: 14px;
  width: 50%;
}