.zc-loading {
  display: none;
}

zc-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zc-login zc-form, zc-login zc-form {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

zc-form {
  padding: 15px;
  border: 1px solid #c8c8c8;
  background-color: #fff;
  border-radius: 3px;
  display: block;
}

zc-form h3 {
  margin: 0;
}

.zc-login-left zc-form, .zc-login-right zc-form, .zc-login zc-login zc-form {
  padding: 0px;
  border: 0px;
  background-color: transparent;
  border-radius: 0px;
  max-width: inherit;
}

/* .block {
  margin-bottom: 5px;
} */

/* Layout Header styles start*/

header.zc-header {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  padding: 0 20px;
  width: 100%;
  z-index: 99;
}

.zc-header-left a {
  color: #000;
  display: flex;
}

.zc-header .zc-header-left .zc-logo img {
  width: auto;
  height: 28px;
}

.zc-header .zc-header-right, .zc-header .zc-header-right .zc-header-right-list, .zc-header .zc-header-right .zc-header-right-list li, .zc-profile-dp, .zc-profile-dp-link {
  display: flex;
  height: 100%;
  align-items: center;
}

.zc-profile-dp-menu:before {
  color: #7f7f7f;
  content: "";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  right: 15px;
  top: -10px;
}

.zc-profile-dp-menu:after {
  color: #7f7f7f;
  content: "";
  display: block;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  right: 15px;
  top: -9px;
}

.zc-profile-dp-link.dropdown-toggle:after {
  color: #000;
}

.zc-header .zc-header-right ul li .zc-profile-dp a .welcome-user {
  color: #000;
}

.zc-profile-dp-menu {
  border: 1px solid #cccccc;
  margin: 0;
  padding: 0;
}

.zc-user-info {
  padding: 10px 15px;
}

.zc-profile-dp-menu .zc-profile-dp-menu-list li {
  border-bottom: 1px solid #cccccc;
}

.zc-profile-dp-menu .zc-profile-dp-menu-list li a {
  background-color: #ef008c;
  border-radius: 0;
}

.zc-profile-dp-menu .zc-profile-dp-menu-list li a:hover {
  background-color: #4d1336;
}

.zc-profile-dp-menu .zc-profile-dp-menu-list li .dropdown-item {
  /* background-color: #cccccc; */
  border-radius: 0;
  color: #000;
  cursor: pointer;
  padding: 10px 15px;
}

.zc-profile-dp-menu .zc-profile-dp-menu-list li .dropdown-item:hover {
  background-color: #b0aeae;
}

.welcome-user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.welcome-user-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.welcome-widget {
  text-align: left;
  font-size: 14px;
}

.welcome-user {
  color: #03529c;
  max-width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: block; */
  width: 100%;
  overflow: hidden;
}
.custom-checkbox .custom-control-label,
.custom-radio .custom-control-label {
  display: block;
  padding-right: 15px;
}
/* Layout Header styles end*/

/* Breadcrumb styles start*/

.breadcrumb-widget {
  background-color: #a5a5bf;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
  place-content: center space-between;
  align-items: center;
  /* justify-content: flex-start; */
}

.breadcrumb-widget .zc-breadcrumb-left {
  color: #fff;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex: 1 1 0%;
}

.breadcrumb-widget .zc-breadcrumb-left ul {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.breadcrumb-widget .zc-breadcrumb-left ul li .bredcrumb-item {
  font-size: 12px;
  padding-right: 4px;
}

.zc-breadcrumb-right {
  display: flex;
}

/* Breadcrumb styles end*/

/* Grid filter styles start*/

.zc-data-list-title.pl-2 {
  padding-left: 0 !important;
}

.filter-header h2 {
  padding: 7px;
  font-size: 20px;
  color: #fff;
}

.zc-table-header.top {
  padding-bottom: 5px;
  position: relative;
}

.zc-table-header.top .table-header {
  align-items: flex-end;
}

.zc-table-header.top .zc-data-list-title {
  color: #000 !important;
  padding-left: 0px !important;
}

.zc-table-header.top .filter-header {
  align-items: flex-end;
  background-color: transparent;
}

.zc-table-header.top .filter-header h2 {
  flex: 1;
  margin: 0;
  padding: 0 10px 0 0;
  font-size: 20px;
  color: #000;
}

/* .zc-table-header.top .table-header-right {
  justify-content: inherit;
  flex: 1 1 auto;
  padding-bottom: 0;
} */

/* .zc-table-header.top .table-header-right .filter-position-top {
  width: 100%;
  flex: 1;
} */

.zc-table-header.top .table-header-right .filter-position-top zc-data-list-filter {
  display: flex;
}

.zc-table-header.top .table-header-right .filter-position-top zc-data-list-filter .fltr-btns-widget {
  margin: 0;
}

.zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters {
  display: flex;
  flex: 1;
  align-items: flex-end !important;
}

.zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters .ui-fluid-filters-div {
  width: auto;
  padding: 0 0 0 5px;
}

.zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters .ui-fluid-filters-div .ui-dropdown {
  height: 37px;
}

.zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters .ui-fluid-filters-div .ui-dropdown-label {
  height: 100%;
  padding-right: 45px !important;
}

.zc-table-filter-widget-left .ui-placeholder, .zc-table-filter-widget-right .ui-placeholder, .zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters .ui-fluid-filters-div .ui-dropdown-label.ui-placeholder {
  font-size: 12px !important;
  color: #999;
}

.zc-table-header.top .table-header-right .group-actions {
  align-items: flex-end;
}

.table-header-right .group-actions .zc-form-add-btn.for-group .btn {
  margin-left: 5px;
}

/* left filters styles */

.zc-table-filter-widget-right .zc-filter-select .ui-inputgroup>input, .zc-table-filter-widget-right .zc-filter-date .ui-inputgroup>input, .zc-table-filter-widget-right .zc-filter-text .ui-inputgroup>input, .zc-table-filter-widget-right .zc-filter-number .ui-inputgroup>input, .zc-table-filter-widget-left .zc-filter-select .ui-inputgroup>input, .zc-table-filter-widget-left .zc-filter-date .ui-inputgroup>input, .zc-table-filter-widget-left .zc-filter-text .ui-inputgroup>input, .zc-table-filter-widget-left .zc-filter-number .ui-inputgroup>input {
  height: 37px;
  color: #232c36;
  line-height: 2;
  border-radius: 0.2rem !important;
  border: 1px solid #e0e0e0;
}


/* left filters styles end*/

.form-group.view .readonly{
  pointer-events: none;
}

.zc-filter-checkbox .form-check {
  padding-left: 0;
}

.zc-filter-checkbox .filter-check-input {
  width: auto;
  height: inherit;
}

.zc-table-header .zc-filter-date .ui-inputgroup>input, .zc-table-header .zc-filter-number .ui-inputgroup>input, .zc-table-header .zc-filter-select .ui-inputgroup>input, .zc-table-header .zc-filter-text .ui-inputgroup>input {
  border-radius: 0px !important;
  border: 1px solid #ccc;
}

.zc-table-header .filter-position-top .ui-dropdown.ui-widget {
  border-radius: 0px !important;
  border: 1px solid #ccc!important;
}

/* Grid filter styles end*/
.modal-dialog zc-form{
  padding: 0;
}
.zc-fg-no-margin .form-group {
  margin: 0 !important;
}
.form-group.view .form-group-label {
  color: rgba(0,0,0,0.5);
}
.zc-avatar-widget{
  display: flex;
  align-items: center;
}
.zc-avatar-widget .zc-avatar-image{
  min-width: 25px;
  width: 25px !important;
  height: 25px;
  margin-right: 10px;
  display: inline-block !important;
}
.zc-avatar-widget .zc-avatar-image img{
  width: 100%;
  object-fit: contain;
}
.zc-form-no-border zc-form {
  border: none;
}
.zc-no-styles-form zc-form {
  background-color: transparent;
  padding: 0 !important;
  border: none !important;
}
@media (max-width: 1160px) {
  .zc-table-header.top .filter-header h2 {
    font-size: 16px;
  }
  .zc-table-filter-widget-left .filter-header h2 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  header.zc-header {
    padding: 15px;
  }
  .filter-header h2 {
    color: #000;
  }
  .zc-table-header.top .table-header-right {
    flex-direction: column;
    width: 100%;
  }
  /* .zc-table-header.top .table-header {
    position: absolute;
    width: auto;
    left: 0;
    top: 10px;
  } */
  .zc-table-header.top .table-header-right .filter-position-top {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
  }
  .zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters {
    flex-direction: column;
  }
  .zc-table-header.top .table-header-right .group-actions {
    padding-bottom: 5px;
    padding-left: 0px;
    order: -1;
    justify-content: flex-end;
  }
  .zc-table-header.top .table-header-right .filter-position-top zc-data-list-filter {
    flex-direction: column;
  }
  .zc-table-header.top .table-header-right .filter-position-top .zc-data-list-filters .ui-fluid-filters-div {
    padding: 0 0 0 0px;
    width: 100%;
  }
  .zc-table-header.top .table-header-right .filter-position-top .filter-footer {
    width: 100%;
    padding-top: 5px;
  }
  .zc-table-header.top .table-header-right .filter-position-top .filter-footer .filter-clear-btn {
    margin-left: 0px;
  }
  .zc-table-body {
    flex-direction: column;
  }
  .zc-table-filter-widget+.zc-widget-data-list {
    padding-left: 0px !important;
    padding-top: 5px;
  }
  .col-3.zc-table-filter-widget.zc-table-filter-widget-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0 !important;
    order: -1;
    padding-bottom: 5px;
  }
  .col-3.zc-table-filter-widget.zc-table-filter-widget-left {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .zc-table-filter-widget-right .filter-header h2, .zc-table-filter-widget-left .filter-header h2 {
    font-size: 16px !important;
  }
  .zc-table-filter-widget-right .filter-header, .zc-table-filter-widget-left .filter-header, .zc-table-filter-widget-right .filter-footer, .zc-table-filter-widget-left .filter-footer {
    background-color: transparent !important;
  }
  .zc-table-filter-widget-right .filter-footer, .zc-table-filter-widget-left .filter-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  .zc-table-filter-widget-right .filter-footer .row.col.justify-content-md-center.m-0, .zc-table-filter-widget-left .filter-footer .row.col.justify-content-md-center.m-0 {
    padding: 0px !important;
  }
  .zc-table-filter-widget.zc-table-filter-widget-right .zc-table-filter, .zc-table-filter-widget.zc-table-filter-widget-left .zc-table-filter {
    background-color: #ffffff !important;
  }
  .zc-table-filter-widget-right .zc-data-list-filters, .zc-table-filter-widget-left .zc-data-list-filters {
    border-radius: 3px;
    margin-top: 0px;
  }
  .zc-table-filter-widget-right .zc-data-list-filters .ui-fluid-filters-div, .zc-table-filter-widget-left .zc-data-list-filters .ui-fluid-filters-div {
    border-bottom: none !important;
    padding-bottom: 0px !important;
  }
  .zc-table-filter-widget-right .zc-data-list-filters .ui-fluid-filters-div .filter-container.ui-g-12, .zc-table-filter-widget-left .zc-data-list-filters .ui-fluid-filters-div .filter-container.ui-g-12 {
    padding: 0 10px;
  }
}
@media (max-width:640px) {
   /*table responsive start*/
 .zc-widget-data-list .ui-table .ui-table-tbody > tr > td{
  flex: 1 1 100%;
  padding: 5px 0 !important;
  border-bottom: 1px solid #ccc !important;
  line-height: 18px;
}
.zc-widget-data-list .ui-table .ui-table-tbody > tr > td:first-child{
 padding-left:0 !important;
 padding-top: 0px !important;
}
.zc-widget-data-list .ui-table .ui-table-tbody > tr > td:last-child{
 border-bottom: 0px solid #ccc !important;
 padding-bottom: 0px !important;
}
.ui-table-responsive .ui-table-tbody>tr>td .ui-column-title{
 margin: 0 0 2px 0 !important;
 padding: 0;
 font-size: 13px;
 
}
.zc-widget-data-list .ui-table-tbody > tr > td span {
 text-overflow: inherit;
 white-space: inherit;
 overflow: inherit;
 width: 100%;
 font-size: 13px;
 color: #000000;
}
.zc-widget-data-list .ui-table-tbody > tr > td span img{
 width: 100%;
 height: 200px;
 object-fit: cover;
 border-radius: 8px !important;
}
.zc-widget-data-list .ui-table-responsive .ui-table-tbody>tr{
 padding: 10px 15px 10px;
 border-radius: 10px;
 box-shadow: 1px 0px 7px 0px #a7a5a5;
 margin-bottom: 10px;
}
.ui-table table tbody.ui-table-tbody tr:hover{
 background-color: #f8f8f8 !important;
}
.table-view zc-actions .zc-form-add-btn{
 float: left;
}
/*table responsive end*/
}

@media (max-width:576px) {
  .zc-header .zc-header-left .zc-logo img {
    max-width: 150px;
    object-fit: contain;
  }
}