<header class="zc-header">
  <div class="zc-header-left ml-3">
    <!-- <a class="zc-logo"><img alt="Logo" src="{{ly.siteConfig.cdnUrl}}/apollo_cms/themes/apollo_cms/images/head-logo.png"></a> -->
    <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
      <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
    </a>
  </div>
  <div class="zc-header-meddile" *ngIf="ly.userDetails && ly.userDetails.rootUser">
    <p><span>You are logged in as </span><span class="zc-user-name"> {{ ly.userDetails.name }}</span></p>
    <!-- <span class="zc-switch-back">Click here to <a href="#">Switch Back</a></span> -->
  </div>
</header>

<div class="guest-layout">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>