<div class="blank-layout" [ngClass]="ly.pageTitle">
  <header class="zc-header zc-home-header">
    <div class="container">
        <div class="zc-top-menu-block">
            <div class="zc-top-menu">  
            <a href="javascript:;" class="header-contact"><i class="icon icon-mobile"></i> <span>+91 9290861740</span></a>
            <a href="javascript:;" class="header-mail"><i class="icon icon-envelope-o"></i> <span>info@naarm.org.in</span></a>
            </div>
            <div class="zc-top-menu-right">
                <a href="javascript:;"><i class="icon icon-twitter"></i></a>
                <a href="javascript:;"><i class="icon icon-instagram"></i></a>
                <a href="javascript:;"><i class="icon icon-facebook"></i></a>
                <a href="javascript:;"><i class="icon icon-google-plus"></i></a>
            </div>
        </div>
        <div class="zc-main-header">
        <div class="zc-header-left">    
            <!-- <div class="col-1 sidebar-toggle">
              <a  fxHide fxShow.lt-sm class="icon-bars " (click)="ly.toggleMenu();"></a>
            </div> -->
            <a class="zc-logo" routerLink="/">
              <!-- <img [src]="ly.siteConfig.clientLogo" alt="Logo" /> -->
              <img src="../../assets/themes/cm/images/home-logo.png">
            </a>  
            <div class="zc-horizontal-menu">
                
              <div class="side-menu">
                  <ul class="zc-menu">
                      <li class="nav-item"><a class="nav-link active" href="/zcbase/home/home">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="course_management/courses/courses">Courses</a></li>
                      <!-- <li class="active"><a href="">Home</a></li> -->
                  </ul>
              </div>
            </div>  
        </div>
        <div class="zc-main-header-right">
            <div class="zc-header-search" title="Search">
                <i class="icon icon-search-logo"></i>
            </div>
            <button class="btn btn-secondary learner-login-btn">Learner Login</button>
            <button class="btn btn-danger ml-1">Registration</button>
        </div>
        </div>
    </div>
  </header>
  <header class="zc-header zc-courses-header">
    <div class="zc-top-menu">
      <a href="javascript:;" class="header-contact"><i class="icon icon-mobile"></i> <span>+9290861740</span></a>
      <a href="javascript:;" class="header-mail"><i class="icon icon-envelope-o"></i> <span>info@naarm.org.in</span></a>
    </div>
    <div class="zc-main-header">
     <div class="zc-header-left">    
        <!-- <div class="col-1 sidebar-toggle">
          <a  fxHide fxShow.lt-sm class="icon-bars " (click)="ly.toggleMenu();"></a>
        </div> -->
        <a class="zc-logo" routerLink="/">
            <img src="../../assets/themes/cm/images/home-logo.png">
        </a>  
        <div class="zc-horizontal-menu">
          <!-- <div class="side-menu" [ngClass]="ly.menuState">
            <zc-com-render type="menu" [options]="{ app: ly.currentApp }"></zc-com-render>
          </div> -->
          <ul class="zc-menu">
            <li class="nav-item"><a class="nav-link" href="/zcbase/home/home">Home</a></li>
            <li class="nav-item"><a class="nav-link active">Courses</a></li>
            <!-- <li class="active"><a href="">Home</a></li> -->
          </ul>
        </div>  
     </div>
    <!-- <div class="zc-header-middle">
      <div class="zc-horizontal-menu">
        <div class="side-menu" [ngClass]="ly.menuState">
          <zc-com-render type="menu" [options]="{ app: ly.currentApp }"></zc-com-render>
        </div>
      </div>
    </div> -->
  
    <div class="zc-header-right">
      <ul class="zc-header-right-list">
        <li class="zc-header-search" title="Search">
          <i class="icon icon-search-logo"></i>
        </li>
        <!-- <li class="zc-notifications">
          <zc-com-render
            type="notifications"
            [options]="ly.siteConfig"
          ></zc-com-render>
        </li> -->
        <!-- <li>
            <zc-com-render  type="app-selection" [options]="{ type:'dropdown' }"></zc-com-render>
        </li> -->
        
       <li>
          <button type="button" class="btn btn-outline-light login-btn" routerLink="/zcbase/account/login" routerLinkActive="router-link-active">Login</button>
       </li>
      </ul>
    </div>
  </div>
  <!-- <div class="zc-vertical-menu">
    <div class="side-menu" [ngClass]="ly.menuState">
      <zc-com-render type="menu" [options]="{ app: ly.currentApp }"></zc-com-render>
    </div>
  </div> -->
  </header>
  <div class="breadcrumb-widget">
    <div fxFlex class="zc-breadcrumb-left">
      <ul *ngIf="ly.breadcrumb && ly.breadcrumb.length > 0">
        <li *ngFor="let item of ly.breadcrumb; let _inx = index">
          <span class="arrow-divide" *ngIf="_inx">{{ ' / ' }}</span>
          <span class="no-link" *ngIf="!item.url">
            <span zcBreadcrumb [breadcrumb]="item"></span>
          </span>
          <a *ngIf="item.url" class="bredcrumb-item" [routerLink]="[item.url]" routerLinkActive="router-link-active">
            <span zcBreadcrumb [breadcrumb]="item"></span>
          </a>
        </li>
      </ul>
    </div>
    <div fxFlex class="zc-breadcrumb-right">
      <i *ngIf="ly.backBtn" class="icon-arrow-circle-o-left back-btn" (click)="ly.backClicked()" title="Back"></i>
    </div>
  </div>
  
    <router-outlet></router-outlet>
    <footer class="footer">
      <div class="container">
        <div class="footer-top">
        <div class="left-footer">
           <div class="footer-logo">
             <img src="assets/themes/cm/images/footer-logo.png">
           </div> 
           <span class="footer-logo-text">Product of Shine India Academy</span>
           <div class="footer-contact-details">
             <a href="javascript:;"><i class="icon icon-phone"></i><span>academiccell@naarm.org.in</span></a>
             <a href="javascript:;"><i class="icon icon-envelope"></i><span>+91-40-24581307/310/303/429,</span></a>
           </div>
        </div>
        <div class="middle-footer">
           <a href="javascript:;">Home</a>
           <a href="javascript:;">Accommodation</a>
           <a href="javascript:;">How to Apply</a>
           <a href="javascript:;">How to Reach NAARM</a>
           <a href="javascript:;">Nomination Form</a>
           <a href="javascript:;">Contact Details</a>    
           <a href="javascript:;">Payment of Fees</a>   
        </div>
        <div class="right-footer">
          <div><img src="assets/themes/cm/images/google-play.png"></div>
          <div><img src="assets/themes/cm/images/app-store.png"></div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-left">
          <p>© 2020. All rights reserved.</p>
        </div>
        <div class="footer-bottom-middle">
          <a href="javascript:;">Privacy Policy</a>
          <a href="javascript:;">Terms of Use</a>
          <a href="javascript:;">FAQ’s</a>
        
        </div>
        <div class="footer-bottom-right">
          <a href="javascript:;"><i class="icon icon-twitter"></i></a>
          <a href="javascript:;"><i class="icon icon-instagram"></i></a>
          <a href="javascript:;"><i class="icon icon-facebook"></i></a>
          <a href="javascript:;"><i class="icon icon-google-plus"></i></a>
        </div>
      </div>
      </div>
    </footer>
</div>
