.sale-info ,
.sale-summary {
    overflow-x: auto;
}
.sale-info,
.sale-summary-report{
    width: auto;
    border-spacing: 0 2px;
}
.sale-info .channel-info ,
.sale-summary-report .channel-info {
    text-align: right;
    padding: 0 0px;
    font-weight: bold;
    text-transform: capitalize;
    display: block !important;
}
.sale-info td,
.sale-summary-report td{
    border: 1px solid #ccc;
    height: 24px;
    text-align: center;
    padding: 3px;
    width: 35px;
    background-color: #fff;
    border-right: 0px solid #ccc !important;
}
.sale-info td, .sale-summary-report td:last-child{
    border-right: 1px solid #ccc;
}
.sale-info td.channelDetails,
.sale-summary-report td.channelDetails {
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    min-width: 140px;
    cursor: pointer;
}
.sale-info td.excutiveNameCls:first-child,
.sale-summary-report td.excutiveNameCls{
    border: none;
    background: transparent;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.sale-info .tar,
.sale-summary-report .tar{
    background-color: #8de34c !important;
    border:1px solid #8de34c !important;
    text-align: center;
    padding: 3px 0;
    height: 24px;
    width: 26px;    
}
.sale-info .achv,
.sale-summary-report .achv{
    background-color: #ff8383 !important;
    border:1px solid #ff8383 !important;
    text-align: center;
    padding: 3px 0;
    height: 24px;
    width: 26px;
}
.sale-info .bal,
.sale-summary-report .bal{
    background-color: #40b5d9 !important;
    /* border-right:5px solid #f6f8fa !important; */
    text-align: center;
    height: 24px;
    padding: 3px 0;
    width: 26px;
}
.report-legends span{
    margin-right: 10px;
    padding: 1px 10px;
}
.report-legends{
    padding: 10px 0;
}
/* .executive-vs-sales-footer td.totalCls{
    background-color: #000;
    color: #fff;
} */
.footer-cls td{
    background-color: #ffe0c1;
}

/* .sale-summary-report thead tr th:first-child, */
.sale-info thead tr th:first-child{
    background: transparent;
}
.sale-summary-report thead tr th:last-child,
.sale-info thead tr th:last-child{
    background: transparent;
}
.sale-summary-report thead tr th,
.sale-info thead tr th{
    background: #000;
    color: #FFF;
    padding: 3px;
}
.sale-summary-report thead tr th.extra,
.sale-info thead tr th.extra{
    background: transparent;
}


