<div class="back-groud-image"></div>
<div class="login-container">
  <div class="login-block">
    <div class="login-left">
      <div class="logo">
        <img src="assets/themes/default/images/logo.svg" alt="">
      </div>
      <div class="content">
        <h3>World is becoming increasingly digital.</h3>
        <p>World is becoming increasingly digital. The demand for apps outstrips IT capacity by five to one. Digitization demands faster development cycles than IT is able to provide.</p>
        <p>With ZeroCode Start and accelerate your digital transformation journey. You can build and deploy software faster than you thought possible.</p>
      </div>
    </div>
    <div class="login-right">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="app-links" *ngIf="ly.appList && ly.appList.length>1">
    <ul class="nav">
      <li class="nav-item" *ngFor="let app of ly.appList">
        <a class="nav-link active" [routerLink]="[ '/'+app.code]">{{app.name}}</a>
      </li>
    </ul>
  </div>
</div>
