<div class="lang" [ngClass]="window.localStorage.getItem('lang')">
    <div class="guest-layout">
        <header class="zc-header">
            <div class="zc-header-left">
                <div>
                    <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo && window.innerWidth>767">
                        <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
                    </a>
                    <a class="zc-logo" *ngIf="window.innerWidth<=767">
                        <img src="{{ly.siteConfig.cdnUrl}}/machs/themes/machs/images/mobile-logo.png" alt="Logo" />
                    </a>
                </div>
                <span class="zc-beta">Beta</span>
            </div>
            <div class="zc-header-meddile">

                <!-- <p><span>You are logged in as </span><span class="zc-user-name"> {{ ly.userDetails.name }}</span></p> -->
                <!-- <span class="zc-switch-back">Click here to <a href="#">Switch Back</a></span> -->
            </div>

            <div class="zc-header-right" *ngIf="ly.pageTitle == 'home' && !ly.userDetails.uid">
                <div class="zc-global-toggle">
                    <button type="button" (click)="window.localStorage.setItem('lang','en');window.location.reload();"
                        class="btn btn-success"><span>English</span></button>
                    <button type="button" (click)="window.localStorage.setItem('lang','ar');window.location.reload();"
                        class="btn btn-success"><span>عربي</span></button>
                </div>
                <button type="button" class="btn btn-primary mx-1 d-none d-md-block"
                    routerLink="/zcbase/account/user-registration"><span
                        *ngIf="window.localStorage.getItem('lang')=='en' || window.localStorage.getItem('lang')== null">Apply
                        Now</span><span *ngIf="window.localStorage.getItem('lang')=='ar'">قدم الآن</span></button>
                <button type="button" class="btn btn-success zc-login-btn" routerLink="/zcbase/account/login"><i
                        class="icon-sign-in"></i><span
                        *ngIf="window.localStorage.getItem('lang')=='en' || window.localStorage.getItem('lang')== null">Login</span><span
                        *ngIf="window.localStorage.getItem('lang')=='ar'">تسجيل الدخول</span></button>
            </div>
            <div class="zc-header-right" *ngIf="ly.userDetails && ly.userDetails.uid">
                <div class="zc-global-toggle">
                    <button type="button" (click)="window.localStorage.setItem('lang','en');window.location.reload();"
                        class="btn btn-success"><span>English</span></button>
                    <button type="button" (click)="window.localStorage.setItem('lang','ar');window.location.reload();"
                        class="btn btn-success"><span>عربي</span></button>
                </div>
                <button type="button" class="btn btn-success" [routerLink]="['/'+ly.userDetails.redirectUrl]"><span
                        *ngIf="window.localStorage.getItem('lang')=='en' || window.localStorage.getItem('lang')== null">My
                        Account</span><span *ngIf="window.localStorage.getItem('lang')=='ar'">حسابي</span></button>
            </div>
            <div class="zc-header-right" *ngIf="ly.pageTitle != 'home'">
                <div class="zc-global-toggle">
                    <button type="button" (click)="window.localStorage.setItem('lang','en');window.location.reload();"
                        class="btn btn-success"><span>English</span></button>
                    <button type="button" (click)="window.localStorage.setItem('lang','ar');window.location.reload();"
                        class="btn btn-success"><span>عربي</span></button>
                </div>
                <button type="button" class="btn btn-transparent" routerLink="/" title="home"><i
                        class="icon-home-1"></i></button>
            </div>
        </header>

        <div class="zc-icons-menu zc-menu-advanced">
            <div id="myCanvasNav" class="menu-overlay" (click)="ly.toggleMenu()"></div>
            <!-- Menu end -->

            <!-- Main content layout-->
            <div [ngClass]="{'breadcrumb-contain': (ly.breadcrumb && ly.breadcrumb.length > 0)?true:false}">
                <div class="main-content" [ngClass]="ly.menuState">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>