<div class="blank-layout p-0">
    <!-- <div class="blank-layout-sub"> -->
    <!-- <div class="zc-client-logo">
            <img src="https://cdn.v35.dev.zeroco.de/ourfoods/themes/ourfoods/images/login-logo.png">
        </div> -->
    <header class="zc-header" *ngIf="!ly.backBtn || window.innerWidth > 767">
        <div class="zc-header-left">
            <a href="javascript:;" class="icon-bars sidebar-toggle d-md-none" (click)="ly.toggleMenu()"
                matTooltip="Click to toggle Menu" matTooltipPosition="right"></a>

            <!-- <a class="zc-logo"><img alt="Logo" src="assets/themes/default/images/head-logo.png"></a> -->
            <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo" [routerLink]="['/'+ly.userDetails.redirectUrl]">
                <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
            </a>
        </div>
        <div class="zc-header-right col">


            <ul class="zc-header-right-list ml-auto">

                <!-- <li class="zc-notifications">
                   
                    <zc-com-render type="notifications"
                        [options]="{allUrl:'/apollo/notifications/notifications',notificationUrl:'/apollo/notifications/notification-view/'}">
                    </zc-com-render>
                </li> -->
                <!-- <li>
                    <zc-com-render  type="app-selection" [options]="{ type:'dropdown' }"></zc-com-render>
                </li> -->
                <li class="zc-profile-dp-list d-md-flex d-none">
                    <div ngbDropdown class="zc-profile-dp" placement="bottom-right">
                        <a class="zc-profile-dp-link" id="userdroupdown" ngbDropdownToggle>

                            <span class="welcome-widget">
                                <!-- <span class="welcome">Welcome </span> -->
                                <div class="welcome-user"
                                    title="{{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}">
                                    {{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}</div>
                                <div class="zc-user-info">
                                    <label *ngIf="ly.userDetails.role?.name" title="{{
                                        ly.userDetails.role.name
                                        }}">{{
                                        ly.userDetails.role.name
                                        }}</label>
                                    <label *ngIf="ly.userDetails.addInfo?.branch" title="{{
                                        ly.userDetails.addInfo.branch?.label
                                        }}">{{
                                        ly.userDetails.addInfo.branch?.label
                                        }}</label>
                                    <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                                        ly.userDetails.phone?.value
                                        }}
                                    </label>
                                </div>
                            </span>
                            <span class="welcome-user-pic"
                                *ngIf="!(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                                <img src="assets/themes/default/images/user.png" alt="logo" />
                            </span>
                            <span class="welcome-user-pic"
                                *ngIf="(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                                <img [src]="ly.siteConfig.fileServer + 'get/' +ly.userDetails.pic[0]['path']"
                                    alt="logo" />
                            </span>
                        </a>

                        <div ngbDropdownMenu aria-labelledby="userdroupdown" class="zc-profile-dp-menu">
                            <ul class="zc-profile-dp-menu-list">
                                <li>
                                    <!-- <div class="zc-user-info">
                            <label *ngIf="ly.userDetails.role?.label">{{
                              ly.userDetails.role.label
                            }}</label>
                            <label *ngIf="ly.userDetails.addInfo?.branch">{{
                              ly.userDetails.addInfo.branch?.label
                            }}</label>
                            <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                                ly.userDetails.phone?.value
                              }}
                            </label>
                          </div> -->
                                    <span class="welcome-widget d-lg-none">
                                        <!-- <span class="welcome">Welcome </span> -->
                                        <div class="welcome-user"
                                            title="{{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}">
                                            {{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}</div>
                                        <div class="zc-user-info">
                                            <label *ngIf="ly.userDetails.role?.name">{{
                                                ly.userDetails.role.name
                                                }}</label>
                                            <label *ngIf="ly.userDetails.addInfo?.branch">{{
                                                ly.userDetails.addInfo.branch?.label
                                                }}</label>
                                            <label *ngIf="ly.userDetails.phone?.isdCode">{{
                                                ly.userDetails.phone?.isdCode }}-{{
                                                ly.userDetails.phone?.value
                                                }}
                                            </label>
                                        </div>
                                    </span>
                                </li>
                                <ng-container *ngIf="ly.siteConfig && ly.siteConfig.profileLinks.length > 0">
                                    <li *ngFor="let link of ly.siteConfig.profileLinks">
                                        <ng-container [ngSwitch]="link.type">
                                            <!--
                                <a *ngSwitchCase="external" [href]="link.url" class="dropdown-item" target="link.target">{{link.title}}</a>
                              -->
                                            <a *ngSwitchDefault [routerLink]="['/' + link.url]" class="dropdown-item"
                                                [target]="link.target">{{
                                                link.title }}</a>
                                        </ng-container>
                                    </li>
                                </ng-container>
                                <li>
                                    <button class="dropdown-item" routerLink="/zcbase/account/profile"><span
                                            class="icon-user"></span>
                                        Profile</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" routerLink="/zcbase/account/change-password"><span
                                            class="icon-lock-2"></span>Change Password</button>
                                </li>
                                <li *ngIf="ly.userDetails && ly.userDetails['multiple-apps']">
                                    <button class="dropdown-item" routerLink="/zcbase/account/app-selection"><span
                                            class="icon-server"></span>App Selection</button>
                                </li>
                                <li>
                                    <button id="logout" class="dropdown-item" (click)="ly.logout()">
                                        <span class="icon-sign-out"></span>Logout
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <header class="zc-header" *ngIf="ly.backBtn && window.innerWidth <= 767">
        <div class="zc-header-left">
            <!-- <a class="zc-logo"><img alt="Logo" src="assets/themes/default/images/head-logo.png"></a> -->
            <!-- <a class="zc-logo" *ngIf="ly.siteConfig.clientLogo">
                <img [src]="ly.siteConfig.clientLogo" alt="Logo" />
            </a> -->
            <div [ngClass]="ly.pageTitle" class="d-flex">
                <!-- <img src="https://cdn.v35.dev.zeroco.de/ourfoods/themes/ourfoods/images/back-icon.png" class="back-btn"
            (click)="ly.backClicked()" title="Back"> -->
                <i *ngIf="ly.backBtn" class="icon-chevron-left back-btn back-btn-web" (click)="ly.backClicked()"
                    title="Back"></i>
                <span class="page-title">{{ly.pageTitle}}</span>

            </div>
        </div>
    </header>
    <div class="zc-icons-menu zc-menu-advanced">
        <div id="myCanvasNav" class="menu-overlay" (click)="ly.toggleMenu()"></div>

        <div class="side-menu d-md-none" [ngClass]="ly.menuState">
            <div class="d-md-none zc-profile-dp">
                <span class="icon icon-close" (click)="ly.toggleMenu()"></span>
                <div class="zc-profile-dp-link">
                    <span class="welcome-user-pic"
                        *ngIf="!(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                        <img src="assets/themes/default/images/user.png" alt="logo" />
                    </span>
                    <span class="welcome-user-pic"
                        *ngIf="(ly.userDetails && ly.userDetails.pic && ly.userDetails.pic.length > 0)">
                        <img [src]="ly.siteConfig.fileServer + 'get/' +ly.userDetails.pic[0]['path']" alt="logo" />
                    </span>
                    <span class="welcome-widget">
                        <!-- <span class="welcome">Welcome </span> -->
                        <div class="welcome-user" title="{{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}">
                            {{ly.userDetails?.first_name}} {{ly.userDetails?.last_name}}</div>
                        <div class="zc-user-info">
                            <label *ngIf="ly.userDetails.role?.name">{{
                                ly.userDetails.role.name
                                }}</label>
                            <label *ngIf="ly.userDetails.addInfo?.branch">{{
                                ly.userDetails.addInfo.branch?.label
                                }}</label>
                            <label *ngIf="ly.userDetails.phone?.isdCode">{{ ly.userDetails.phone?.isdCode }}-{{
                                ly.userDetails.phone?.value
                                }}
                            </label>
                        </div>
                    </span>
                    <span class="icon-sign-out" (click)="ly.logout()"></span>
                </div>
            </div>
            <div class="zc-mobile-side-menu">
                <ul (click)="ly.toggleMenu()">
                    <li>
                        <button class="dropdown-item" routerLink="/zcbase/account/profile"><span
                                class="icon-user"></span>
                            Profile</button>
                    </li>
                    <li>
                        <button class="dropdown-item" routerLink="/zcbase/account/change-password"><span
                                class="icon-lock-2"></span>Change Password</button>
                    </li>
                    <li *ngIf="ly.userDetails && ly.userDetails['multiple-apps']">
                        <button class="dropdown-item" routerLink="/zcbase/account/app-selection"><span
                                class="icon-server"></span>App
                            Selection</button>
                    </li>

                </ul>
                <!-- <zc-com-render type="menu" [options]="{ app: ly.currentApp, hideTooltip:true  }"></zc-com-render> -->
                <!-- <li> -->
                <button id="logout" class="btn btn-success logout-btn d-md-none" (click)="ly.logout()">
                    <!-- <span class="icon-sign-out"></span> -->
                    Logout
                </button>
                <!-- </li> -->
            </div>
            <div class="zc-devlopment-info d-flex d-md-none">
                <p>Powered by</p>
                <div class="zc-devlopment-logo">
                    <img src="https://cdn.v35.dev.zeroco.de/ourfood/themes/ourfood/images/white-logo.png">
                </div>
            </div>
        </div>
        <!-- Menu end -->

        <!-- Main content layout-->
        <!-- <div [ngClass]="{'breadcrumb-contain': (ly.breadcrumb && ly.breadcrumb.length > 0)?true:false}"> -->
        <div class="main-content" [ngClass]="ly.menuState">
            <router-outlet></router-outlet>
        </div>
        <!-- <footer>
            
            <p>Powered by</p>
           
            <img src="https://cdn.v35.dev.zeroco.de/ourfoods/themes/ourfoods/images/logo-foot.png">
           
          </footer> -->
        <!-- </div> -->
    </div>
    <footer>
        <div class="zc-devlopment-info">
            <p>Powered by</p>
            <div class="zc-devlopment-logo">
                <img src="https://cdn.v35.dev.zeroco.de/ourfood/themes/ourfood/images/logo-foot.png">
            </div>
        </div>
    </footer>
    <!-- </div> -->

</div>